<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="~{fragments/header :: header (datatables = true, checkbox = true)}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar (page = 'admin.group')}"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div th:replace="admin/groups/fragments/group-details :: view (group = ${group})"></div>
						</div>
						
						<div class="ibox" th:unless="${group == null || group.id == 0}">
							<div th:replace="admin/groups/fragments/group-members-list :: view"></div>
						</div>
					</div>

					<div th:replace="~{fragments/rightbar :: admin (page = 'admin.group')}"></div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts (datatables = true, checkbox = true)}"></div>

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		var initialMemberListShown = [[${!(group == null || group.id == 0)}]];
		var groupId = [[${group.id}]];
		var baseUrl = [[@{/}]];
		var restUrl = [[@{/rest/admin/groups/}]];
		+]*/

		// Token
		var token = $("meta[name='_csrf']").attr("content");

		// Initialization of page
		var groupService;
		$(document).ready(function() {
			groupService = new GroupService();
			groupService.init();
		});

		// Logic
		function GroupService() {
			this.init = function() {
				// Initialize datatable if necessary
				if (initialMemberListShown) {
					groupService.initMemberDatatable();
				}
			}

			this.initMemberDatatable = function() {
				var table = $('#viewMemberTable').DataTable({
					"destroy": true,
					"ajax": {
						"contentType": "application/json",
						"url": restUrl + groupId + "/members",
						"type": 'POST',
						"headers": {
							'X-CSRF-TOKEN': token
						},
						"data": function(d) {
						 	return JSON.stringify(d);
						}
					},
					"serverSide" : true,
					"columns": [
						{
							"data": "name",
							"orderable": false
						},
						{
							"data": "userId",
							"orderable": false
						},
						{
							"data": "domain",
							"orderable": false
						}
					],
					"ordering": true,
					"info": true,
					"pageLength": 10,
					"lengthChange": false,
					"bSort": false,
					"dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
					"responsive": true,
					"language": {
						"search":	   "Søg",
						"lengthMenu":   "_MENU_ brugere per side",
						"info":		 "Viser _START_ til _END_ af _TOTAL_ brugere",
						"zeroRecords":  "Ingen brugere...",
						"infoEmpty":	"Henter brugere...",
						"infoFiltered": "(ud af _MAX_ brugere)",
						"paginate": {
							"previous": "Forrige",
							"next": "Næste"
						}
					}
				});

				// configure searching
				$.each($('.input-filter', table.table().footer()), function() {
					var column = table.column($(this).index());

					$('input', this).on('keyup change', function () {
						if (column.search() !== this.value) {
							column.search(this.value).draw();
						}
					});
				});
			}

			this.viewGroupDetail = function(id) {
				if (!id || id == 0) {
					window.location = "/admin/konfiguration/grupper";
				}
				$('div[data-name="groupDetailsFragment"]').load('/admin/fragment/grupper/' + id + '/view/', function(responseText, textStatus, jqXHR) {
					if (jqXHR.status != 200) {
						toastr.error("Fejl: " + responseText);
					}
				});
			}

			this.viewGroupMembers = function(id) {
				$('div[data-name="groupMembersFragment"]').load('/admin/fragment/grupper/' + id + '/medlemmer/view/', function(responseText, textStatus, jqXHR) {
					if (jqXHR.status != 200) {
						toastr.error("Fejl: " + responseText);
					}
					groupService.initMemberDatatable();
				});
			}
		}
		/*]]>*/
	</script>
	
</body>
</html>
