<!DOCTYPE html>
<html>
<body>
	<div th:fragment="selfservice" class="col-lg-3">
		<div class="ibox">
			<div class="ibox-title">
				<h5><em class="fa fa-gear"></em> &nbsp; Handlinger</h5>
			</div>

			<div class="ibox-content">
				<div class="row">
					<ul>
						<li th:if="${@securityUtil.isLockedByPersonOnly()}"><a th:href="@{/selvbetjening/genaktiver}">Re-aktiver identitet</a></li>
						<li th:if="${@securityUtil.isUnlocked()}"><a th:href="@{/selvbetjening/spaerre}">Spær identitet</a></li>
						<li><a th:href="@{/selvbetjening/skiftkode}">Skift kodeord</a></li>
						<li th:if="${page != 'selfservice.index'}"><a th:href="@{/selvbetjening}">Gå til min identitet</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="ibox">
			<div class="ibox-title">
				<h5><em class="fa fa-share"></em> &nbsp; Referencer</h5>
			</div>

			<div class="ibox-content">
				<div class="row">
					<ul>
						<li><a th:href="@{/vilkaar}">Vilkår for anvendelse</a></li>
						<li><a th:href="@{/privatlivspolitik}">Privatlivspolitik</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
	<div th:fragment="admin" class="col-lg-3">
		<div class="ibox">
			<div class="ibox-title">
				<h5><em class="fa fa-gear"></em> &nbsp; Handlinger</h5>
			</div>

			<div class="ibox-content">
				<div class="row">
					<ul>
						<li><a th:href="@{/admin/logs}">Se hændelseslog</a></li>
						<li><a th:href="@{/admin/identiteter}">Se udstedte identiteter</a></li>
						<li><a th:href="@{/admin/rapporter}">Hent rapporter</a></li>
						<li><a th:href="@{/admin/infoboks}">Infoboks</a></li>
					</ul>
				</div>
			</div>
		</div>

		<div class="ibox" sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
			<div class="ibox-title">
				<h5><em class="fa fa-gears"></em> &nbsp; Konfiguration</h5>
			</div>

			<div class="ibox-content">
				<div class="row">
					<ul>
						<li><a th:href="@{/admin/konfiguration/password}">Opsæt passwordregler</a></li>
						<li><a th:href="@{/admin/konfiguration/vilkaar}">Opsæt anvendelsesvilkår</a></li>
						<li><a th:href="@{/admin/konfiguration/administratorer}">Administratorer</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>