<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar"></div>
			
			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="ibox offset-md-2 col-md-8">
						<div class="ibox-title">
							<h5><em class="fa fa-user"></em> &nbsp; Valider eksisterende kodeord</h5>
							<div class="ibox-tools">
								<a href="/konto/vaelgkode?doNotUseCurrentADPassword=true" class="btn btn-primary" style="display: inline;">Vælg et nyt kodeord</a>
							</div>
						</div>

						<div class="ibox-content">
							<p>
								I forbindelse med aktiveringen skal dit nuværende kodeord validers for om det overholde kravene til
								kodeords-kompleksitet. Angiv dit kodeord nedenfor og tryk på "Valider kodeord". Du kan også vælge at
								få et nyt kodeord, ved at trykke på knappen ovenfor.
							</p>

							<form class="m-t" role="form" action="#" th:action="@{/konto/valideradkodeord}" th:object="${validateADPasswordForm}" method="post">
								<div class="form-group">
									<input type="password" th:field="*{password}" class="form-control" placeholder="AD kodeord" autofocus="autofocus" />
									<ul th:if="${#fields.hasErrors('password') or wrongPassword == true}" class="error">
										<li th:if="${wrongPassword}">Kodeordet kunne ikke valideres. Prøv igen, eller vælg et nyt kodeord.</li>
										<li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
									</ul>
								</div>

								<button type="submit" class="btn btn-primary block full-width m-b">Valider kodeord</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style>
		ul.error li {
			color: red;
		}
	</style>

	<div th:replace="fragments/footer :: scripts" />
</body>
</html>
