<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/html">
<head th:replace="fragments/header :: header"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="ibox offset-md-2 col-md-8">
						<div class="ibox-title">
							<h5><em class="fa fa-user"></em> &nbsp; Vælg kodeord</h5>
						</div>

						<div class="ibox-content">
							<form class="m-t" role="form" action="#" th:action="@{/konto/vaelgkode}" th:object="${passwordForm}" method="post">
								<div class="form-group">
									<input type="password" th:field="*{password}" class="form-control" placeholder="Nyt kodeord" autofocus="autofocus" />
									<ul th:if="${#fields.hasErrors('password') or technicalError == true}" class="error">
										<li th:if="${technicalError == true}" th:utext="${@cmsMessageBundle.getText('cms.changePassword.content.error')}"></li>
										<li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
									</ul>
								</div>

								<div class="form-group">
									<input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Gentag kodeord" />
									<ul th:if="${#fields.hasErrors('confirmPassword')}" class="error">
										<li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"/>
									</ul>
								</div>

								<button type="submit" class="btn btn-primary block full-width m-b">Skift kodeord</button>
							</form>
							<th:block th:replace="fragments/password-settings :: list(settings = ${settings}, activation = true)"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style>
		ul.error li {
			color: red;
		}
	</style>

	<div th:replace="fragments/footer :: scripts"></div>
</body>
</html>
