<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="ibox offset-md-2 col-md-8">
						<div class="ibox-title">
							<h5><em class="fa fa-info"></em> &nbsp; Brugerkonto kan ikke aktiveres</h5>
						</div>

						<div class="ibox-content">
							<p>
							Det var ikke muligt at aktivere din brugerkonto pånuværende tidspunkt. Forsøg evt igen, og hvis
							det stadig fejler, så kontakt din it-afdeling for assistance.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts" />
</body>
</html>
