<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar"></div>
			
			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="ibox offset-md-2 col-md-8">

		                <div class="ibox-title">
		                    <h5><em class="fa fa-check "></em> &nbsp; Eksisterende kodeord ikke komplekst nok</h5>
		                </div>
		
		                <div class="ibox-content">
		                    <p>
		                        Dit eksisterende kodeord følger ikke reglerne for kodeordskompleksitet. Du bliver derfor nødt til at vælge et nyt.
		                        <th:block th:if="${redirectUrl} != null">
		                            Du vil automatisk blive ledt hen til siden, hvor du kan vælge et nyt kodeord, inden for 15 sekunder, hvis dette ikke sker automatisk kan du trykke
		                            <a th:href="${redirectUrl}">her</a>
		                        </th:block>
		                    </p>
		                </div>
		            </div>
				</div>
			</div>
		</div>
	</div>


    <div th:replace="fragments/footer :: scripts"></div>

    <script th:inline="javascript">
            /*<![CDATA[*/

            /*[+
                var redirectUrl = [[${redirectUrl}]];
            +]*/

            $(document).ready(function() {
                if (redirectUrl != null) {
                    setTimeout(function() {
                        window.location.href = redirectUrl;
                    }, 15000);
                }
            });

            /*]]>*/
    </script>
</body>
</html>