<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar}"></div>
			
			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="ibox offset-md-2 col-md-8">
						<div class="ibox-title">
							<h5><em class="fa fa-user "></em> &nbsp; Aktiver brugerkonto</h5>
						</div>
			
						<div class="ibox-content">
							<p th:utext="${@cmsMessageBundle.getText('cms.activate.initiate')}" />
			
							<form action="#" th:action="@{/konto/init-aktiver}" method="post">
							    <button type="submit" class="btn btn-primary block full-width m-b">Start aktivering</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>
