<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings xdt:Transform="Insert">

		<!-- Serilog settings -->
		<add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
		<add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />
		<add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\os2faktor\{Date}_coredata.log" />
		<add key="serilog:write-to:RollingFile.shared" value="true" />
		<add key="serilog:minimum-level" value="Information" />

		<!-- Scheduled tasks (set to "" to disable) -->
		<!-- Cron = Seconds, Minutes, Hours, Day-of-month, Month, Day-of-Week, Year -->
		<add key="Scheduled.NSISAllowedSyncTask.cron" value="0 0/15 5-19 ? * * *" />
		<add key="Scheduled.NemLoginAllowedSyncTask.cron" value="0 5/15 5-19 ? * * *" />

		<!-- optional tasks - enable as needed
	    <add key="Scheduled.GroupSyncTask.cron" value="0 5/15 5-19 ? * * *" />
	    <add key="Scheduled.Kombit.Cron" value="0 10/15 5-19 ? * * *" />
	    -->

		<!-- Active Directory settings -->
		<add key="ActiveDirectory.Filter" value="" />
		<add key="ActiveDirectory.Property.Cpr" value="employeeNumber" />
		<add key="ActiveDirectory.Property.Rid" value="rid" />
		<add key="ActiveDirectory.NSISAllowed.Group" value="CN=nsis,CN=Users,DC=digitalidentity,DC=dk"/>
		<add key="ActiveDirectory.TransferToNemlogin.Group" value="CN=nemlogin,CN=Users,DC=digitalidentity,DC=dk"/>

		<!-- keep these blank, unless you need to connect to a DC without being domain joined -->
		<add key="ActiveDirectory.Username" value="" />
		<add key="ActiveDirectory.Password" value="" />

		<!-- only needed if you enable the Scheduled.GroupSyncTask.cron feature above -->
		<add key="ActiveDirectory.Group.Root" value="CN=MainGroup,OU=Grupper,DC=digitalidentity,DC=dk"/>

		<!-- KOMBIT Jobfunktionsroller settings (only needed if you enable the Scheduled.Kombit.Cron feature above -->
		<add key="Kombit.RoleOU" value="OU=Kombit,DC=digitalidentity,DC=dk"/>
		<add key="Kombit.RoleOU.Filter" value="" />
		<add key="Kombit.RoleNameAttribute" value="extensionAttribute1" />
		<add key="Kombit.RoleNameAttributePrefix" value="STS_" />
		<add key="Kombit.RoleDomainAttribute" value="extensionAttribute2" />
		<add key="Kombit.RoleCvrAttribute" value="extensionAttribute3" />
		<add key="Kombit.RoleDomainDefault" value="kommune.dk" />
		<add key="Kombit.RoleCvrDefault" value="12345678" />
		<add key="Kombit.GroupsInGroups" value="False" />

		<!-- Active Directory configurable attribute selector settings -->
		<!-- 
		Example:
			<add key="ActiveDirectory.Attributes.RADIUS" value="radiusField"/>
			CoreDataEntries will have a Map called attributes
			and in this case there will be an entry in the map with the key="RADIUS" 
			and a value fetched from AD from the users "radiusField" attribute
		-->
		<add key="ActiveDirectory.Attributes.RADIUS" value="radiusField"/>

		<!-- Backend settings -->
		<add key="Backend.URL.Base" value="https://domain.kommune.dk/api/coredata/"/>
		<add key="Backend.Password" value="" />
		<add key="Backend.Domain" value="kommune.dk"/>
		<add key="Backend.SubDomain" value=""/>
	</appSettings>
</configuration>