<?xml version="1.0" encoding="utf-8"?>
<!--For more information on using transformations see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
	<appSettings xdt:Transform="Insert">

		<!-- Serilog settings -->
		<add key="serilog:using:RollingFile" value="Serilog.Sinks.RollingFile" />
		<add key="serilog:write-to:RollingFile.outputTemplate" value="{Timestamp:yyyy-MM-dd HH:mm:ss} [{Level}] [{SourceContext}] {Message}{NewLine}{Exception}" />
		<add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\os2faktor\{Date}_coredata.log" />
		<add key="serilog:write-to:RollingFile.shared" value="true" />
		<add key="serilog:minimum-level" value="Information" />

		<!-- Scheduled tasks (set to "" to disable) -->
		<!-- Cron = Seconds, Minutes, Hours, Day-of-month, Month, Day-of-Week, Year -->
    <add key="Scheduled.Kombit.Cron" value="0 * 5-19 ? * * *" />

		<add key="Scheduled.Kombit.Attributes.Cron" value="0 * * ? * * *" />

		<!--
    <add key="Scheduled.NSISAllowedSyncTask.cron" value="0 0/2 5-19 ? * * *" />
    <add key="Scheduled.NemLoginAllowedSyncTask.cron" value="0 1/2 5-19 ? * * *" />
    <add key="Scheduled.GroupSyncTask.cron" value="0 5/15 5-19 ? * * *" />
    -->

    <!-- Active Directory settings -->
		<add key="ActiveDirectory.Username" value="" />
		<add key="ActiveDirectory.Password" value="" />
		<add key="ActiveDirectory.Filter" value="" />
		<add key="ActiveDirectory.Property.Cpr" value="employeeNumber" />
    <add key="ActiveDirectory.Property.Rid" value="department" />
		<add key="ActiveDirectory.NSISAllowed.Group" value="CN=NSISAllowed,OU=Groups,DC=digitalidentity,DC=dk"/>
    <add key="ActiveDirectory.TransferToNemlogin.Group" value="CN=NemLoginAllowed,OU=Groups,DC=digitalidentity,DC=dk"/>
		<add key="ActiveDirectory.Group.Root" value="CN=MainGroup,OU=Grupper,DC=digitalidentity,DC=dk"/>

    <!-- KOMBIT Jobfunktionsroller settings -->
    <add key="Kombit.RoleOU" value="OU=Kombit,DC=digitalidentity,DC=dk"/>
    <add key="Kombit.RoleOU.Filter" value="" />
    <add key="Kombit.RoleNameAttribute" value="name" />
    <add key="Kombit.RoleNameAttributePrefix" value="KOMBIT_" />
    <add key="Kombit.RoleDomainAttribute" value="" />
    <add key="Kombit.RoleCvrAttribute" value="" />
    <add key="Kombit.RoleDomainDefault" value="kommune.dk" />
    <add key="Kombit.RoleCvrDefault" value="12345678" />
    <add key="Kombit.GroupsInGroups" value="False" />

    <!-- bruges hvis man kører KLE opmærkningsværktøjet, hænger sammen med Scheduled.Kombit.Attributes.Cron -->
    <add key="Kombit.Attributes.ConnectionString" value="Server=192.168.50.181; Database=bob;User Id=SA; password=Test1234" />
    <add key="Kombit.Attributes.SqlQuery" value="SELECT [SAMAccountName] AS sAMAccountName, [KombitName] AS attributeKey, [KLEAccessString] AS attributeValue FROM xxx" />

    <!-- Active Directory configurable attribute selector settings -->
		<!-- 
		Example:
			<add key="ActiveDirectory.Attributes.RADIUS" value="radiusField"/>
			CoreDataEntries will have a Map called attributes
			and in this case there will be an entry in the map with the key="RADIUS" 
			and a value fetched from AD from the users "radiusField" attribute
		-->
		<add key="ActiveDirectory.Attributes.RADIUS" value="radiusField"/>

		<!-- Backend settings -->
		<add key="Backend.URL.Base" value="https://demo-selvbetjening.os2faktor.dk/api/coredata/"/>
		<add key="Backend.Password" value="946e3cf5-87ff-4246-a17d-3ce988231ad2" />
		<add key="Backend.Domain" value="skole.dk"/>
    <add key="Backend.SubDomain" value="teachers"/>
	</appSettings>
</configuration>