<!DOCTYPE html>
<html>
<body>
	<div th:fragment="view" data-name="groupMembersFragment">
		<div class="ibox-title">
			<h5><em class="fa fa-columns"></em> &nbsp;Medlemmer</h5>
			<div class="ibox-tools" style="top: 8px !important;right: 8px !important;"></div>
		</div>

		<div class="ibox-content">
			<div class="table-responsive">
				<table id="viewMemberTable" class="table table-striped table-bordered table-hover">
					<thead>
						<tr>
							<th style="width: 250px;">Navn</th>
							<th>Brugernavn</th>
							<th>Domæne</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</body>
</html>