<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (checkbox = true)}"></head>
<div th:replace="~{fragments/topbar :: topbar}"></div>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="ibox offset-md-2 col-md-8">

						<div class="ibox-title">
							<h5><em class="fa fa-pencil"></em> &nbsp; Vilkår for anvendelse af brugerkonto</h5>
						</div>
						
						<div class="ibox-content">
							<p>
							Før du kan tage din brugerkonto i brug, skal du læse og acceptere nedenstående vilkår. Du forpligtiger dig til at anvende
							din brugerkonto i henhold til de nævnte vilkår, samt at følge de retningslinjer der er listet nedenfor.
							</p>
							
							<div class="tabs-container">
								<ul class="nav nav-tabs" role="tablist">
									<li><a class="nav-link active" data-toggle="tab" href="#tab-1">Anvendelsesvilkår</a></li>
									<li th:if="${@commonConfiguration.fullServiceIdP.enabled == true}"><a class="nav-link" data-toggle="tab" href="#tab-15">Tillæg til anvendelsesvilkår</a></li>
									<li><a class="nav-link" data-toggle="tab" href="#tab-2">Privatlivspolitik</a></li>
								</ul>

								<div class="tab-content">
									<div role="tabpanel" id="tab-1" class="tab-pane active">
										<div class="panel-body" style="padding: 0px;">
											<div class="wrapper wrapper-content article">
												<div class="row justify-content-md-center">
													<div class="col-lg-12">
														<div class="ibox">
															<div th:if="${@commonConfiguration.fullServiceIdP.enabled == false}" class="ibox-content" th:utext="${terms.content}" style="height: 400px; overflow: scroll;"></div>
															<div th:if="${@commonConfiguration.fullServiceIdP.enabled == true}" class="ibox-content" th:utext="${terms.fixedTerms}" style="height: 400px; overflow: scroll;"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<div th:if="${@commonConfiguration.fullServiceIdP.enabled == true}" role="tabpanel" id="tab-15" class="tab-pane">
										<div class="panel-body" style="padding: 0px;">
											<div class="wrapper wrapper-content article">
												<div class="row justify-content-md-center">
													<div class="col-lg-12">
														<div class="ibox">
															<div class="ibox-content" th:utext="${terms.content}" style="height: 400px; overflow: scroll;"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									
									<div role="tabpanel" id="tab-2" class="tab-pane">
										<div class="panel-body" style="padding: 0px;">
											<div class="wrapper wrapper-content article">
												<div class="row justify-content-md-center">
													<div class="col-lg-12">
														<div class="ibox">
															<div class="ibox-content" th:utext="${privacy}" style="height: 400px; overflow: scroll;"></div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<form style="margin-top: 20px;">
								<div class="form-group">
									<div>
										<label><input id="checkboxAccept" type="checkbox" class="i-checks"> &nbsp; Jeg har læst og accepteret vilkårene</label>
									</div>
								</div>
							</form>

							<div>
								<form method="post" th:action="@{/vilkaar/godkendt}">
									<button id="buttonAccept" type="submit" class="btn btn-primary block full-width m-b" disabled="disabled">Accepter vilkårene</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts (checkbox = true)}"></div>
	
	<script th:inline="javascript">
		$(document).ready(function() {
			$('#checkboxAccept').on('ifChanged', function(event) {
				var checked = event.target.checked;
				
				$("#buttonAccept").prop('disabled', !checked);
			});
		});	
	</script>
</body>
</html>
