<!DOCTYPE html>
<html>

<head th:replace="~{fragments/header :: header (checkbox = false)}"></head>
<div th:replace="~{fragments/topbar :: topbar}"></div>

<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox col-md-12">
                <div class="ibox-title">
                    <h5><em class="fa fa-calendar-times-o "></em> &nbsp; Kodeord ugyldigt</h5>
                </div>

                <div class="ibox-content">
                    <p>Dit kodeord er ikke gyldigt, og du skal skifte det senest <th:block th:text="${deadline}"></th:block>.</p>

					<p th:if="${reason == 'COMPLEXITY'}">
					<th:block th:utext="${@cmsMessageBundle.getText('cms.password.complexity.warning')}"></th:block>
					<th:block th:if="${rule != null}">
						<br/><br/>
						Årsag til krævet kodeordsskifte: <b th:text="${rule.message}"></b>
					</th:block>
					</p>

					<p th:if="${reason == 'LEAKED'}">
					<th:block th:utext="${@cmsMessageBundle.getText('cms.password.leak.warning')}"></th:block>
					</p>

                    <a th:href="@{/sso/saml/changepassword?redirectUrl=/sso/saml/login/continueLogin}" class="btn btn-success block full-width m-b">Skift kodeord</a>
                    <a th:href="@{/sso/saml/login/continueLogin}" class="btn btn-success block full-width m-b">Fortsæt login uden at skifte kodeord</a>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="~{fragments/footer :: scripts (checkbox = false)}"></div>
</body>
</html>
