<!DOCTYPE html>
<html>

<head th:replace="~{fragments/header :: header (checkbox = false)}"></head>
<div th:replace="~{fragments/topbar :: topbar}"></div>

<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox col-md-12">
                <div class="ibox-title">
                    <h5><em class="fa fa-calendar-times-o "></em> &nbsp; Kodeord ugyldigt</h5>
                </div>

                <div class="ibox-content">
                    <p>Dit kodeord er ikke gyldigt, og du skal anvende dit MitID til at skifte det.</p>

					<p th:if="${reason == 'COMPLEXITY'}">
					<th:block th:utext="${@cmsMessageBundle.getText('cms.password.complexity.final')}"></th:block>
					</p>

					<p th:if="${reason == 'LEAKED'}">
					<th:block th:utext="${@cmsMessageBundle.getText('cms.password.leak.final')}"></th:block>
					</p>

                    <a th:href="${@environment.getProperty('os2faktor.common.selfService.baseUrl')}" class="btn btn-success block full-width m-b">
                    	Gå til selvbetjening for at vælge et nyt kodeord
                    </a>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="~{fragments/footer :: scripts (checkbox = false)}"></div>
</body>
</html>
