<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox offset-md-2 col-md-8">
                <div class="ibox-title">
                    <h5><em class="fa fa-key"></em> &nbsp; Ingen OS2faktor klienter registreret</h5>
                </div>

                <div class="ibox-content">
                    <p>For at kunne logge ind til denne service skal du have mindst én OS2faktor klient. Du kan se mulighederne nedenfor.</p>

                    <ul>
                        <li><strong>iPhone/iPad</strong>. Klienten kan hentes fra <a href="https://itunes.apple.com/us/app/os2faktor/id1437898542?ls=1&amp;mt=8">Apples App Store</a>, og installeres direkte fra din iPhone eller iPad.</li>
                        <li><strong>Android</strong>. Klienten kan hentes fra <a href="https://play.google.com/store/apps/details?id=dk.digitalidentity.os2faktor">Google Play</a>, og installeres direkte fra din Android smartphone eller tablet.</li>
                        <li><strong>Windows 7/10</strong>. Klienten installeres via din kommunes it-afdeling. Kontakt din it-afdeling for flere informationer.</li>
                        <li><strong>Chrome</strong>. Klienten installeres via <a href="https://chrome.google.com/webstore/detail/inhmeclgpoppmammjaaebcpkcnokgelm">Chrome Web Store</a>.</li>
                        <li><strong>YubiKey</strong>. Du skal først anskaffe en YubiKey (fx via egen it-afdeling, eller ved at købe en privat). Dernæst skal du logge på selvbetjeningen, og så registrere din YubiKey.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="fragments/footer :: scripts" />
</body>
</html>
