<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (checkbox = false)" />
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox offset-md-2 col-md-8">
                <div class="ibox-title">
                    <h5><em class="fa fa-paragraph"></em> &nbsp; Fejl! Du findes ikke i systemet</h5>
                </div>

                <div class="ibox-content">
                    <p>Vi kunne ikke finde dig i systemet. Kontakt venligst din it-afdeling for hjælp.</p>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="fragments/footer :: scripts (checkbox = false)" />
</body>
</html>
