<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox offset-md-2 col-md-8">
                <div class="ibox-title">
                    <h5><em class="fa fa-key"></em> &nbsp; Ingen 2-faktor enheder registreret</h5>
                </div>

                <div class="ibox-content">
                    <p th:utext="${@cmsMessageBundle.getText('cms.login.mfa.noClients')}" />

					<th:block th:if="${@OS2faktorConfiguration.mitIdEnabled} == true">
	                    <h4>Login med NemLog-in</h4>
	                    <p>
	                    Du kan også vælge at bruge dit MitID eller NemID til at foretage et login
	                    </p>
	                    <a th:href="@{/sso/saml/login/nemid}" style="color: black;">
	                        <em class="fa fa-fw fa-key"></em>
	                        &nbsp;
	                        Log ind med NemLog-in
	                    </a>
                    </th:block>
                    
					<th:block th:if="${@OS2faktorConfiguration.nemIdEnabled} == true">
	                    <h4>Login med NemID</h4>
	                    <p>
	                    Du kan også vælge at bruge dit NemID til at foretage et login
	                    </p>
	                    <a th:href="@{/sso/saml/login/nemid}" style="color: black;">
	                        <em class="fa fa-fw fa-key"></em>
	                        &nbsp;
	                        Log ind med NemID
	                    </a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="fragments/footer :: scripts" />
</body>
</html>
