<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}" />
<div th:replace="~{fragments/topbar :: topbar}"></div>
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox offset-md-2 col-md-8">
                <div class="ibox-title">
                    <h5><em class="fa fa-key"></em> &nbsp; Ingen 2-faktor enheder registreret</h5>
                </div>

                <div class="ibox-content">
                    <p th:utext="${@cmsMessageBundle.getText('cms.login.mfa.noClients')}" />

					<th:block th:if="${@flowService.showNemLogIn()}">
                    <h4>Login med MitID</h4>
                    <p>
                    Du kan også vælge at bruge dit MitID til at foretage et login
                    </p>
                    <a th:href="@{/sso/saml/login/nemid}" style="color: black;">
                        <em class="fa fa-fw fa-key"></em>
                        &nbsp;
                        Log ind med MitID
                    </a>
					</th:block>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="~{fragments/footer :: scripts}" />
</body>
</html>
