<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<div th:replace="fragments/topbar :: topbar"></div>
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox offset-md-2 col-md-8">
                <div class="ibox-title">
                    <h5><em class="fa fa-paragraph"></em> &nbsp; Kunne ikke hente 2-faktor enheder</h5>
                </div>

                <div class="ibox-content">
                    <p th:utext="${@cmsMessageBundle.getText('cms.myidentity.mfaclients.error')}"></p>
                    <a th:href="@{/sso/saml/login/cancel}" class="btn btn-danger block full-width m-b">Afbryd login</a>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="fragments/footer :: scripts" />
</body>
</html>
