<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="gray-bg">
        <div class="row">
            <div class="ibox offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="ibox-title">
                    <h5><em class="fa fa-user"></em> &nbsp; Glemt password</h5>
                </div>
					
                <div class="ibox-content">
                	<p>Du kan skifte dit kodeord i selvbetjeningen. Du kommer ind på selvbetjeningen ved at logge ind med NemID.</p>
                	<a th:href="${@environment.getProperty('os2faktor.idp.selfService.baseUrl')} + '/selvbetjening/skiftkode'">Log på med NemID</a>
                </div>
            </div>
        </div>
    
	<div th:replace="fragments/footer :: scripts" />
</body>
</html>
