<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}"></head>
<body class="top-navigation">
    <div id="page-wrapper" class="gray-bg">
        <div th:replace="~{fragments/topbar :: topbar}"></div>
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="ibox offset-md-2 col-md-8">
                    <div class="ibox-title">
                        <h5>
                            <em class="fa fa-user"></em> &nbsp; 
                            <span th:if="${person != null}" th:text="${person.name}"/>
                            <span th:if="${person == null}">Ikke logget ind</span>
                        </h5>
                    </div>

                    <div class="ibox-content">
                        <th:block th:if="${person != null}">
                            <p>
                                Du er er logget ind med følgende værdier:
                            </p>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th style="width: 200px">Attribut</th>
                                        <th>Værdi</th>
                                    </tr>
                                </thead>
                                
                                <tbody>
                                    <tr th:if="${nsis != null}">
                                        <td>Sikringsniveau</td>
                                        <td th:text="#{__${nsis.message}__}" />
                                    </tr>
                                    <tr>
                                        <td>2-faktor enhed anvendt</td>
                                        <td th:text="${mfa}" />
                                    </tr>
                                </tbody>
                            </table>
                            
                            <br/>
                            <hr/>
                            <br/>
                            
                            <th:block th:if="${#lists.size(sps) gt 0}">
                                <p>
                                    Du er logget ind på følgende tjenester. Du kan gennemføre et logud på dem alle ved at klikke på "Log ud" oppe i øverste hjørne
                                </p>
                                
                                <ul>
                                    <li th:each="sp : ${sps}" th:text="${sp}"/>
                                </ul>
                            </th:block>
                        </th:block>
                        
                        <th:block th:if="${person == null}">
                            Du er ikke logget ind. Hvis du ønsker at gennemføre et login, skal du tilgå den web-tjeneste som
                            du ønsker at logge ind på.
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div th:replace="~{fragments/footer :: scripts}" />
</body>
</html>
