<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: header}"></head>
<div th:replace="~{fragments/topbar :: topbar}"></div>
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox">
                <div class="ibox-title">
                    <h1 class="wcag-h1-as-h5"><em class="fa fa-user"></em> &nbsp; Login</h1>
                </div>

                <div class="ibox-content">
                	<!-- hidden link for screen readers. When it is clicked it goes straight to reading the challenge code -->
                	<a class="sr-only sr-only-focusable" href="#wcag-challenge">Gå til kode</a>
                    <form id="loginForm" method="get" th:action="@{/sso/saml/mfa/} + ${deviceId} + '/completed'">
                        <div>
                            <p th:text="${@cmsMessageBundle.getText('cms.login.mfaChallenge.content.top')}"></p>
                        </div>

                        <div th:if="${challenge} != null">
                            <p class="mb-5">
                                Din 2-faktor enhed åbner om lidt og spørger om du vil tillade login, når dette sker, skal du verificere at den kode der vises i din 2-faktor enhed matcher nedenstående
                            </p>

                            <div class="mb-5">
                                <h2 id="wcag-challenge" th:text="${challenge}" style="width: 150px; margin: 20px auto; padding: 10px 0px; border: 1px solid black; text-align: center;"></h2>
                            </div>
                        </div>

                        <div th:if="${redirectUrl} != null">
                            <p class="mb-5">
                                Din browser åbner nu et login-skærmbillede, hvor du skal gennemføre login med din 2-faktor enhed. Hvis vinduet ikke åbner af sig selv, kan du åbne det ved at trykke på knappen nedenfor. Hvis vinduet ikke åbner, skal du blot trykke på nedenstående knap.
                            </p>

                            <div class="mb-5">
                                <button style="font-size: 1.5em; min-width: 150px;" onclick="mfaService.openRedirect()" class="btn btn-primary" target="_blank">Login</button>
                            </div>
                        </div>

			            <div id="finishLoginBlock" style="display: none;">
			                <button class="btn btn-primary btn-block" onclick="mfaService.finishLoginFlow(); return false;">Videre</button>
			                <br/>
			                <p>
			                    Login er gennemført - tryk på knappen ovenfor for at gå videre
			                </p>
			            </div>

                        <div th:if="${@loginService.showNemLogIn()}">
                            <a th:href="@{/sso/saml/login/nemid}" style="color: black;">
                                <em class="fa fa-fw fa-key"></em>
                                &nbsp;
                                Log ind med MitID
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="~{fragments/footer :: scripts}"></div>
</body>

<script th:inline="javascript">
	/*<![CDATA[*/

		/*[+
            var os2faktorBackend = [[${os2faktorBackend}]];
            var url = [[@{/ui/tempworker}]];
            var pollingKey = [[${pollingKey}]];
            var redirectUrl = [[${redirectUrl}]];
            var delayedLogin = [[${delayedLogin}]];
            var finishUrl = [[${@OS2faktorConfiguration.baseUrl} + '/sso/saml/mfa/' + ${deviceId} + '/completed']];
            var wakeEvent = [[${wakeEvent}]];
		+]*/
		var token = $("meta[name='_csrf']").attr("content");

        var mfaService;
		$(document).ready(function() {
            mfaService = new MfaService();
            mfaService.init();
		});

        function MfaService() {
			var submitting = false;

            this.init = function() {
            	// extra check to avoid double-submitting
                $("#loginForm").submit(function() {
					if (submitting) {
						return false;
					}
					
					// set submitting = true to prevent double-post for 5 seconds
					submitting = true;
					window.setTimeout(function() {
						submitting = false;
					}, 5000);
					
					return true;
                });
                
                // Init polling
                var tries = 0;

                var pollingFn = setInterval(function() {
                    if (tries++ > 60 * 5) {
                        clearInterval(pollingFn);
                    }

                    $.ajax({
                        url: os2faktorBackend + "/api/notification/" + pollingKey + "/poll",
                        success: function(data, textStatus, xhr) {
                            if (data && data.stateChange == true) {
                            	// prevent double-submits if the form is slow
                            	clearInterval(pollingFn);

                                if (delayedLogin) {
                                	// hack for Tønder - should be replaced by good code once we know it works
                                    var insideBrowserElem = document.getElementById('finishLoginBlock');
                                    insideBrowserElem.style.cssText = 'display: block;';
                                }
                                else {
                                	mfaService.finishLoginFlow();
                                }
                            }
                        }
                    });
                }, 1000);
                
                // open yubikey window if needed
                if (redirectUrl != null && redirectUrl.length > 0) {
                    mfaService.openRedirect();
                }

                if (wakeEvent) {
                    // fire the os2faktorEvent for clients that can listen for it
                    setTimeout(function () {
                        var evt = document.createEvent('Event');
                        evt.initEvent('os2faktorEvent', true, true);
                        document.dispatchEvent(evt);
                    }, 500);
                }
            }

            this.openRedirect = function () {
            	window.location.href = redirectUrl + "?redirectUrl=" + finishUrl;
            }
            
            this.finishLoginFlow = function() {
            	$("#loginForm").submit();
            }
        }

		/*]]>*/
	</script>
</html>
