<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="gray-bg">
	<div th:replace="fragments/topbar :: topbar"></div>

    <div style="max-width: 1500px; margin: 0px auto; padding: 20px;">
        <div class="row">
			<div class="col-lg-12 d-none d-xl-block" style="margin-bottom: 40px;">&nbsp;</div>

            <div th:if="${reason} != null" id="infobox" class="offset-xl-2 col-xl-4 offset-lg-2 col-lg-8 offset-md-1 col-md-10">
                <div class="panel panel-info" style="height: 100%;">
                    <div class="panel-heading">
                        Yderligere identifikation krævet
                    </div>

                    <div class="panel-body">
                        <th:block th:if="${reason == T(dk.digitalidentity.service.model.enums.RequireNemIdReason).AD}">
                        	<span th:utext="${@cmsMessageBundle.getText('cms.activate.ad-password-change')}" />
                        </th:block>
                        <th:block th:if="${reason == T(dk.digitalidentity.service.model.enums.RequireNemIdReason).ACTIVATE_ACCOUNT}">
	                        <span th:utext="${@cmsMessageBundle.getText('cms.activate.during-login')}" />
                        </th:block>
                        <th:block th:if="${reason == T(dk.digitalidentity.service.model.enums.RequireNemIdReason).CHANGE_PASSWORD}">
                        	<span th:utext="${@cmsMessageBundle.getText('cms.changePassword.identification')}" />
                        </th:block>
                        <th:block th:if="${reason == T(dk.digitalidentity.service.model.enums.RequireNemIdReason).DEDICATED_ACTIVATE_ACCOUNT}">
							<span th:utext="${@cmsMessageBundle.getText('cms.activate.dedicated')}" />
                        </th:block>
                        
                        <th:block th:if="${errCode != null && errCode != '' && errCode != 'PERSON'}">
                        	<div class="panel panel-danger mb-0 mt-5">
	                        	<div class="panel-heading">Fejlbesked</div>
	                        	<th:block th:switch="${errCode}">
	                        		<div class="panel-body" th:case="'SUBSTANTIAL'">Adgangen til den ønskede funktion kræver et højere sikringsniveau. Den loginmetode der er anvendt gav ikke adgang på det krævede sikringsniveau, og et nyt login er derfor nødvendigt. Anvend MitID eller evt et NemID hvor pas-scanningen er gennemført.</div>
	                        		<div class="panel-body" th:case="'MFA'">Adgangen til den ønskede funktion kræver et højere sikringsniveau. Den loginmetode der er anvendt gav ikke adgang på det krævede sikringsniveau, og et nyt login er derfor nødvendigt. Anvend NemID eller MitID for at opnå det nødvendige sikringsniveau.</div>
	                        		<div class="panel-body" th:case="'GROUP'">Adgangen til den ønskede funktion er blokeret for den valgte brugerkonto. Forsøg med en anden brugerkonto, eller kontakt din it-afdeling for at få adgangen til funktionen.</div>
	                        		<div class="panel-body" th:case="'LIMIT'">Adgangen til den ønskede funktion er begrænset til et bestemt antal forsøg per dag. Forsøg igen i morgen, eller kontakt din it-afdeling for at få adgang til funktionen.</div>
	                        		<div class="panel-body" th:case="'*'">Adgangen til den ønskede funktion blev blokeret. Forsøg igen med en anden loginmetode eller en anden brugerkonto.</div>
	                        	</th:block>
                        	</div>
                        </th:block>
                    </div>
                </div>
            </div>

			<div class="col-lg-12 d-block d-xl-none" style="margin-bottom: 10px;">&nbsp;</div>

            <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10" th:classappend="${reason} != null ? 'offset-xl-0 col-xl-4' : 'offset-xl-2 col-xl-8'">
                <div class="ibox-title">
                    <h5>
                    	<em class="fa fa-user"></em> &nbsp; 
                    	<span th:if="${@OS2faktorConfiguration.nemIdEnabled} == true">Login med NemID</span>
                    	<span th:if="${@OS2faktorConfiguration.mitIdEnabled} == true">Login med NemLog-in</span>
                    </h5>
                </div>

                <div class="ibox-content">
                    <div th:if="${@OS2faktorConfiguration.nemIdEnabled} == true"> 
                        <div class="panel-body" style="padding: 20px 0px 20px 0px;">
                            <div style="text-align:center; position:relative">
                                <form name="postBackForm" method="post" th:action="@{/sso/saml/nemid}">
                                    <input type="hidden" name="response">
    
                                    <div th:utext="${jsElement}"></div>
    
                                    <div id="iframeHolder" class="" style="width: 100%; height: 100%;">
                                        <iframe id="nemid_iframe" name="target_iframe" title="NemID"
                                                ontouchstart="" scrolling="no" frameborder="0"
                                                style="width: 320px; height: 480px; border: 0px; margin: 0px; padding: 0px; overflow: hidden;"></iframe>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div th:if="${@OS2faktorConfiguration.mitIdEnabled} == true">
                        <div class="panel-body">
                            <form class="m-t" id="login" role="form" th:action="@{/sso/saml/login}" method="post">
                                <div class="form-group">
                                    <span th:utext="${@cmsMessageBundle.getText('cms.login.nemlogin.description')}"></span>
                                </div>
                                <br>
                                <div class="form-group">
                                    <a th:href="@{/nemlogin/saml/login}" class="btn btn-primary block full-width m-b">Login med NemLog-in</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<div th:replace="fragments/footer :: scripts" />
	
	<script type="text/javascript" th:src="@{/js/nemid.js}"></script>

	<script th:inline="javascript">
        /*<![CDATA[*/

		/*[+
			var iframeSrc = [[${iframeSrc}]];
			var iframeOrigin = [[${serverUrlPrefix}]];
			var errorMessage = [[${errorMessage}]];
		+]*/
        
		function onNemIDMessage(e) {
			var event = e || event;

			if (iframeOrigin !== event.origin) {
				return;
			}

			var win = document.getElementById("nemid_iframe").contentWindow, postMessage = {}, message;
			message = JSON.parse(event.data);

			if (message.command === "SendParameters") {
				var htmlParameters = document.getElementById("nemid_parameters").innerHTML;

				postMessage.command = "parameters";
				postMessage.content = htmlParameters;
				win.postMessage(JSON.stringify(postMessage), iframeOrigin);
			}

			if (message.command === "changeResponseAndSubmit") {
				document.postBackForm.response.value = message.content;
				document.postBackForm.submit();
			}
		}

		if (window.addEventListener) {
			window.addEventListener("message", onNemIDMessage);
		}
		else if (window.attachEvent) {
			window.attachEvent("onmessage", onNemIDMessage);
		}

		$(document).ready(function() {
			if (typeof errorMessage != "undefined" && errorMessage != null) {
				toastr.warning(errorMessage);
			}

			// delay loading the NemID applet for 1 second
		    setTimeout(function() {
				$("#nemid_iframe").attr("src", function(i, val) { return iframeSrc; });
		    }, 1000);
        });

		/*]]>*/
	</script>
	
</body>
</html>
