<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: header (checkbox = true)}" />
<div th:replace="~{fragments/topbar :: topbar}"></div>
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown" style="max-width: 1500px;">
        <div class="row">
            <div id="infobox" class="offset-xl-2 col-xl-4 offset-lg-2 col-lg-8 offset-md-1 col-md-10" style="margin-bottom: 25px" th:if="${infobox.enabled && !#strings.isEmpty(infobox.message)}">
                <div class="panel panel-danger" style="height: 100%;">
                    <div class="panel-heading">
                        Vigtig Information
                    </div>
                    <div class="panel-body">
                        <p th:utext="${infobox.message}"></p>
                    </div>
                </div>
            </div>
            <div class="ibox offset-lg-2 col-lg-8 offset-md-1 col-md-10" th:classappend="${!infobox.enabled || #strings.isEmpty(infobox.message)} ? 'col-xl-8 offset-xl-2' : 'col-xl-4 offset-xl-0'">
                <div class="ibox-title">
                    <h1 class="wcag-h1-as-h5"><em class="fa fa-user"></em> &nbsp; Login</h1>
                    <div class="ibox-tools">
                    	<a aria-label="Tryk for hjælpetekst" class="fa fa-question" data-toggle="popover" data-trigger="click" data-placement="top" data-html="true" th:attr="data-content=${@cmsMessageBundle.getText('cms.login.help')}" style="color: #676a6c !important;"></a>
					</div>
                </div>

                <div class="ibox-content">
                	<div th:if="${@cmsMessageBundle.getText('cms.login.content')} != ''">
                		<div th:utext="${@cmsMessageBundle.getText('cms.login.content')}"></div>
                		<br/>
                	</div>
                	
                    <div class="tabs-container">
                        <ul class="nav nav-tabs" role="tablist">
                            <li><a th:if="${showNemLogIn}" th:classappend="${preferNemid} ? '' : 'active'" class="nav-link wcag-tab-text" role="tab" data-toggle="tab" aria-controls="tab-1" href="#tab-1">Brugerkonto</a></li>
                            <li><a th:if="${showNemLogIn}" th:classappend="${preferNemid} ? 'active' : ''" class="nav-link wcag-tab-text" role="tab" data-toggle="tab" aria-controls="tab-3" href="#tab-3">MitID</a></li>
                        </ul>

                        <div class="tab-content">
                            <div role="tabpanel" id="tab-1" class="tab-pane" th:classappend="${preferNemid} ? '' : 'active'">
                                <div class="panel-body">
                                    <form class="m-t" id="login" role="form" th:action="${passwordless and forceShowPasswordDialogue == false} ? @{/sso/login-passwordless} : @{/sso/login}" method="post">
                                        <div id="usernameSection" class="form-group">
											<label for="username">Brugernavn:</label>
											<input id="username" name="username" th:value="${username}" type="text" class="form-control" placeholder="Brugernavn" autofocus="autofocus" aria-required="true" />
                                        </div>

                                        <div class="form-group" th:if="${passwordless == false or forceShowPasswordDialogue}">
                                        	<label for="password">Kodeord:</label>
                                            <input id="password" name="password" type="password" class="form-control" th:classappend="${incorrectInput} ? is-invalid : ''" placeholder="Kodeord" aria-required="true" />
                                        </div>

                                        <div class="form-group" th:if="${incorrectInput}">
                                            <p class="text-danger wcag-text-danger">Brugernavn eller kodeord er forkert</p>
                                        </div>

                                        <button onclick="formService.save()" class="btn btn-primary block full-width m-b wcag-btn-primary"><th:block th:if="${passwordless == false}">Login</th:block><th:block th:if="${passwordless == true}">Fortsæt</th:block></button>
                                        <a th:href="@{/sso/saml/login/cancel}" class="btn btn-danger block full-width m-b wcag-btn-danger">Afbryd login</a>

                                        <br>
                                        <a th:href="${changePasswordUrl}" class="wcag-small-blue">Glemt kodeord eller låst ude?</a>

                                        <hr/>

                                        <div class="form-group">
                                            <div>
                                                <label><input id="remember" type="checkbox" class="i-checks" alt="checkbox"> &nbsp; Husk brugernavn</label>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div th:if="${showNemLogIn}" role="tabpanel" id="tab-3" class="tab-pane" th:classappend="${preferNemid} ? 'active' : ''">
                                <div class="panel-body">

                                    <form class="m-t" id="login2" role="form" th:action="@{/sso/login}" method="post">
                                        <div class="form-group">
                                            <span th:utext="${@cmsMessageBundle.getText('cms.login.nemlogin.description')}" />
                                        </div>
                                        <br>
                                        <div class="form-group">
                                            <a th:href="@{/nemlogin/saml/login}" class="btn btn-primary block full-width m-b">Login med MitID</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="~{fragments/footer :: scripts (checkbox = true)}"></div>

<style>
    @media (max-width: 1199px) {
    	#infobox {
        	padding-right: 0px !important;
        	padding-left: 0px !important;
    	}
	}
</style>
<style>
    @media (max-width: 767px) {
	    .loginColumns {
        	padding-top: 20px;
    	}
    }
</style>
<style>
    .noinfo {    

    }
</style>
<script th:inline="javascript">
        /*<![CDATA[*/

		/*[+
			var url = [[@{/fragment/username}]];
			var username = [[${username != null ? username : ''}]];
			var requestedUsername = [[${@sessionHelper.getRequestedUsername()}]];
		+]*/

		var formService;
		$(document).ready(function() {
			formService = new FormService();
			formService.load();
		});

		function FormService() {
			var submitting = false;
			
			this.save = function() {
				if ($("#remember").prop('checked')) {
					username = $('#username').val();
					localStorage.setItem("username", username);
				}
				else {
					if (localStorage.getItem("username") != null) {
						localStorage.removeItem("username");
					}
				}

				$('#login').submit();
			}

			this.resetUser = function() {
				if (localStorage.getItem("username") != null) {
					localStorage.removeItem("username");
				}
				
				$("#remember").iCheck('uncheck');
				
				$("#usernameSection").load(url, function() {
					$('#username').focus();
				});
			}

			this.load = function() {
				$('#login').submit(function() {
					if (submitting) {
						return false;
					}
					
					// set submitting = true to prevent double-post for 5 seconds
					submitting = true;
					window.setTimeout(function() {
						submitting = false;
					}, 5000);
					
					return true;
				});

				var localUsername = localStorage.getItem("username");
				if (localUsername != null) {
					$("#remember").iCheck('check');
				}
				else if (requestedUsername != null) {
					localUsername = requestedUsername;
                }
				else {
					localUsername = username;
				}

				$("#usernameSection").load(url + "?username=" + localUsername, function() {
					if ($('#username').val()) {
					    $('#password').focus();
					}
					else {
						$('#username').focus();
					}
				});
			}
		}

        var loginService;
		$(document).ready(function() {
		    loginService = new LoginService();
		    loginService.init();
        });

        function LoginService() {
            this.init = function() {
                $('#username,#password').on('keyup',function() {
                    if($(this).val().length > 0){
                        $('#username,#password').removeClass('is-invalid');
                    }
                });
            }
        }

		/*]]>*/
	</script>
	
</body>
</html>
