<!DOCTYPE html>
<html lang="da">
<head th:replace="~{fragments/header :: header}"></head>
<div th:replace="~{fragments/topbar :: topbar}"></div>
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox">
                <div class="ibox-title">
                    <h1 class="wcag-h1-as-h5"><em class="fa fa-user"></em> &nbsp; Login</h1>
                </div>

                <div class="ibox-content">
                	<!-- hidden link for screen readers. When it is clicked it goes straight to reading the challenge code -->
                	<a class="sr-only sr-only-focusable" href="#wcag-challenge">Gå til kode</a>
                    <form id="loginForm" method="get" th:action="@{/sso/saml/mfa/} + ${deviceId} + '/completed'">
                        <div>
                            <p th:utext="${@cmsMessageBundle.getText('cms.login.mfaChallenge.content.top')}"></p>
                        </div>

                        <div th:if="${challenge} != null">
                            <p class="mb-5" th:if="${#strings.length(challenge) == 2}">
                                Din 2-faktor enhed åbner om lidt og beder om en kontrolkode - angiv nedenstående kode for at godkende login
                            </p>
                            
                            <p class="mb-5" th:if="${#strings.length(challenge) != 2}">
                                Din 2-faktor enhed åbner om lidt og spørger om du vil tillade login, når dette sker, skal du verificere at den kode der vises i din 2-faktor enhed matcher nedenstående
                            </p>

                            <div class="mb-5">
                                <h2 id="wcag-challenge" th:text="${challenge}" style="width: 150px; margin: 20px auto; padding: 10px 0px; border: 1px solid black; text-align: center;"></h2>
                            </div>
                        </div>
                        
                        <div th:if="${isAndroidOrIOS}" class="mb-5" id="openInApp" style="display: none;">
                            <a href="#" onclick="openApp(); return false;" class="btn btn-primary btn-block">Åben OS2faktor App</a>
                        </div>

                        <div th:if="${redirectUrl} != null">
                            <p class="mb-5">
                                Din browser åbner nu et login-skærmbillede, hvor du skal gennemføre login med din 2-faktor enhed. Hvis vinduet ikke åbner af sig selv, kan du åbne det ved at trykke på knappen nedenfor. Hvis vinduet ikke åbner, skal du blot trykke på nedenstående knap.
                            </p>

                            <div class="mb-5">
                                <button style="min-width: 150px;" onclick="mfaService.openRedirect()" class="btn btn-primary" target="_blank">Login</button>
                            </div>
                        </div>

			            <div id="finishLoginBlock" style="display: none;">
			                <button type="submit" class="btn btn-primary btn-block">Videre</button>
			                <br/>
			                <p>
			                    Login er gennemført - tryk på knappen ovenfor for at gå videre
			                </p>
			            </div>

                        <div>
                            <a th:if="${@sessionHelper.isInPasswordlessMfaFlow()}" th:href="@{/sso/login/password}" style="color: black;">                            
                                <em class="fa fa-fw fa-key"></em> &nbsp; Log ind med kodeord
                            </a><br/>
                            <a th:if="${@loginService.showNemLogIn()}" th:href="@{/sso/saml/login/nemid}" style="color: black;">                            
                                <em class="fa fa-fw fa-key"></em> &nbsp; Log ind med MitID
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="~{fragments/footer :: scripts}"></div>
</body>

<script th:src="@{/js/ua-parser.min.js}"></script>

<script th:inline="javascript">
	/*<![CDATA[*/

		/*[+
            var os2faktorBackend = [[${os2faktorBackend}]];
            var url = [[@{/ui/tempworker}]];
            var pollingKey = [[${pollingKey}]];
            var redirectUrl = [[${redirectUrl}]];
            var delayedLoginOnMobile = [[${delayedLoginOnMobile}]];
            var finishUrl = [[${@OS2faktorConfiguration.baseUrl} + '/sso/saml/mfa/' + ${deviceId} + '/completed']];
            var wakeEvent = [[${wakeEvent}]];
		+]*/
		var delayedLogin = false;
		var token = $("meta[name='_csrf']").attr("content");

        var mfaService;
		$(document).ready(function() {
            mfaService = new MfaService();
            mfaService.init();
            
            try {
	            // catch app browsers returning from hibernate, and force a poll
	            window.addEventListener('visibilitychange', function(ev) {
	            	//alert('welcome back');
	            	window.setTimeout(function() {
						mfaService.poll();
	            	}, 500);
				});
            }
            catch (err) {
				;
            }
            
            // if not already enabled, enable delayedLogin on mobile devices
            try {
            	if (!delayedLogin && delayedLoginOnMobile && hasTouchSupport()) {
            		delayedLogin = true;
            	}
            }
            catch (err) {
            	;
            }
            
            if (hasTouchSupport()) {
				var elem = document.getElementById('openInApp');
				if (elem) {
					elem.style.cssText = 'display: block;';
				}
			}
		});

		function openApp() {
		    try {
				var elem = document.getElementById('openInApp');
				if (elem) {
					elem.style.cssText = 'display: none;';
				}

		        window.location.href = "os2faktor://";
		    }
			catch (e) {
				;
		    }
		}
		
		function hasTouchSupport() {
			const uap = new UAParser();
			
			// some platforms will not correctly detect as mobile, but those are rare, and we
			// would rather default to desktop behaviour, than the other way
			return uap.getDevice().is('mobile');
		}
		
        function MfaService() {
			var submitting = false;
	        var pollingFn;
	        var tries = 0;

            this.init = function() {
            	// extra check to avoid double-submitting
                $("#loginForm").submit(function() {
					if (submitting) {
						return false;
					}
					
					// set submitting = true to prevent double-post for 5 seconds
					submitting = true;
					window.setTimeout(function() {
						submitting = false;
					}, 5000);

					return true;
                });

            	this.initPolling();

                // open yubikey window if needed
                if (redirectUrl != null && redirectUrl.length > 0) {
                    mfaService.openRedirect();
                }

                if (wakeEvent) {
                    // fire the os2faktorEvent for clients that can listen for it
                    setTimeout(function () {
                        var evt = document.createEvent('Event');
                        evt.initEvent('os2faktorEvent', true, true);
                        document.dispatchEvent(evt);
                    }, 500);
                }
            }

            this.initPolling = function() {
            	tries = 0;

            	// clear any other intervals
            	try {
            		clearInterval(pollingFn);
            	} catch (err) {
            		; // ignored
            	}

            	// setup new interval
                pollingFn = setInterval(function() {
                    if (tries++ > 60 * 5) {
                         clearInterval(pollingFn);
                    }

                    mfaService.poll();
                }, 1000);
            }
            
            this.poll = function() {
                $.ajax({
                    url: os2faktorBackend + "/api/notification/" + pollingKey + "/poll",
                    success: function(data, textStatus, xhr) {
                        if (data && data.stateChange == true) {
                           // prevent double-submits if the form is slow
                           clearInterval(pollingFn);

                            if (delayedLogin) {
                                var insideBrowserElem = document.getElementById('finishLoginBlock');
                                insideBrowserElem.style.cssText = 'display: block;';
                            }
                            else {
                                mfaService.finishLoginFlow();
                            }
                        }
                    }
                });
            }

            this.openRedirect = function() {
            	window.location.href = redirectUrl + "?redirectUrl=" + finishUrl;
            }

            this.finishLoginFlow = function() {
            	$("#loginForm").submit();
            }
        }

		/*]]>*/
	</script>
</html>
