<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}" />
<body class="gray-bg">
	<div th:replace="~{fragments/topbar :: topbar}"></div>

    <div style="max-width: 1500px; margin: 0px auto; padding: 20px;">
        <div class="row">
			<div class="ibox-content offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-xl-8 offset-xl-2" style="padding-top: 10%; padding-bottom: 10%;">
				<div class="middle-box text-center" style="margin-top: 40px;">
					<img src="https://nemlog-in.mitid.dk/Content/images/mitid_logo.svg" style="width: 150px;">
					<br>
					<em style="margin-top: 50px;" class="fa fa-fw fa-spinner fa-spin fa-4x"></em>
				</div>
			</div>
        </div>
    </div>

	<div th:replace="~{fragments/footer :: scripts}" />

	<script th:inline="javascript">
		$(document).ready(function() {
			window.location = '/nemlogin/saml/login?idp=https://saml.nemlog-in.dk';
        });
	</script>
</body>
</html>
