<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (checkbox = false)" />
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox offset-md-2 col-md-8">
                <div class="ibox-title">
                    <h5><em class="fa fa-calendar-times-o "></em> &nbsp; Kodeord udløbet</h5>
                </div>

                <div class="ibox-content">

                    <p>Du skal skifte dit kodeord før du kan gennemføre login.</p>

                    <a th:href="@{/sso/saml/changepassword?redirectUrl=/sso/saml/login/forceChangePassword/continueLogin}" class="btn btn-success block full-width m-b">Skift kodeord</a>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="fragments/footer :: scripts (checkbox = false)" />
</body>
</html>
