<!DOCTYPE html>
<html>

<head th:replace="fragments/header :: header (checkbox = false)"></head>
<div th:replace="fragments/topbar :: topbar"></div>

<body class="gray-bg">
    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox offset-md-2 col-md-8">
                <div class="ibox-title">
                    <h5><em class="fa fa-calendar-times-o "></em> &nbsp; Kodeord udløber</h5>
                </div>

                <div class="ibox-content">

                    <p th:if="${forced}">Dit kodeord er udløbet, og du skal skifte det før du kan gennemføre login.</p>
                    <th:block th:unless="${forced}">
                    <th:block th:switch="${daysLeft}">
                        <p th:case="0">Dit kodeord udløber snart, hvis du vil skifte det, så tryk på skift kodeord</p>
                        <p th:case="1">Dit kodeord udløber om <span th:text="${daysLeft}"></span> dag, hvis du vil skifte det, så tryk på skift kodeord</p>
                        <p th:case="*">Dit kodeord udløber om <span th:text="${daysLeft}"></span> dage, hvis du vil skifte det, så tryk på skift kodeord</p>
                    </th:block>
                    </th:block>

                    <a th:if="${alternativeLink == null || alternativeLink == ''}" th:href="@{/sso/saml/changepassword?redirectUrl=/sso/saml/login/continueLogin}" class="btn btn-success block full-width m-b">Skift kodeord</a>
                    <a th:unless="${alternativeLink == null || alternativeLink == ''}" th:href="${alternativeLink}" class="btn btn-success block full-width m-b">Skift kodeord</a>
                    <a th:unless="${forced}" th:href="@{/sso/saml/login/continueLogin}" class="btn btn-success block full-width m-b">Fortsæt login uden at skifte kodeord</a>
                </div>
            </div>
        </div>
    </div>
    
	<div th:replace="fragments/footer :: scripts (checkbox = false)"></div>
</body>
</html>
