<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="gray-bg">
    <div class="loginColumns animated fadeInDown" style="max-width: none;">
        <div class="row">
            <div class="ibox offset-md-2 col-md-8">
                <div class="ibox-title">
                    <h5><em class="fa fa-users"></em> &nbsp; Vælg bruger</h5>
                    <div class="ibox-tools">
						<em class="fa fa-question" data-toggle="popover" data-trigger="hover" data-placement="top" data-html="true" th:attr="data-content=${@cmsMessageBundle.getText('cms.login.selectUser.help')}"></em>
					</div>
                </div>

                <div class="ibox-content">
                	<div th:if="${@cmsMessageBundle.getText('cms.login.selectUser.content')} != ''">
	               		<div th:utext="${@cmsMessageBundle.getText('cms.login.selectUser.content')}"></div>
	               		<br/>
	               	</div>
                    <div style="display:none;">
                        <form class="m-t" id="login" role="form" th:action="@{/sso/saml/login/multiple/accounts}" method="post">
                            <div class="form-group">
                                <input id="personId" name="personId" type="text" class="form-control"/>
                            </div>
                        </form>
                    </div>

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Navn</th>
                                <th style="width: 200px;">Brugernavn</th>
                                <th style="width: 200px;">Domæne</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="person : ${people}" th:onclick="'selectService.selectUser(' + ${person.id} + ')'" style="cursor: pointer;">
                                <td th:text="${person.name}"></td>
                                <td th:text="${T(dk.digitalidentity.common.service.PersonService).getUsername(person)}"></td>
                                <td th:text="${person.domain.name}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
	<div th:replace="fragments/footer :: scripts" />
    <script th:inline="javascript">
        /*<![CDATA[*/

		/*[+
		+]*/

		var selectService;
		$(document).ready(function() {
			selectService = new SelectService();
		});

		function SelectService() {
			this.selectUser = function(id) {
                $('#personId').val(id);
				$('#login').submit();
			}
		}

		/*]]>*/
	</script>
</body>
</html>
