<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (datatables = true)}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar (page = 'admin.configure-links')}"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-link"></em> &nbsp; Opsæt kendte netværk</h5>
								<div class="ibox-tools" style="top: 8px !important;right: 8px !important;">
									<a th:href="@{/admin/konfiguration/knownNetworks/edit}" class="btn btn-primary">
										<em class="fa fa-pencil"></em>
										&nbsp;
										Redigér
									</a>
								</div>
							</div>

							<div class="ibox-content">
								<p>
									Nedenfor kan der vedligeholdes en liste af kendte netværk. Dette kan gøres via CIDR notation (eksempel: 192.0.2.0/24).
									På tjenesteudbydere kan man vælge at slå 2-faktor fra for login foretaget fra de kendte netværk. 
								</p>
								
								<div class="table-responsive">
									<table id="knownNetworks" class="table table-striped table-bordered table-hover" >
										<thead>
											<tr>
												<th>Kendte netværk</th>
											</tr>
										</thead>
										
										<tbody>
											<tr th:each="knownNetwork : ${knownNetworks}">
												<td th:text="${knownNetwork.ip}" />
											</tr>
										</tbody>
										
									</table>
								</div>
							</div>
							
						</div>
					</div>
					
					<div th:replace="~{fragments/rightbar :: admin (page = 'admin.configure-links')}"></div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts (datatables = true)}"></div>
	
	<script th:inline="javascript">
	
		/*<![CDATA[*/
	
		/*[+
		+]*/
	
		var token = $("meta[name='_csrf']").attr("content");	

		$(document).ready(function() {
            $('#knownNetworks').DataTable({
				"bSort": false,
				"paging": false,
				"responsive": true,
				"dom": "<'row'<'col-sm-12'tr>>",
		        "language": {
		            "info":         "Viser _START_ til _END_ af _TOTAL_ netværk",
		            "zeroRecords":  "Ingen netværk...",
		            "infoEmpty":    "Ingen netværk...",
		            "paginate": {
		                "previous": "Forrige",
		                "next": "Næste"
		            }
		        }
            });
		});
		
	/*]]>*/
	</script>
</body>
</html>
