<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (checkbox = true)}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar (page = 'otherUsers.change-password')}"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5><em class="fa fa-user"></em> &nbsp; Vælg kodeord</h5>
                            </div>
    
                            <div class="ibox-content">
                                <div th:if="${@cmsMessageBundle.getText('cms.changePassword.content')} != ''">
                                    <div th:utext="${@cmsMessageBundle.getText('cms.changePassword.content')}"></div>
                                    <br/>
                                </div>

                                <form class="m-t" role="form" action="#" th:action="@{/andre-brugere/kodeord/skift}" th:object="${passwordForm}" method="post">
                                    <input th:field="*{personId}" style="display: none;"/>
                                    <input th:field="*{forceChangePassword}" style="display: none;" th:if="${@commonConfiguration.getStilStudent().isForceChangePasswordTeacherChoiceEnabled() == false}"/>
                                    <div class="form-group">
                                        <h4><p>Skift kodeord på:</p></h5>
                                        <p th:text="*{personName}"/>
                                    </div>
    
                                    <div class="form-group row">
										<label class="col-sm-1 col-form-label">Kodeord</label>
										<div class="col-sm-11">
	                                        <input type="password" th:field="*{password}" class="form-control" placeholder="Nyt kodeord" autofocus="autofocus" />
	                                        <ul id="passwordErrorList" class="error">
	                                            <li class="errorEntry" th:if="${technicalError == true}">Det valgte kodeord blev afvist af din organisations Active Directory</li>
												<li class="errorEntry" th:if="${insufficientPermission == true}"><th:block th:text="${@cmsMessageBundle.getText('cms.changePassword.insufficient-permission')}"></th:block></li>
	                                            <li class="errorEntry" th:if="${#fields.hasErrors('password')}" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
	                                        </ul>
	                                	</div>
                                    </div>
    
                                    <div class="form-group row">
										<label class="col-sm-1 col-form-label">Gentag</label>
										<div class="col-sm-11">
	                                        <input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Gentag kodeord" />
	                                        <ul id="confirmPasswordErrorList" class="error">
	                                            <li class="errorEntry" th:if="${#fields.hasErrors('confirmPassword')}"  th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"/>
	                                        </ul>
	                                    </div>
                                    </div>

                                    <div class="form-group row">
										<label class="col-sm-1 col-form-label">
											Midlertidig kode
											<em class="fa fa-question" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Hvis der er flueben i dette felt, skal den valgte kode skiftes af eleven ved næste login"></em>
										</label>
										<label class="col-sm-11 col-form-label"><input id="forceChangePassword" th:field="*{forceChangePassword}" type="checkbox" class="i-checks" th:disabled="${@commonConfiguration.getStilStudent().isForceChangePasswordTeacherChoiceEnabled() == false}"></label>
                                    </div>

                                    <button type="submit" class="btn btn-primary block full-width m-b">Skift kodeord</button>
                                </form>

                                <th:block th:replace="~{fragments/password-settings :: list(settings = ${settings}, disallowNameAndUsernameContent = ${disallowNameAndUsernameContent}, activation = false)}"></th:block>
                            </div>
                        </div>
                    </div>
					
					<div th:replace="~{fragments/rightbar :: otherUsers (page = 'otherUsers.change-password-list')}"></div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
	</div>

	<style>
		ul.error li {
			color: red;
		}
	</style>
	
	<div th:replace="~{fragments/footer :: scripts (checkbox = true)}"></div>
    <script th:inline="javascript">
            /*<![CDATA[*/

            $(document).ready(function() {
                // listeners for error message calculation
                $("#password").on("keyup", function() {
                    $("#passwordErrorList .errorEntry").remove();
                    $("#confirmPasswordErrorList .errorEntry").remove();
                });
                $("#confirmPassword").on("keyup", function(){
                	$("#confirmPasswordErrorList .errorEntry").remove();
                });
            });

            /*]]>*/
    </script>
</body>
</html>
