<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'selfservice.change-password')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-user"></em> &nbsp; Skift kodeord</h5>
							</div>

							<div class="ibox-content">
								<form class="m-t" role="form" action="#" th:action="@{/selvbetjening/skiftkode}" th:object="${passwordForm}" method="post">
									<div class="form-group">
										<input type="password" th:field="*{password}" class="form-control" placeholder="Nyt kodeord" autofocus="autofocus" />
										<ul th:if="${#fields.hasErrors('password')}" class="error">
											<li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
										</ul>
									</div>

									<div class="form-group">
										<input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Gentag kodeord" />
										<ul th:if="${#fields.hasErrors('confirmPassword')}" class="error">
											<li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"/>
										</ul>
									</div>

									<button type="submit" class="btn btn-primary block full-width m-b">Skift kodeord</button>
								</form>
								<ul>
									<li th:text="#{page.selfservice.changePassword.rule.length(${settings.minLength})}"></li>
									<li th:if="${settings.bothCapitalAndSmallLetters}" th:text="#{page.selfservice.changePassword.rule.bothcapitalandsmall}"></li>
									<li th:if="${settings.requireDigits}" th:text="#{page.selfservice.changePassword.rule.digits}"></li>
									<li th:if="${settings.requireSpecialCharacters}" th:text="#{page.selfservice.changePassword.rule.special}"></li>
								</ul>
							</div>
						</div>
					</div>

					<div th:replace="fragments/rightbar :: selfservice (page = 'selfservice.change-password')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts" />
</body>
</html>
