<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'selfservice.lock-account')"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-user"></em> &nbsp; Lås erhvervsidentitet</h5>
							</div>

							<div class="ibox-content">
								<form id="deactivateForm" class="m-t" role="form" method="post" th:action="@{/selvbetjening/spaerre}">
									<div th:if="${@cmsMessageBundle.getText('cms.lockAccount.content')} != ''" class="mb-5">
				                		<span th:utext="${@cmsMessageBundle.getText('cms.lockAccount.content')}"></span>
				                	</div>

				                	<p>
				                		<strong>Når din erhvervsidentitet er låst, kan den ikke længere bruges til følgende tjenester</strong>
				                	</p>
				                	
				                	<ul>
				                		<li th:each="provider : ${serviceProviders}" th:text="${provider.name}"></li>
				                	</ul>

									<button id="deactivateBtn" type="button" class="btn btn-danger block full-width m-b">Lås erhvervsidentitet</button>
								</form>
							</div>
						</div>
					</div>

					<div th:replace="fragments/rightbar :: selfservice (page = 'selfservice.lock-account')"></div>
				</div>
			</div>

			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts"></div>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*[+
		var lockButtonConfirm = [[#{shared.button.yes}]];
		var lockButtonCancel = [[#{shared.button.no}]];
		+]*/

		var lockText = "Er du sikker på at du vil låse din erhvervsidentitet?";
		
		$(document).ready(function() {
			$("#deactivateBtn").click(function(){
				swal({
					title: '',
					text: lockText,
					showCancelButton: true,
					type: "warning",
					confirmButtonColor: "#DD6B55",
					confirmButtonText: lockButtonConfirm,
					cancelButtonText: lockButtonCancel,
					closeOnConfirm: true,
					closeOnCancel: true
				 },
				 function (isConfirm) {
					if (isConfirm) {
						$("#deactivateForm").submit();
					}
				 });
			});
		});
		/*]]>*/
	</script>
</body>
</html>
