<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar}"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="offset-lg-2 col-lg-8">
						<div class="ibox">
							<div class="ibox-title">
			                    <h5><em class="fa fa-exclamation-triangle"></em> &nbsp; Der er opstået et problem</h5>
			                </div>

			                <div class="ibox-content">
			                    <p th:utext="${@cmsMessageBundle.getText('cms.password.mismatch.content')}"></p>

			                    <br/>

								<a class="btn btn-primary block full-width m-b" th:href="${@OS2faktorConfiguration.getIdp().getBaseUrl()} + 'sso/saml/changepassword?redirectUrl=' + ${currentBaseUrl} + @{/saml/login}">Skift kodeord nu</a>
								<a class="btn btn-danger block full-width m-b" href="/selvbetjening?skipChangePassword=true">Jeg skifter kodeord senere</a>
			                </div>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>
