<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar (page = 'admin.password-change')}"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-user"></em> &nbsp; Vælg kodeord</h5>
							</div>
	
							<div class="ibox-content">
								<div th:if="${@cmsMessageBundle.getText('cms.changePassword.content')} != ''">
									<div th:utext="${@cmsMessageBundle.getText('cms.changePassword.content')}"></div>
									<br/>
								</div>

								<form class="m-t" role="form" action="#" th:action="@{/admin/identiteter/resetPassword}" th:object="${passwordForm}" method="post">
									<input th:field="*{personId}" class="form-control" style="display: none;"/>
									<div class="form-group">
										<h4><p>Skift kodeord på:</p></h5>
										<p th:text="*{personName}"></p>
									</div>
	
									<div class="form-group">
										<input type="password" th:field="*{password}" class="form-control" placeholder="Nyt kodeord" autofocus="autofocus" />
										<ul th:if="${#fields.hasErrors('password') or technicalError == true or connectionFailure == true or insufficientPermission == true}" class="error">
											<li th:if="${technicalError == true}">Det valgte kodeord blev afvist af din organisations Active Directory</li>
											<li th:if="${connectionFailure == true}">Ingen forbindelse til Active Directory</li>
											<li th:if="${insufficientPermission == true}"><th:block th:text="${@cmsMessageBundle.getText('cms.changePassword.insufficient-permission')}"></th:block></li>
											<li th:each="err : ${#fields.errors('password')}" th:text="${err}"></li>
										</ul>
									</div>
	
									<div class="form-group">
										<input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Gentag kodeord" />
										<ul th:if="${#fields.hasErrors('confirmPassword')}" class="error">
											<li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"/>
										</ul>
									</div>
	
									<button type="submit" class="btn btn-primary block full-width m-b">Skift kodeord</button>
								</form>
								<th:block th:replace="~{fragments/password-settings :: list(settings = ${settings}, activation = false)}"></th:block>
							</div>
						</div>
					</div>
					
					<div th:replace="~{fragments/rightbar :: admin (page = 'admin.password-change')}"></div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
	</div>

	<style>
		ul.error li {
			color: red;
		}
	</style>
</body>
</html>