<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true, checkbox = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.features')"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-users"></em> &nbsp; Teknisk opsætning</h5>
							</div>

							<div class="ibox-content">
								<p>
									Nedenfor er en liste over konfigurable indstillinger, som opsættes af driftoperatøren. Hvis disse indstillinger skal ændres,
									skal der tages kontakt til driftoperatøren via <a href="mailto:helpdesk@digital-identity.dk">helpdesk@digital-identity.dk</a>.
									Bemærk at flere af disse indstillinger kan kræve aftaleindgåelse hos 3.part, fx Digitaliseringsstyrelsen eller KOMBIT.
								</p>
								
								<h4>Konfiguration</h4>
								
								<div class="table-responsive">
									<table id="featureTable" class="table table-striped table-hover">
										<thead>
											<tr>
												<th style="text-align: center; width: 100px;">Slået til</th>
												<th style="width: 300px;">Navn</th>
												<th>Beskrivelse</th>
											</tr>
										</thead>
							
										<tbody>
											<tr th:each="feature : ${features}">
												<td style="text-align: center;"><em th:if="${feature.enabled}" class="fa fa-check"></em>
												<td th:text="${feature.name}" />
												<td th:text="${feature.description}" />
											</tr>
										</tbody>
									</table>
								</div>
								
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.features')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (datatables = true, checkbox = true)" />
	
	<script th:inline="javascript">
		/*<![CDATA[*/
	
		/*[+
		+]*/
		var token = $("meta[name='_csrf']").attr("content");
		var featureService;
		$(document).ready(function(){
			featureService = new FeatureService();
			featureService.init();
		});
		
		function FeatureService() {
			this.init = function() {
				$('#featureTable').DataTable({
					"bSort": false,
					"paging": false,
					"responsive": true,
					"dom": "<'row'<'col-sm-12'tr>>",
					'ordering': true,
			        'order': [
			        	[ 1, 'asc' ]
			        ],
			        "columnDefs": [
			            { "targets": [0], "orderable": false }
			        ],
					"language": {
						"search":	   "Søg",
						"lengthMenu":   "_MENU_ rækker per side",
						"info":		 "Viser _START_ til _END_ af _TOTAL_ rækker",
						"zeroRecords":  "Ingen data...",
						"infoEmpty":	"Henter data...",
						"infoFiltered": "(ud af _MAX_ rækker)",
						"paginate": {
							"previous": "Forrige",
							"next": "Næste"
						}
					}
				});
			}
		}
		
		/*]]>*/
	</script>
</body>
</html>
