<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.configure-badPassword')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-bars"></em> &nbsp; Opsæt svage kodeord</h5>
							</div>

							<div class="ibox-content">
								<p>
									Nedenfor er en liste over alle de forbudte kodeord, som brugerne ikke får lov til at vælge når de skifter kodeord. Her er
									det muligt at tilføje yderligere kodeord til listen, samt fjerne forbudte kodeord, som så bliver lovlige at vælge fremover.
									Bemærk at listen af kodeord kun er forbudte hvis man har tilvalgt "Forbyd svage kodeord" under kodeordsopsætningen.
								</p>

								<form id="newbadPasswordForm" class="m-t" role="form" method="post" th:action="@{/rest/admin/konfiguration/badpassword/add}">
									<div class="mb-5">
										<div class="input-group offset-md-6 col-md-6">
											<input type="text" id="newPassword" name="newPassword" class="form-control"></input>
											<span class="input-group-append">
												<button id="addNewPasswordtn" onclick="addnewPassword()" type="button" class="btn btn-primary">Tilføj kodeord</button>
											</span>
										</div>
				                	</div>
								</form>

								<div class="table-responsive">
									<table id="badPasswords" class="table table-striped table-bordered table-hover" >
										<thead>
											<tr>
                                                <th class="col-md-11">Kodeord</th>
												<th class="col-md-1">Fjern</th>
											</tr>
										</thead>

										<tfoot style="display: table-row-group">
											<tr>
												<td class="input-filter"><input type="text" class="form-control input-sm" placeholder="Søg"/></td>
											</tr>
										</tfoot>

										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>

					<div th:replace="fragments/rightbar :: admin (page = 'admin.configure-badPassword')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (datatables = true)" />


    <script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		var rootUrl = [[@{/}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		$(document).ready(function() {
			var table = $('#badPasswords').DataTable({
				"destroy": true,
				"ajax": {
					"contentType": "application/json",
					"url": "/rest/admin/konfiguration/badpassword",
					"type": "POST",
					"headers": {
						"X-CSRF-TOKEN": token
					},
					"data": function(d) {
					 	return JSON.stringify(d);
					}
				},
				"serverSide": true,
				"columns": [
					{
						data : "password",
						orderable: false,
						searchable: true

					},
                    {
                        data : "id",
                        orderable: false,
                        render: function(data, type, row, meta) {
                            var result = '';
                           	return result += '<a href="#" class="openConfirmDeleteDialog" data-id="' + row.id + '"><em style="color: black;" class="fa fa-remove"></em></a>';

                        }
                    }
				],
				"ordering": true,
		        "order": [ [ 0, "desc" ] ],
				"info": true,
				"pageLength": 10,
				"lengthChange": false,
				"bSort": false,
				"dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
				"responsive": true,
				"language": {
					"search":	   "Søg",
					"lengthMenu":   "_MENU_ kodeord per side",
					"info":		 "Viser _START_ til _END_ af _TOTAL_ kodeord",
					"zeroRecords":  "Ingen data...",
					"infoEmpty":	"Henter data...",
					"infoFiltered": "(ud af _MAX_ kodeord)",
					"paginate": {
						"previous": "Forrige",
						"next": "Næste"
					}
				}
			});

			$.each($('.input-filter', table.table().footer()), function() {
				var column = table.column($(this).index());

				$('input, select', this).on('keyup change', function () {
					if (column.search() !== this.value) {
						column.search(this.value).draw();
					}
				});
			});
		});

        $(document.body).on('click','.openConfirmDeleteDialog', function(e) {
        	e.preventDefault();
			var id = $(this).data('id');

			/*[+
				var cancelTxt = [[#{html.control.button.cancel}]];
				var confirmTxt = [[#{html.control.button.delete}]];
				var errorMsg = [[#{html.default.message.error}]];

			+]*/
			removeBadPassword(id);

        	function removeBadPassword(id) {

				/*[+
				var rootUrl = window.location.origin;
				+]*/

				swal({
					html: true,
					title : '',
					text : "Ønsker du at fjerne kodeordet fra listen over forbudte kodeord?",
					type : "warning",
					showCancelButton : true,
					confirmButtonColor : "#DD6B55",
					confirmButtonText : "Ja",
					cancelButtonText : "Nej",
					closeOnConfirm : true,
					closeOnCancel : true
				},
				function (isConfirm) {
					if (isConfirm) {
						$.ajax({
							url: rootUrl + '/rest/admin/konfiguration/badPassword/remove/' + id,
							method: "POST",
							headers: {
								'X-CSRF-TOKEN': token
							},
							success: function(response) {
								location.reload();
							}
						});
					}
				}
				);
			}
		});

		function addnewPassword(){

				/*[+
				var rootUrl = window.location.origin;
				+]*/

				var password = document.getElementById("newPassword").value;

				swal({
					title: '',
					text: "Ønsker du at tilføje kodeordet til listen over forbudte kodeord?",
					showCancelButton: true,
					type: "warning",
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Ja",
					cancelButtonText: "Nej",
					closeOnConfirm: true,
					closeOnCancel: true
				 },
				 function (isConfirm) {
					if (isConfirm) {
						$.ajax({
							url: rootUrl + '/rest/admin/konfiguration/badPassword/add',
							data: password,
							method: "POST",
							contentType: "text/plain",
							headers: {
								'X-CSRF-TOKEN': token
							},
							statusCode: {
								200 : function(reponse){
									toastr.success("Kodeordet er tilføjet");
									
									document.getElementById("newPassword").value = '';
								},
								409 : function(response){	
									toastr.error("Kodeordet findes allerede på listen over svage kodeord");
									
									document.getElementById("newPassword").value = '';
								}
							}
						});
					}
				 });
		}
		/*]]>*/

	</script>
</body>
</html>