<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.configure-links')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-link"></em> &nbsp; Opsæt links</h5>
								<div class="ibox-tools" style="top: 8px !important;right: 8px !important;">
									<button onclick="modalService.openCreateModal()" class="btn btn-primary">Opret nyt link</button>
								</div>
							</div>

							<div class="ibox-content">
								<p>
									Nedenfor kan der tilføjes relevante links som gøres synligt for brugerne inde i selvbetjeningsløsningen.
									En bruger som er logget ind i selvbetjeningsløsningen kan se disse links i deres højre-menu.
								</p>
								
								<p>
									Anvend knappen "Opret nyt link" til at oprette et nyt link, og klik på skraldespands-ikonet for at slette et link.
								</p>
								
								<h4>Links</h4>
								<div class="table-responsive">
									<table id="links" class="table table-striped table-bordered table-hover" >
										<thead>
											<tr>
												<th style="width: 250px;">Link tekst</th>
												<th>link beskrivelse</th>
												<th>link adresse</th>
												<th style="width: 200px;">Domæne</th>
												<th style="width: 70px;">Handlinger</th>
											</tr>
										</thead>
										
										<tbody>
											<tr th:each="link : ${@linkService.getAll()}">
												<td th:text="${link.linkText}" />
												<td th:text="${link.description}" />
												<td th:text="${link.link}" />
												<td th:text="${link.domain.name}" />
												<td>
													<i class="fa fa-pencil" aria-hidden="true" title="Rediger" th:attr="data-id=${link.id}, data-title=${link.linkText}, data-description=${link.description}, data-address=${link.link}, data-domainid=${link.domain.id}" th:onClick="operationService.editLink(this)"></i>
													&nbsp;
													<i class="fa fa-trash" aria-hidden="true" title="Slet" th:attr="data-id=${link.id}" th:onClick="operationService.deleteLink(this)"></i>
												</td>
											</tr>
										</tbody>
										
									</table>
								</div>
							</div>
							
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.configure-links')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<!-- create link Modal -->
	<div class="modal inmodal" id="modalLink" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span class="sr-only">Luk</span>
					</button>
					<h4 class="modal-title" id="createLinkTitle" hidden>Opret link</h4>
					<h4 class="modal-title" id="editLinkTitle" hidden>Rediger link</h4>
				</div>

				<div class="modal-body">
					<input id="modalIdInput" hidden>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Link tekst</label>
						<input class="col-sm-10 form-control" placeholder="Indtast link tekst" id="modalTextInput" maxlength="64">
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Link beskrivelse</label>
						<input class="col-sm-10 form-control" placeholder="Indtast link beskrivelse" id="modalDescription" maxlength="255">
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Link adresse</label>
						<input class="col-sm-10 form-control" placeholder="Indtast link adresse" id="modalLinkInput" maxlength="500">
					</div>
					
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Domæne</label>
						<select id="modalDomain" class="col-sm-10 form-control m-b">
							<option th:each="domain : ${domains}" th:value="${domain.id}" th:text="${domain.name}"></option>
						</select>
					</div>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">Annuller</button>
					<button type="button" class="btn btn-primary" onclick="modalService.save()">Gem</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End create link Modal -->

	<div th:replace="fragments/footer :: scripts (datatables = true)" />
	
	<script th:inline="javascript">
	
		/*<![CDATA[*/
	
		/*[+
			var restUrlNew = [[@{/rest/admin/settings/link/new}]];
			var restUrlDelete = [[@{/rest/admin/settings/link/delete/}]];
		+]*/
	
		var token = $("meta[name='_csrf']").attr("content");	

		var modalService, operationService;
		$(document).ready(function() {
			modalService = new ModalService();
			operationService = new OperationService();
			
            $('#links').DataTable({
				"bSort": false,
				"paging": false,
				"responsive": true,
				"dom": "<'row'<'col-sm-12'tr>>",
		        "language": {
		            "info":         "Viser _START_ til _END_ af _TOTAL_ links",
		            "zeroRecords":  "Ingen links...",
		            "infoEmpty":    "Ingen links...",
		            "paginate": {
		                "previous": "Forrige",
		                "next": "Næste"
		            }
		        }
            });
		});
		
		function ModalService() {
			this.openCreateModal = function() {
				$('#modalIdInput').val('0');
				$('#modalTextInput').val('');
				$('#modalLinkInput').val('');
				$('#modalDescription').val('');
				$("#editLinkTitle").prop('hidden', true);
				$("#createLinkTitle").prop('hidden', false);
				$('#modalLink').modal("show");
				$('#modalTextInput').focus();				
			}
			
			this.openEditModal = function(id, title, description, domainId, address) {
				$('#modalIdInput').val(id);
				$('#modalTextInput').val(title);
				$('#modalLinkInput').val(address);
				$('#modalDescription').val(description);
				$('#modalDomain').val(domainId);
				$("#editLinkTitle").prop('hidden', false);
				$("#createLinkTitle").prop('hidden', true);
				$('#modalLink').modal("show");
				$('#modalTextInput').focus();
			}
			
			this.save = function() {
				var id = $('#modalIdInput').val();
				console.log(id);
				var text = $('#modalTextInput').val();
				var link = $('#modalLinkInput').val();
				var domainId = $('#modalDomain').val();
				var description = $('#modalDescription').val();
				
				$.ajax({
     			   url: restUrlNew,
     			   headers: {
     			      'X-CSRF-TOKEN': token
     			   },
     			   type: 'post',
     			   contentType: 'application/json',
     			   data: JSON.stringify({
					  'id': id,
     			      'text': text,
     			      'link' : link,
     			      'domainId' : domainId,
     			      'description' : description
     			   }),
     			   success: function(data, textStatus, jQxhr) {
     				   location.reload(true);
     			   },
     			   error: function(jQxhr, textStatus, errorThrown) {
     				   if (jQxhr.status == 400) {
     					  toastr.error(jQxhr.responseText);
     				   } else {
     					  toastr.error("Der skete en fejl");
     				   }
     			   }
     			});
			}
		}
		
		function OperationService() {
			this.deleteLink = function(obj) {
				$.ajax({
					   url: restUrlDelete + $(obj).data("id"),
					   headers: {
						  'X-CSRF-TOKEN': token
					   },
					   type: 'post',
					   success: function(data, textStatus, jQxhr) {
						 location.reload(true);
					   },
					   error: function(jQxhr, textStatus, errorThrown) {
							toastr.error("Fejl! Kunne ikke slette link.");
					   }
				});
			};
			
			this.editLink = function(obj) {
				var id = $(obj).data("id");
				var title = $(obj).data("title");
				var description = $(obj).data("description");
				var domainId = $(obj).data("domainid");
				var address = $(obj).data("address");
				modalService.openEditModal(id, title, description, domainId, address);
			};
		}
		
	/*]]>*/
	</script>
</body>
</html>
