<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (checkbox = true, slider = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.configure-password')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-gears"></em> &nbsp; Opsæt kodeordsregler</h5>
							</div>

							<div class="ibox-content">
								<p>
									Her kan man opsætte de minimumskrav der er til brugernes kodeord. Hvis man har flere domæner (indeling af brugere),
									så kan man opsætte forskellige kodeordsregler for de enkelte domæner. Start med at vælge det domæne der skal opsættes
									kodeordsregler for, og opsæt derefter reglerne. Slut af med at trykke på knappen "Opdater regler".
								</p>
								
								<h4>Kodeordsregler</h4>

								<form id="passwordConfig" action="#" th:action="@{/admin/konfiguration/password}" th:object="${configForm}" method="post">
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Vælg domæne</label>
										<div class="col-sm-8">
											<select th:field="*{domainId}" class="form-control m-b" onchange="settingsFetchService.fetchSettings();">
												<option th:each="domain : ${domains}" th:value="${domain.id}" th:text="${domain.toString()}"></option>
											</select>
										</div>
									</div>

									<input type="hidden" th:field="*{minLength}" />
									<input type="hidden" th:field="*{maxLength}" />
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Krævet længde</label>
										<div class="col-sm-8">
											<input id="pwdLength" class="passwordField" disabled="disabled"/>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">
											Komplekst kodeord krævet
											<em class="fa fa-question" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Hvis komplekse kodeord kræves, så skal brugeren overholde mindst 3 af nedenstående regler"></em>
										</label>
										<div class="col-sm-8">
											<label><input id="requireComplexPassword" th:field="*{requireComplexPassword}" type="checkbox" class="i-checks passwordField" checked="checked" disabled="disabled"></label>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Små bogstaver krævet</label>
										<div class="col-sm-8">
											<label><input id="requireLowercaseLetters" th:field="*{requireLowercaseLetters}" type="checkbox" class="i-checks passwordField" checked="checked" disabled="disabled"></label>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Store bogstaver krævet</label>
										<div class="col-sm-8">
											<label><input id="requireUppercaseLetters" th:field="*{requireUppercaseLetters}" type="checkbox" class="i-checks passwordField" checked="checked" disabled="disabled"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Tal krævet</label>
										<div class="col-sm-8">
											<label><input id="requireDigits" th:field="*{requireDigits}" type="checkbox" class="i-checks passwordField" checked="checked" disabled="disabled"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Specialtegn krævet</label>
										<div class="col-sm-8">
											<label><input id="requireSpecialCharacters" th:field="*{requireSpecialCharacters}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Må ikke indeholde navn/brugernavn</label>
										<div class="col-sm-8">
											<label><input id="disallowNameAndUserName" th:field="*{disallowNameAndUsername}" type="checkbox" class="i-checks passwordField" checked="checked" disabled="disabled"></label>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Forbyd Æ, Ø og Å</label>
										<div class="col-sm-8">
											<label><input th:field="*{disallowDanishCharacters}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Forbyd svage kodeord</label>
										<div class="col-sm-8">
											<label><input th:field="*{preventBadPasswords}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Tvungen passwordskifte</label>
										<div class="col-sm-2">
											<label><input id="forceChangePasswordEnabled" name="forceChangePasswordEnabled" type="checkbox" class="i-checks passwordField" th:checked="*{forceChangePasswordEnabled}" disabled="disabled"></label>
										</div>

										<div style="display:none;margin-left: 0px;" class="row forcedExtraFields">
											<input id="forceChangePasswordInterval" name="forceChangePasswordInterval" type="number" min="1" class="form-control col-sm-2 passwordField" th:value="*{forceChangePasswordInterval}" disabled="disabled"/>
											<label class="col-sm-8 col-form-label">Antal dage mellem password skifte</label>
										</div>
									</div>
									
									<div class="form-group row forcedExtraFields" style="display:none">
										<label class="col-sm-4 col-form-label">
											Link til alternativ passwordskifte
											<em class="fa fa-question" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Det alternative link bruges kun på 'Du skal skifte kodeord inden for x dage' siden"></em>
										</label>
										<div class="col-sm-8">
											<input id="alternativePasswordChangeLink" name="alternativePasswordChangeLink" type="text" class="form-control col-sm-6 passwordField" th:value="*{alternativePasswordChangeLink}"/>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Password historik</label>
										<div class="col-sm-2">
											<label><input th:field="*{disallowOldPasswords}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
										</div>
										
										<div style="display:none;margin-left: 0px;" class="row oldPasswordExtraFields">
											<input th:field="*{oldPasswordNumber}" type="number" min="1" class="form-control col-sm-2 passwordField" disabled="disabled"/>
											<label class="col-sm-8 col-form-label">Antal gamle password, der skal huskes</label>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Begræns lovlige specialtegn</label>
										<div class="col-sm-8">
											<label><input id="specificSpecialCharactersEnabled" th:field="*{specificSpecialCharactersEnabled}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
											<input name="allowedSpecialCharacters" id="inputSpecialCharacters" type="text" data-toggle="popover" data-placement="top" data-content="Eksempel tegn: !§$%&/()=?`'åæø<>" placeholder="Indtast lovlige specialtegn" class="form-control">
										</div>
									</div>

									<span id="adBlock">
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Replikering af kodeord til AD</label>
										<div class="col-sm-8">
											<label><input id="replicateToAdEnabled" th:field="*{replicateToAdEnabled}" type="checkbox" class="i-checks" disabled="disabled"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Validering af kodeord via AD</label>
										<div class="col-sm-2">
											<label><input id="validateAgainstAdEnabled" th:field="*{validateAgainstAdEnabled}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
										</div>
									</div>
									
									<div class="form-group row" id="monitoringRow" style="display:none">
										<label class="col-sm-4 col-form-label">Overvågning af AD integration</label>
										<div class="col-sm-2">
											<label><input id="monitoringEnabled" name="monitoringEnabled" type="checkbox" class="i-checks passwordField" disabled="disabled" th:checked="*{monitoringEnabled}"></label>
										</div>
									</div>

									<div class="form-group row" id="email" style="display:none">
										<label class="col-sm-4 col-form-label">Postkasse til adviseringer</label>
										<div class="col-sm-8">
											<input id="emailField" name="monitoringEmail" type="text" class="form-control col-sm-6 passwordField" disabled="disabled" th:value="*{monitoringEmail}"/>
										</div>
									</div>
									</span>
									
									<div class="form-group row" id="canNotChangePasswordRow">
										<label class="col-sm-4 col-form-label"> Disse brugere må ikke skifte kodeord</label>
										<div class="col-sm-2">
											<label><input id="canNotChangePasswordEnabled" name="canNotChangePasswordEnabled" type="checkbox" class="i-checks passwordField" disabled="disabled" th:checked="*{canNotChangePasswordEnabled}"></label>
										</div>
									</div>

									<div class="form-group row" id="canNotChangePasswordSelect" style="display:none">
										<label class="col-sm-4 col-form-label">Vælg gruppe der ikke må skifte kodeord</label>
										<div class="col-sm-8">
											<select id="canNotChangePasswordGroup" th:field="*{canNotChangePasswordGroup}" class="form-control m-b">
												<option th:each="group : ${groups}" th:value="${group.id}" th:text="${group.name}" th:selected="${group.id == configForm.canNotChangePasswordGroup}"></option>
											</select>
											<label th:if="${configForm.canNotChangePasswordGroup != null}" th:id="${configForm.canNotChangePasswordGroup}"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label"> Grænse for hvor mange gange en bruger må skifte kodeord</label>
										<div class="col-sm-2">
											<label><input id="maxPasswordChangesPrDayEnabled" name="maxPasswordChangesPrDayEnabled" type="checkbox" class="i-checks passwordField" disabled="disabled" th:checked="*{maxPasswordChangesPrDayEnabled}"></label>
										</div>
										
										<div style="display:none;margin-left: 0px;" class="row maxPasswordChangesExtraFields">
											<input th:field="*{maxPasswordChangesPrDay}" type="number" min="1" class="form-control col-sm-2 passwordField" disabled="disabled"/>
											<label class="col-sm-8 col-form-label">gange pr dag</label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Antal tilladte forkerte kodeord</label>
										<div class="col-sm-2">
											<label><input id="triesBeforeLockNumber" th:field="*{triesBeforeLockNumber}" type="number" min="1" class="form-control passwordField"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Minutter en konto er låst efter for mange forkerte kodeord</label>
										<div class="col-sm-2">
											<input id="lockedMinutes" th:field="*{lockedMinutes}" type="number" min="1" class="form-control passwordField">
										</div>
									</div>
									
									<hr/>
									
									<button type="submit" class="btn btn-primary block full-width m-b passwordField" disabled="disabled">Opdater regler</button>
									<a th:href="@{/admin}" type="button" class="btn btn-danger block full-width cancelBtn">Annuller</a>
								</form>
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.configure-password')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (checkbox = true, slider = true)" />
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		var minLength = [[${configForm.minLength}]];
		var maxLength = [[${configForm.maxLength}]];
		var url = [[@{/rest/admin/settings/password/}]];
		+]*/

		var settingsFetchService;
		$(document).ready(function() {
			// Fetch settings
			settingsFetchService = new SettingsFetchService();
			settingsFetchService.fetchSettings();

			// checkbox events

			$("#requireComplexPassword").on("ifChanged", function() {
				if ($("#requireComplexPassword").is(":checked")) {
					$('#requireUppercaseLetters, #requireLowercaseLetters, #requireDigits, #requireSpecialCharacters, #disallowNameAndUserName').iCheck('check');
					$('#requireUppercaseLetters, #requireLowercaseLetters, #requireDigits, #requireSpecialCharacters, #disallowNameAndUserName').iCheck('disable');
				}
				else {
					$('#requireUppercaseLetters, #requireLowercaseLetters, #requireDigits, #requireSpecialCharacters, #disallowNameAndUserName').iCheck('enable');
					$('#requireUppercaseLetters, #requireLowercaseLetters, #requireDigits, #requireSpecialCharacters, #disallowNameAndUserName').iCheck('uncheck');
				}
			});

			$("#forceChangePasswordEnabled").on("ifChanged", function() {
				if ($("#forceChangePasswordEnabled").is(":checked")) {
		    		$(".forcedExtraFields").show();
		    		$("#forcedRenewalIntervalDays").attr("required", "");
		    	}
				else {
		    		$(".forcedExtraFields").hide();
		    		$("#forceChangePasswordInterval").val("");
		    		$("#forceChangePasswordInterval").removeAttr("required", "");
		    	}
			});

			$("#replicateToAdEnabled").on("ifChanged", function(){
				if ($("#replicateToAdEnabled").is(":checked")) {
		    		$("#monitoringRow").show();
		    	}
				else if (!$("#validateAgainstAdEnabled").is(":checked") && !$("#replicateToAdEnabled").is(":checked")) {
		    		$("#monitoringRow").hide();
		    		$("#email").hide();
		    		$("#monitoringEnabled").iCheck('uncheck');
		    	}
			});
			
			$("#validateAgainstAdEnabled").on("ifChanged", function() {
				if ($("#validateAgainstAdEnabled").is(":checked")) {
		    		$("#monitoringRow").show();
		    	}
		    	else {
		    		if (!$("#replicateToAdEnabled").is(":checked")) {
						$("#monitoringRow").hide();
						$("#email").hide();
						$("#monitoringEnabled").iCheck('uncheck');
		    		}
		    	}
			});
			
			$("#monitoringEnabled").on("ifChanged", function(){
				if ($("#monitoringEnabled").is(":checked")){
		    		$("#email").show();
		    		$("#emailField").attr("required", "");
		    	}
				else {
		    		$("#email").hide();
		    		$("#emailField").val("");
		    		$("#emailField").removeAttr("required", "");
		    	}
			});
			
			$('input[name ="disallowOldPasswords"]').on("ifChanged", function() {
				if ($('input[name ="disallowOldPasswords"]').is(":checked")) {
		    		$(".oldPasswordExtraFields").show();
		    	}
				else {
		    		$(".oldPasswordExtraFields").hide();
		    	}
			});
			
			$("#maxPasswordChangesPrDayEnabled").on("ifChanged", function() {
				if ($("#maxPasswordChangesPrDayEnabled").is(":checked")) {
		    		$(".maxPasswordChangesExtraFields").show();
		    	}
				else {
		    		$(".maxPasswordChangesExtraFields").hide();
		    	}
			});
			
			$("#canNotChangePasswordEnabled").on("ifChanged", function() {
				if ($("#canNotChangePasswordEnabled").is(":checked")) {
					if ($("#canNotChangePasswordGroup option:selected").length == 0) {
			    		$("#canNotChangePasswordGroup").val($("#canNotChangePasswordGroup option:first").val());
					}
					$("#canNotChangePasswordSelect").show();
		    	}
				else {
		    		$("#canNotChangePasswordSelect").hide();
		    	}
			});

			$('input[name ="specificSpecialCharactersEnabled"]').on("ifChanged", function() {
				if($('input[name ="specificSpecialCharactersEnabled"]').is(":checked")) {
					$('#inputSpecialCharacters').show();
				}
				else {
					$('#inputSpecialCharacters').hide();
				}
			});

			// show initial state

			if ($("#forceChangePasswordEnabled").is(":checked")) {
				$(".forcedExtraFields").show();
			}

			if ($("#replicateToAdEnabled").is(":checked") || $("#validateAgainstAdEnabled").is(":checked")){
				$("#monitoringRow").show();
			}

			if ($("#monitoringEnabled").is(":checked")){
				$("#email").show();
			}
			
			if ($("#canNotChangePasswordEnabled").is(":checked")){
				$("#canNotChangePasswordSelect").show();
			}

			if (!$("#specificSpecialCharactersEnabled").is(":checked")) {
				$("#inputSpecialCharacters").hide();
			}
			// enable slider GUI
			$("#pwdLength").ionRangeSlider({
				skin: "flat",
				min: 4,
				from: minLength,
				max: 64,
				to: maxLength,
				to_fixed: false,
				hide_min_max: true,
				type: "double",
				prefix: "",
				grid: false,
				onChange: function(data) {
					$('#minLength').val(data.from);
					$('#maxLength').val(data.to);
				}
			});
		});

		function SettingsFetchService() {
			this.fetchSettings = function() {
				var domainId = $('#domainId').val();
				var minLength = $('#minLength');
				var maxLength = $('#maxLength');
				var requireComplexPassword = $('input[name ="requireComplexPassword"]');
				var requireLowercaseLetters = $('input[name ="requireLowercaseLetters"]');
				var requireUppercaseLetters = $('input[name ="requireUppercaseLetters"]');
				var requireDigits = $('input[name ="requireDigits"]');
				var requireSpecialCharacters = $('input[name ="requireSpecialCharacters"]');
				var disallowDanishCharacters = $('input[name ="disallowDanishCharacters"]');
				var preventBadPasswords = $('input[name ="preventBadPasswords"]');
				var forceChangePasswordEnabled = $('input[name ="forceChangePasswordEnabled"]');
				var forceChangePasswordInterval = $('input[name ="forceChangePasswordInterval"]');
				var disallowOldPasswords = $('input[name ="disallowOldPasswords"]');
				var oldPasswordNumber = $('input[name ="oldPasswordNumber"]');
				var disallowNameAndUsername = $('input[name ="disallowNameAndUsername"]');
				var replicateToAdEnabled = $('input[name ="replicateToAdEnabled"]');
				var validateAgainstAdEnabled = $('input[name ="validateAgainstAdEnabled"]');
				var monitoringEnabled = $('input[name ="monitoringEnabled"]');
				var emailField = $('input[name ="monitoringEmail"]');
				var passwordFields = $('.passwordField');
				var adBlock = $('#adBlock');
				var alternativePasswordChangeLink = $('#alternativePasswordChangeLink');
				var triesBeforeLockNumber = $("#triesBeforeLockNumber");
				var lockedMinutes = $("#lockedMinutes");
				var maxPasswordChangesPrDayEnabled = $("#maxPasswordChangesPrDayEnabled");
				var maxPasswordChangesPrDay = $("#maxPasswordChangesPrDay");
				var canNotChangePasswordEnabled = $('input[name ="canNotChangePasswordEnabled"]');
				var canNotChangePasswordGroup = $('select[name ="canNotChangePasswordGroup"]');
				var canIncludeSpecificSpecialCharacters = $('input[name = "specificSpecialCharactersEnabled"]');
				var allowedSpecialCharacters = $("#inputSpecialCharacters")

				$.ajax({
					url: url + domainId,
					method: "GET"
				}).done(function(data) {

					// Password length slider update
					$("#pwdLength").data("ionRangeSlider").update({
					   from: data.minLength,
					   to: data.maxLength
					});
					minLength.val(data.minLength);
					maxLength.val(data.maxLength);

					requireComplexPassword.iCheck(data.requireComplexPassword ? 'check' : 'uncheck');
					requireLowercaseLetters.iCheck(data.requireLowercaseLetters ? 'check' : 'uncheck');
					requireUppercaseLetters.iCheck(data.requireUppercaseLetters ? 'check' : 'uncheck');
					requireDigits.iCheck(data.requireDigits ? 'check' : 'uncheck');
					requireSpecialCharacters.iCheck(data.requireSpecialCharacters ? 'check' : 'uncheck');
					disallowDanishCharacters.iCheck(data.disallowDanishCharacters ? 'check' : 'uncheck');
					preventBadPasswords.iCheck(data.preventBadPasswords ? 'check' : 'uncheck');
					forceChangePasswordEnabled.iCheck(data.forceChangePasswordEnabled ? 'check' : 'uncheck');
					forceChangePasswordInterval.val(data.forceChangePasswordInterval);
					disallowOldPasswords.iCheck(data.disallowOldPasswords ? 'check' : 'uncheck');
					oldPasswordNumber.val(data.oldPasswordNumber);
					disallowNameAndUsername.iCheck(data.disallowNameAndUsername ? 'check' : 'uncheck');
					replicateToAdEnabled.iCheck(data.replicateToAdEnabled ? 'check' : 'uncheck');
					validateAgainstAdEnabled.iCheck(data.validateAgainstAdEnabled ? 'check' : 'uncheck');
					monitoringEnabled.iCheck(data.monitoringEnabled ? 'check' : 'uncheck');
					emailField.val(data.monitoringEmail);
					alternativePasswordChangeLink.val(data.alternativePasswordChangeLink);
					triesBeforeLockNumber.val(data.triesBeforeLockNumber);
					lockedMinutes.val(data.lockedMinutes);
					maxPasswordChangesPrDayEnabled.iCheck(data.maxPasswordChangesPrDayEnabled ? 'check' : 'uncheck');
					maxPasswordChangesPrDay.val(data.maxPasswordChangesPrDay);
					canNotChangePasswordEnabled.iCheck(data.canNotChangePasswordEnabled ? 'check' : 'uncheck');
					canNotChangePasswordGroup.val(data.canNotChangePasswordGroup);
					canIncludeSpecificSpecialCharacters.iCheck(data.specificSpecialCharactersEnabled ? 'check' : 'uncheck')
					allowedSpecialCharacters.val(data.allowedSpecialCharacters);

					passwordFields.prop("disabled", false);
					
					if (data.requireComplexPassword) {
						$('#requireUppercaseLetters, #requireLowercaseLetters, #requireDigits, #requireSpecialCharacters, #disallowNameAndUserName').iCheck('check');
						$('#requireUppercaseLetters, #requireLowercaseLetters, #requireDigits, #requireSpecialCharacters, #disallowNameAndUserName').iCheck('disable');
					}

					if($('select[name ="canNotChangePasswordGroup"] option').length > 0) {
						$('#canNotChangePasswordEnabled').iCheck('enable');
					} else {
						$('#canNotChangePasswordEnabled').iCheck('disable');
					}
						
					if (data.showAdSettings) {
						adBlock.show();
					}
					else {
						adBlock.hide();
					}

					$('#passwordConfig').iCheck('update'); // Update all ichecks with values set by jquery
				}).fail(function(data) {
					passwordFields.prop("disabled", true);
					toastr.error("Kunne ikke hente indstillingerne for det valgte domæne. Prøv igen.");
				});
			};
		}

		/*]]>*/
	</script>
</body>
</html>
