<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (checkbox = true)}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar (page = 'admin.logwatch')}"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-search"></em> &nbsp; Overvågning af logs</h5>
							</div>

							<div class="ibox-content">
								<th:block th:if="${@commonConfiguration.fullServiceIdP.enabled == false}">
								<p>
									Når overvågning af logs er blevet slået til første gang, kan man ikke slå det fra selv. Det samme gælder for den indtastede email.
								</p>
								<p>
									Hvis disse indstillinger skal ændres, skal der tages kontakt til driftoperatøren via <a href="mailto:kontakt@digital-identity.dk">kontakt@digital-identity.dk</a>
								</p>
								</th:block>

								<th:block th:if="${@commonConfiguration.fullServiceIdP.enabled == true}">
								<p>
									Nedenstående overvågning er opsat, og overvåges af Digital Identity. Hvis det ønskes kan man indtaste én email adresse, som der sendes en kopi
									af alarm-emails til.
								</p>
								</th:block>

								<form action="#" th:action="@{/admin/konfiguration/logovervaagning}" method="post" th:object="${settings}">
									<div class="form-group row">
										<h4 class="col-sm-4 col-form-label">Overvåg logs</h4>
										<div class="col-sm-8">
											<label><input id="enabled" th:field="*{enabled}" type="checkbox" class="i-checks" th:disabled="*{enabled}"></label>
										</div>
									</div>
									
									<div th:hidden="!*{enabled}" id="enabledDiv">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Alarm email</label>
											<div class="col-sm-8">
												<input th:field="*{alarmEmail}" th:disabled="${@commonConfiguration.fullServiceIdP.enabled == false and !#strings.isEmpty(settings.alarmEmail)}" class="form-control">
											</div>
										</div>

										<h4 th:if="${@commonConfiguration.fullServiceIdP.enabled == true}">Overvågning af:</h4>

										<th:block th:if="${@commonConfiguration.fullServiceIdP.enabled == false}">
										<h4>Altid slået til:</h4>
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Overvågning af administrator handlinger i selvbetjeningen</label>
											<div class="col-sm-8">
												<label><input type="checkbox" class="i-checks" checked="checked" disabled="disabled"></label>
											</div>
										</div>
										
										<h4>Send mail hvis:</h4>
										</th:block>
										
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Den samme bruger laver et login fra 2 forskellige lande indenfor 1 time</label>
											<div class="col-sm-8">
												<label><input id="twoCountriesOneHour" th:field="*{twoCountriesOneHourEnabled}" type="checkbox" class="i-checks" th:disabled="${@commonConfiguration.fullServiceIdP.enabled}"></label>
											</div>
										</div>

										<div th:hidden="!*{twoCountriesOneHourEnabled}" class="form-group row" id="twoCountriesGermanyDiv" hidden>
											<label class="col-sm-4 col-form-label"> &nbsp; - Undlad at overvåge Tyskland</label>
											<div class="col-sm-8">
												<label><input id="twoCountriesOneHourGermany" th:field="*{twoCountriesOneHourGermany}" type="checkbox" class="i-checks"></label>
											</div>
										</div>
										
										<div th:hidden="!*{twoCountriesOneHourEnabled}" class="form-group row" id="twoCountriesSweedenDiv" hidden>
											<label class="col-sm-4 col-form-label"> &nbsp; - Undlad at overvåge Sverige</label>
											<div class="col-sm-8">
												<label><input id="twoCountriesOneHourSweeden" th:field="*{twoCountriesOneHourSweeden}" type="checkbox" class="i-checks"></label>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Mængden af forkerte kodeord, på tværs af alle brugere, overstiger en opsat grænseværdi indenfor sidste time</label>
											<div class="col-sm-8">
												<label><input id="tooManyWrongPasswords" th:field="*{tooManyWrongPasswordsEnabled}" type="checkbox" class="i-checks"  th:disabled="${@commonConfiguration.fullServiceIdP.enabled}"></label>
											</div>
										</div>
										
										<div th:hidden="!*{tooManyWrongPasswordsEnabled}" class="form-group row" id="tooManyWrongPasswordsDiv" hidden  th:disabled="${@commonConfiguration.fullServiceIdP.enabled}">
											<label class="col-sm-4 col-form-label">Antal forkerte kodeord</label>
											<div class="col-sm-8">
												<input th:field="*{tooManyWrongPasswordsLimit}" class="form-control" th:disabled="${@commonConfiguration.fullServiceIdP.enabled}">
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Mængden af tids-spærrede konti overstiger en opsat grænseværdi</label>
											<div class="col-sm-8">
												<label><input id="tooManyTimeLockedAccounts" th:field="*{tooManyTimeLockedAccountsEnabled}" type="checkbox" class="i-checks"  th:disabled="${@commonConfiguration.fullServiceIdP.enabled}"></label>
											</div>
										</div>
										
										<div th:hidden="!*{tooManyTimeLockedAccountsEnabled}" class="form-group row" id="tooManyTimeLockedAccountsDiv" hidden>
											<label class="col-sm-4 col-form-label">Antal tids-spærrede konti</label>
											<div class="col-sm-8">
												<input th:field="*{tooManyTimeLockedAccountsLimit}" class="form-control"  th:disabled="${@commonConfiguration.fullServiceIdP.enabled}">
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">En person erklæres død eller umyndiggjort af cpr registeret</label>
											<div class="col-sm-8">
												<label><input id="personDeadOrIncapacitated" th:field="*{personDeadOrIncapacitatedEnabled}" type="checkbox" class="i-checks"  th:disabled="${@commonConfiguration.fullServiceIdP.enabled}"></label>
											</div>
										</div>

										<th:block th:if="${@commonConfiguration.fullServiceIdP.enabled == false}">
										<div class="form-group row">
											<label class="col-sm-4 col-form-label">Mængden af forkerte kodeord fra én IP overstiger opsat grænseværdi</label>
											<div class="col-sm-8">
												<label><input id="tooManyWrongPasswordsNonWhitelistEnabled" th:field="*{tooManyWrongPasswordsNonWhitelistEnabled}" type="checkbox" class="i-checks"  th:disabled="${@commonConfiguration.fullServiceIdP.enabled}"/></label>
											</div>
										</div>
										
										<div th:hidden="!*{tooManyWrongPasswordsNonWhitelistEnabled}" class="form-group row" id="tooManyWrongPasswordsNonWhitelistLimitDiv" hidden>
											<label class="col-sm-4 col-form-label">grænseværdi for forkerte forsøg</label>
											<div class="col-sm-8">
												<input type="number" th:field="*{tooManyWrongPasswordsNonWhitelistLimit}" class="form-control">
											</div>
										</div>

										<div th:hidden="!*{tooManyWrongPasswordsNonWhitelistEnabled}" class="form-group row" id="whitelistDiv" hidden>
											<label class="col-sm-4 col-form-label">Positivliste af IP adresser (komma separeret, CIDR tilladt)</label>
											<div class="col-sm-8">
												<input th:field="*{whitelist}" class="form-control">
											</div>
										</div>
										</th:block>
									</div>

									<hr/>

									<div>
										<button type="submit" class="btn btn-primary block full-width m-b">Gem</button>
										<a href="/admin" type="button" class="btn btn-danger full-width m-b">Annuller</a>
									</div>
								</form>
							</div>
						</div>
					</div>
					
					<div th:replace="~{fragments/rightbar :: admin (page = 'admin.logwatch')}"></div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts (checkbox = true)}"></div>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
	
		/*[+
			var emailError = [[${emailError}]];
		+]*/
		var token = $("meta[name='_csrf']").attr("content");
		var logService;
		$(document).ready(function(){
			logService = new LogService();
			logService.init();
			
			if (emailError) {
				toastr.error("Der skal være en gyldig email.");
			}
		});
		
		function LogService() {
			this.init = function() {
				$("#enabled").on("ifChanged", function() {
					$("#enabledDiv").prop("hidden", !$(this).is(":checked"));
					$("#tooManyWrongPasswords").iCheck('uncheck');
					$("#tooManyTimeLockedAccounts").iCheck('uncheck');
					$("#personDeadOrIncapacitated").iCheck('uncheck');
					$("#twoCountriesOneHour").iCheck('uncheck');
					$("#tooManyWrongPasswordsNonWhitelistEnabled").iCheck('uncheck');
				});
				
				$("#tooManyWrongPasswords").on("ifChanged", function() {
					$("#tooManyWrongPasswordsDiv").prop("hidden", !$(this).is(":checked"));
				});

				$("#twoCountriesOneHour").on("ifChanged", function() {
					$("#twoCountriesGermanyDiv").prop("hidden", !$(this).is(":checked"));
					$("#twoCountriesSweedenDiv").prop("hidden", !$(this).is(":checked"));
				});

				$("#tooManyWrongPasswordsNonWhitelistEnabled").on("ifChanged", function() {
					$("#tooManyWrongPasswordsNonWhitelistLimitDiv").prop("hidden",!$(this).is(":checked"));
				})

				$("#tooManyWrongPasswordsNonWhitelistEnabled").on("ifChanged", function() {
					$("#whitelistDiv").prop("hidden",!$(this).is(":checked"));
				})
				
				$("#tooManyTimeLockedAccounts").on("ifChanged", function() {
					$("#tooManyTimeLockedAccountsDiv").prop("hidden", !$(this).is(":checked"));
				});

			}
		}
		
		/*]]>*/
	</script>
</body>
</html>
