<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (checkbox = true, slider = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.configure-password')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-gears"></em> &nbsp; Passwordregler</h5>
							</div>

							<div class="ibox-content">
								<form id="passwordConfig" action="#" th:action="@{/admin/konfiguration/password}" th:object="${configForm}" method="post">
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Vælg domæne</label>
										<div class="col-sm-4 row">
											<select th:field="*{domainId}" class="form-control m-b" onchange="settingsFetchService.fetchSettings();">
												<option th:each="domain : ${domains}" th:value="${domain.id}" th:text="${domain.name}"></option>
											</select>
										</div>
									</div>

									<input type="hidden" th:field="*{minLength}" />
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Krævet længde</label>
										<div class="col-sm-8">
											<input id="pwdLength" class="passwordField" disabled="disabled"/>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Både store og små bogstaver</label>
										<div class="col-sm-8">
											<label><input th:field="*{bothCapitalAndSmallLetters}" type="checkbox" class="i-checks passwordField" checked="checked" disabled="disabled"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Tal krævet</label>
										<div class="col-sm-8">
											<label><input th:field="*{requireDigits}" type="checkbox" class="i-checks passwordField" checked="checked" disabled="disabled"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Specialtegn krævet</label>
										<div class="col-sm-8">
											<label><input th:field="*{requireSpecialCharacters}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Forbyd Æ, Ø og Å</label>
										<div class="col-sm-8">
											<label><input th:field="*{disallowDanishCharacters}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Tvungen passwordskifte</label>
										<div class="col-sm-1">
											<label><input id="forceChangePasswordEnabled" name="forceChangePasswordEnabled" type="checkbox" class="i-checks passwordField" th:checked="*{forceChangePasswordEnabled}" disabled="disabled"></label>
										</div>

										<div id="interval" style="display:none" class="row">
											<input id="forceChangePasswordInterval" name="forceChangePasswordInterval" type="number" min="1" class="form-control col-sm-2 passwordField" th:value="*{forceChangePasswordInterval}" disabled="disabled"/>
											<label class="col-sm-8 col-form-label">Antal dage mellem password skifte</label>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Password historik (10 passwords)</label>
										<div class="col-sm-8">
											<label><input th:field="*{disallowOldPasswords}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Replikering af kodeord til AD</label>
										<div class="col-sm-8">
											<label><input id="replicateToAdEnabled" th:field="*{replicateToAdEnabled}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-4 col-form-label">Validering af kodeord via AD</label>
										<div class="col-sm-1">
											<label><input id="validateAgainstAdEnabled" th:field="*{validateAgainstAdEnabled}" type="checkbox" class="i-checks passwordField" disabled="disabled"></label>
										</div>

										<div class="row" id="cacheRow" style="display:none">
											<input id="cacheAdPasswordInterval" name="cacheAdPasswordInterval" type="number" min="0" class="form-control col-sm-2 passwordField" disabled="disabled" th:value="*{cacheAdPasswordInterval}">
											<label class="col-sm-8 col-form-label">Cache AD password (antal dage)</label>
										</div>
									</div>


									
									<div class="form-group row" id="monitoringRow" style="display:none">
										<label class="col-sm-4 col-form-label">Overvågning af AD integration</label>
										<div class="col-sm-1">
											<label><input id="monitoringEnabled" name="monitoringEnabled" type="checkbox" class="i-checks passwordField" disabled="disabled" th:checked="*{monitoringEnabled}"></label>
										</div>
									</div>

									<div class="form-group row" id="email" style="display:none">
										<label class="col-sm-4 col-form-label">Postkasse til adviseringer</label>
										<div class="col-sm-8">
											<input id="emailField" name="monitoringEmail" type="text" class="form-control col-sm-6 passwordField" disabled="disabled" th:value="*{monitoringEmail}"/>
										</div>
									</div>

									<hr/>
									
									<button type="submit" class="btn btn-primary block full-width m-b passwordField" disabled="disabled">Opdater regler</button>
									<a th:href="@{/admin}" type="button" class="btn btn-danger block full-width cancelBtn">Annuller</a>
								</form>
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.configure-password')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (checkbox = true, slider = true)" />
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		var minLength = [[${configForm.minLength}]];
		var url = [[@{/rest/admin/settings/password/}]];
		+]*/

		var settingsFetchService;
		$(document).ready(function() {
			// Fetch settings
			settingsFetchService = new SettingsFetchService();
			settingsFetchService.fetchSettings();

			// checkbox events

			$("#forceChangePasswordEnabled").on("ifChanged", function() {
				if ($("#forceChangePasswordEnabled").is(":checked")) {
		    		$("#interval").show();
		    		$("#forcedRenewalIntervalDays").attr("required", "");
		    	}
				else {
		    		$("#interval").hide();
		    		$("#forceChangePasswordInterval").val("");
		    		$("#forceChangePasswordInterval").removeAttr("required", "");
		    	}
			});
						
			$("#replicateToAdEnabled").on("ifChanged", function(){
				if ($("#replicateToAdEnabled").is(":checked")) {
		    		$("#monitoringRow").show();
		    	}
				else if (!$("#validateAgainstAdEnabled").is(":checked") && !$("#replicateToAdEnabled").is(":checked")) {
		    		$("#monitoringRow").hide();
		    		$("#email").hide();
		    		$("#monitoringEnabled").iCheck('uncheck');
		    	}
			});
			
			$("#validateAgainstAdEnabled").on("ifChanged", function() {
				if ($("#validateAgainstAdEnabled").is(":checked")) {
		    		$("#monitoringRow").show();
		    		$("#cacheRow").show();
		    	}
		    	else {
		    		if (!$("#replicateToAdEnabled").is(":checked")) {
						$("#monitoringRow").hide();
						$("#email").hide();
						$("#monitoringEnabled").iCheck('uncheck');
		    		}

		    		$("#cacheRow").hide();
		    		$("#cacheAdPasswordInterval").val(0);
		    	}
			});
			
			$("#monitoringEnabled").on("ifChanged", function(){
				if ($("#monitoringEnabled").is(":checked")){
		    		$("#email").show();
		    		$("#emailField").attr("required", "");
		    	}
				else {
		    		$("#email").hide();
		    		$("#emailField").val("");
		    		$("#emailField").removeAttr("required", "");
		    	}
			});

			// show initial state

			if ($("#forceChangePasswordEnabled").is(":checked")) {
				$("#interval").show();
			}

			if ($("#validateAgainstAdEnabled").is(":checked")) {
				$("#cacheRow").show();
			}

			if ($("#replicateToAdEnabled").is(":checked") || $("#validateAgainstAdEnabled").is(":checked")){
				$("#monitoringRow").show();
			}

			if ($("#monitoringEnabled").is(":checked")){
				$("#email").show();
			}

			// enable slider GUI
			$("#pwdLength").ionRangeSlider({
				skin: "flat",
				min: 4,
				from: minLength,
				max: 64,
				to: 64,
				to_fixed: true,
				hide_min_max: true,
				type: "double",
				prefix: "",
				grid: false,
				onChange: function(data) {
					$('#minLength').val(data.from);
				}
			});
		});

		function SettingsFetchService() {
			this.fetchSettings = function() {
				var domainId = $('#domainId').val();
				var minLength = $('#minLength');
				var bothCapitalAndSmallLetters = $('#bothCapitalAndSmallLetters');
				var requireDigits = $('input[name ="requireDigits"]');
				var requireSpecialCharacters = $('input[name ="requireSpecialCharacters"]');
				var disallowDanishCharacters = $('input[name ="disallowDanishCharacters"]');
				var forceChangePasswordEnabled = $('input[name ="forceChangePasswordEnabled"]');
				var forceChangePasswordInterval = $('input[name ="forceChangePasswordInterval"]');
				var disallowOldPasswords = $('input[name ="disallowOldPasswords"]');
				var replicateToAdEnabled = $('input[name ="replicateToAdEnabled"]');
				var validateAgainstAdEnabled = $('input[name ="validateAgainstAdEnabled"]');
				var cacheAdPasswordInterval = $('input[name ="cacheAdPasswordInterval"]');
				var monitoringEnabled = $('input[name ="monitoringEnabled"]');
				var emailField = $('input[name ="monitoringEmail"]');
				var passwordFields = $('.passwordField');

				$.ajax({
					url: url + domainId,
					method: "GET"
				}).done(function(data) {

					// Password length slider update
					$("#pwdLength").data("ionRangeSlider").update({
					   from: data.minLength
					});
					minLength.val(data.minLength);

					bothCapitalAndSmallLetters.iCheck(data.bothCapitalAndSmallLetters ? 'check' : 'uncheck');
					requireDigits.iCheck(data.requireDigits ? 'check' : 'uncheck');
					requireSpecialCharacters.iCheck(data.requireSpecialCharacters ? 'check' : 'uncheck');
					disallowDanishCharacters.iCheck(data.disallowDanishCharacters ? 'check' : 'uncheck');
					forceChangePasswordEnabled.iCheck(data.forceChangePasswordEnabled ? 'check' : 'uncheck');
					forceChangePasswordInterval.val(data.forceChangePasswordInterval);
					disallowOldPasswords.iCheck(data.disallowOldPasswords ? 'check' : 'uncheck');
					replicateToAdEnabled.iCheck(data.replicateToAdEnabled ? 'check' : 'uncheck');
					validateAgainstAdEnabled.iCheck(data.validateAgainstAdEnabled ? 'check' : 'uncheck');
					cacheAdPasswordInterval.val(data.cacheAdPasswordInterval);
					monitoringEnabled.iCheck(data.monitoringEnabled ? 'check' : 'uncheck');
					emailField.val(data.monitoringEmail);

					passwordFields.prop("disabled", false);
					$('#passwordConfig').iCheck('update'); // Update all ichecks with values set by jquery
				}).fail(function(data) {
					passwordFields.prop("disabled", true);
					toastr.error("Kunne ikke hente indstillingerne for det valgte domæne. Prøv igen.");
				});
			};
		}

		/*]]>*/
	</script>
</body>
</html>
