<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (texteditor = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.configure-terms')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5>
									<em class="fa fa-info"></em> &nbsp; Opsæt anvendelsesvilkår &nbsp; <span style="font-size: smaller; color: lightgrey;" th:text="${tts}"></span>
								</h5>
							</div>

							<div class="ibox-content">
								<p>
									Opsæt de vilkår der er gældende for anvendelsen af løsningen. Brugerne skal godkende disse
									vilkår første gang de bruger løsningen.
								</p>
								
								<h4>Vilkår</h4>
								<form id="termsForm" action="#" th:action="@{/admin/konfiguration/vilkaar}" th:object="${termsAndConditions}" method="post">
									<input id="must_approve" type="hidden" th:field="*{mustApprove}"></input>
									<textarea id="content" class="form-control" th:field="*{content}" autocomplete="off"></textarea>
									
									<br/>

									<button onclick="saveTermsAndConditions()" type="button" class="btn btn-primary block full-width m-b">Gem vilkår</button>
									<a th:href="@{/admin}" class="btn btn-danger block full-width m-b">Annuller</a>
								</form>
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.configure-terms')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (texteditor = true)" />
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var alertText = [[#{page.admin.terms_and_conditions.must_approve.text}]];
			var alertButtonConfirm = [[#{shared.button.yes}]];
			var alertButtonCancel = [[#{shared.button.no}]];
		+]*/

		$(document).ready(function() {
			$('#content').summernote({
				"height": 320,
				"toolbar": [
					[ "font", [ "bold", "italic", "underline" ]],
					[ "para", [ "ul", "ol", "style" ]],
                    [ "insert", ["link"]]
				]
			});
		});

		function saveTermsAndConditions() {
			swal({
				title: '',
				text: alertText,
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				confirmButtonText: alertButtonConfirm,
				cancelButtonText: alertButtonCancel,
				closeOnConfirm: true,
				closeOnCancel: true
			},
			function(isConfirm) {
				if (isConfirm) {
					$("#must_approve").val(true);
				} else {
					$("#must_approve").val(false);
				}
				$("#termsForm").submit();
			});
		}

		/*]]>*/
	</script>
</body>
</html>
