<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (checkbox = true, slider = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.configure-password')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-gears"></em> &nbsp; Passwordregler</h5>
							</div>

							<div class="ibox-content">
								<form action="#" th:action="@{/admin/konfiguration/password}" th:object="${configForm}" method="post">
									<input type="hidden" th:field="*{minLength}" />

									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Krævet længde</label>
										<div class="col-sm-9">
											<input id="pwdLength" />
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Både store og små bogstaver</label>
										<div class="col-sm-9">
											<label><input th:field="*{bothCapitalAndSmallLetters}" type="checkbox" class="i-checks" checked="checked"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Tal krævet</label>
										<div class="col-sm-9">
											<label><input th:field="*{requireDigits}" type="checkbox" class="i-checks" checked="checked"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Specialtegn krævet</label>
										<div class="col-sm-9">
											<label><input th:field="*{requireSpecialCharacters}" type="checkbox" class="i-checks"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Tvungen passwordskifte</label>
										<div class="col-sm-1">
											<label><input id="forceChangePasswordEnabled" name="forceChangePasswordEnabled" type="checkbox" class="i-checks" th:checked="*{forceChangePasswordEnabled}"></label>
										</div>

										<div id="interval" style="display:none" class="row">
											<input id="forceChangePasswordInterval" name="forceChangePasswordInterval" type="number" min="1" class="form-control col-sm-2" th:value="*{forceChangePasswordInterval}"/>
											<label class="col-sm-6 col-form-label">Antal dage mellem password skifte</label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Replikering af kodeord til AD</label>
										<div class="col-sm-9">
											<label><input id="replicateToAdEnabled" th:field="*{replicateToAdEnabled}" type="checkbox" class="i-checks"></label>
										</div>
									</div>
									
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Validering af kodeord via AD</label>
										<div class="col-sm-9">
											<label><input id="validateAgainstAdEnabled" th:field="*{validateAgainstAdEnabled}" type="checkbox" class="i-checks"></label>
										</div>
									</div>
									
									<div class="form-group row" id="monitoringRow" style="display:none">
										<label class="col-sm-3 col-form-label">Overvågning af AD integration</label>
										<div class="col-sm-1">
											<label><input id="monitoringEnabled" name="monitoringEnabled" type="checkbox" class="i-checks" th:checked="*{monitoringEnabled}"></label>
										</div>
									</div>

									<div class="form-group row" id="email" style="display:none">
										<label class="col-sm-3 col-form-label">Postkasse til adviseringer</label>
										<div class="col-sm-9">
											<input id="emailField" name="monitoringEmail" type="text" class="form-control col-sm-6" th:value="*{monitoringEmail}"/>
										</div>
									</div>

									<hr/>
									
									<button type="submit" class="btn btn-primary block full-width m-b">Opdater regler</button>
									<a th:href="@{/admin}" type="button" class="btn btn-danger block full-width cancelBtn">Annuller</a>
								</form>
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.configure-password')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (checkbox = true, slider = true)" />
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		var minLength = [[${configForm.minLength}]];
		+]*/

		$(document).ready(function() {
			// checkbox events

			$("#forceChangePasswordEnabled").on("ifChanged", function() {
				if ($("#forceChangePasswordEnabled").is(":checked")) {
		    		$("#interval").show();
		    		$("#forcedRenewalIntervalDays").attr("required", "");
		    	}
				else {
		    		$("#interval").hide();
		    		$("#forceChangePasswordInterval").val("");
		    		$("#forceChangePasswordInterval").removeAttr("required", "");
		    	}
			});
						
			$("#replicateToAdEnabled").on("ifChanged", function(){
				if ($("#replicateToAdEnabled").is(":checked")) {
		    		$("#monitoringRow").show();
		    	}
				else if (!$("#validateAgainstAdEnabled").is(":checked") && !$("#replicateToAdEnabled").is(":checked")) {
		    		$("#monitoringRow").hide();
		    		$("#email").hide();
		    		$("#monitoringEnabled").iCheck('uncheck');
		    	}
			});
			
			$("#validateAgainstAdEnabled").on("ifChanged", function() {
				if ($("#validateAgainstAdEnabled").is(":checked")) {
		    		$("#monitoringRow").show();
		    	}
				else if (!$("#validateAgainstAdEnabled").is(":checked") && !$("#replicateToAdEnabled").is(":checked")) {
		    		$("#monitoringRow").hide();
		    		$("#email").hide();
		    		$("#monitoringEnabled").iCheck('uncheck');
		    	}
			});
			
			$("#monitoringEnabled").on("ifChanged", function(){
				if ($("#monitoringEnabled").is(":checked")){
		    		$("#email").show();
		    		$("#emailField").attr("required", "");
		    	}
				else {
		    		$("#email").hide();
		    		$("#emailField").val("");
		    		$("#emailField").removeAttr("required", "");
		    	}
			});

			// show initial state

			if ($("#forceChangePasswordEnabled").is(":checked")) {
				$("#interval").show();
			}
			
			if ($("#replicateToAdEnabled").is(":checked") || $("#validateAgainstAdEnabled").is(":checked")){
				$("#monitoringRow").show();
			}

			if ($("#monitoringEnabled").is(":checked")){
				$("#email").show();
			}

			// enable slider GUI
			$("#pwdLength").ionRangeSlider({
				skin: "flat",
				min: 4,
				from: minLength,
				max: 64,
				to: 64,
				to_fixed: true,
				hide_min_max: true,
				type: "double",
				prefix: "",
				grid: false,
				onChange: function(data) {
					$('#minLength').val(data.from);
				}
			});
		});
	    
		/*]]>*/
	</script>
</body>
</html>
