<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (texteditor = true, checkbox = true)"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.cms-edit')"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-envelope"></em> &nbsp; Emailskabeloner</h5>
							</div>

							<div class="ibox-content">
								<div class="row">
									<div class="col-lg-12">
										<form class="form-horizontal">
											<div class="form-group row">
												<label class="col-sm-2 col-form-label">Skabelon</label>
												<div class="col-sm-10">
													<select id="templateDropdown" class="form-control m-b">
														<option th:each="template : ${templates}" th:value="${template.id}" th:text="#{${template.templateTypeText}}"></option>
													</select>
												</div>
											</div>
										</form>
									</div>
								</div>
		
								<div class="row">
									<div th:each="template : ${templates}" class="form-horizontal templateForm col-lg-12" th:id="'template' + ${template.id}" style="display: none; width: 100%;">
										<div class="row">
											<div class="col-lg-12">
												<form class="form-horizontal">
													<div class="form-group row">
														<label class="col-sm-2 control-label">Domæne</label>
														<div class="col-sm-10">
															<select class="form-control childDropdown" th:id="'childDropdown' + ${template.id}" >
																<option th:each="domain : ${domains}" th:value="${domain.id}" th:text="${domain.toString()}"></option>
															</select>
														</div>
													</div>
												</form>
											</div>
										</div>

										<form th:each="child : ${template.children}" class="form-horizontal childForm" th:id="'child' + ${template.id} + '_' + ${child.domainId}" style="display: none;">
											<input type="hidden" name="id" th:value="${child.id}"/>
											<input type="hidden" name="enabled" th:value="${child.enabled}" />
											<input type="hidden" name="emailEnabled" th:value="${child.emailEnabled}" />
											<input type="hidden" name="eboksEnabled" th:value="${child.eboksEnabled}" />

											<div class="form-group row">
												<label class="col-sm-2 control-label">Aktiv</label>
												<div class="col-sm-10">
													<label><input type="checkbox" class="i-checks enabledCheckbox" th:checked="${child.enabled}" th:disabled="${template.emailTemplateType.fullServiceIdP}"></label>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-2 control-label">Send via</label>
												<div class="col-sm-10">
													<select class="form-control channelDropdown" name="channel" th:disabled="${template.emailTemplateType.fullServiceIdP}">
														<option th:value="EBOKS" th:if="${template.eboksAllowed} and ${@OS2faktorConfiguration.getEboks().isEnabled()}" th:selected="${!child.emailEnabled and child.eboksEnabled}">Digital Post</option>
														<option th:value="EMAIL" th:if="${template.emailAllowed}" th:selected="${child.emailEnabled and !child.eboksEnabled}">Email</option>
														<option th:value="BOTH" th:if="${template.emailAllowed} and ${template.eboksAllowed} and ${@OS2faktorConfiguration.getEboks().isEnabled()}" th:selected="${child.emailEnabled and child.eboksEnabled}">Digital Post og Email</option>
													</select>
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-2 control-label">Overskrift</label>
												<div class="col-sm-10">
													<input name="title" th:value="${child.title}" class="form-control" th:readonly="${template.emailTemplateType.fullServiceIdP}" />
												</div>
											</div>

											<div class="form-group row">
												<label class="col-sm-2 control-label">Brødtekst</label>
												<div class="col-sm-10">
													<textarea th:class="${template.emailTemplateType.fullServiceIdP} ? 'readonly-message' : 'readwrite-message'" th:text="${child.message}" name="message" class="mb-0 preformat" rows="10" style="width:100%;" th:readonly="${template.emailTemplateType.fullServiceIdP}"></textarea>
												</div>
											</div>

											<div class="row">
												<div class="col-sm-2"></div>
												<div class="col-sm-10">
													* I brødteksten kan man anvende <strong>{modtager}</strong> og <strong>{brugernavn}</strong> som pladsholder for modtagerens navn og brugernavn.
												</div>
											</div>

											<hr/>

											<div class="form-group row">
												<div class="col-sm-12">
													<button type="button" style="margin-right: 5px;" class="btn btn-primary block full-width m-b buttonSubmit">Gem</button>
													<button type="button" style="margin-right: 5px;" class="btn btn-warning block full-width m-b buttonTest">Test email</button>
												</div>
											</div>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.email-template')"></div>
				</div>
			</div>

			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (checkbox = true, texteditor = true)"></div>
	
	<script th:inline="javascript">
	/*<![CDATA[*/

	/*[+
	+]*/
	
		var token = $("meta[name='_csrf']").attr("content");

		$(document).ready(function () {
			
			$('textarea.readwrite-message').summernote({
				"height": 320,
				"toolbar": [
					[ "font", [ "bold", "italic", "underline" ]],
					[ "para", [ "ul", "ol" ]],
					[ "insert", [ "picture", "link" ]]
				],
				maximumImageFileSize: 100*1024, // 100 KB
				callbacks: {
					onImageUploadError: function(msg) {
						swal({
							title: "Billede for stort",
							text: "Det er ikke muligt at anvende billeder større end 100kb",
							confirmButtonColor : "#4765a0",
							confirmButtonText : "OK"
						});
					}
				},
				dialogsInBody: true
			});
			
			// disable all UI stuff for read-only fields
			$('textarea.readonly-message').summernote({
				"height": 320,
				"toolbar": []
			});
			
			// make really read-only (timeout to ensure that above has executed... stupid async ;))
			setTimeout(function() {
				var container = $('textarea.readonly-message').parent().find('.note-editable');
	            if ($(container).length) {
	                $(container).prop('contenteditable', 'false');
	            }
			}, 200);

			$('#templateDropdown').change(function() {
				// hide all
				$('.templateForm').hide();
				
				// show chosen
				$('#template' + $("#templateDropdown").val()).show();

				//handle child
				$('.childForm').hide();
				$('#child' + $("#templateDropdown").val() + "_" + $("#childDropdown" + $("#templateDropdown").val()).val()).show();
			});

			$('.childDropdown').change(function() {
				// hide all
				$('.childForm').hide();

				// show chosen
				$('#child' + $("#templateDropdown").val() + "_" + $("#childDropdown" + $("#templateDropdown").val()).val()).show();
			});
						
			$('.buttonSubmit').click(function() {
				var oForm = $('#child' + $("#templateDropdown").val() + "_" + $("#childDropdown" + $("#templateDropdown").val()).val());
				var data = getFormData(oForm);
				
				save(data, false);
			});
			
			$('.buttonTest').click(function() {
				var oForm = $('#child' + $("#templateDropdown").val() + "_" + $("#childDropdown" + $("#templateDropdown").val()).val());
				var data = getFormData(oForm);

				save(data, true);
			});
			
			$('.enabledCheckbox').on("ifChanged", function() {
				var oForm = $('#child' + $("#templateDropdown").val() + "_" + $("#childDropdown" + $("#templateDropdown").val()).val());
				var checkboxValue = oForm.find('.enabledCheckbox')[0].checked;
				
				oForm.find("input[name=enabled]")[0].value = checkboxValue;
			});
			
			$('.channelDropdown').change(function() {
				var oForm = $('#child' + $("#templateDropdown").val() + "_" + $("#childDropdown" + $("#templateDropdown").val()).val());
				var dropDownValue = oForm.find('.channelDropdown').val();

				if (dropDownValue == 'EBOKS') {
					oForm.find("input[name=emailEnabled]")[0].value = false;
					oForm.find("input[name=eboksEnabled]")[0].value = true;					
				}
				else if (dropDownValue == 'EMAIL') {
					oForm.find("input[name=emailEnabled]")[0].value = true;
					oForm.find("input[name=eboksEnabled]")[0].value = false;					
				}
				else {
					oForm.find("input[name=emailEnabled]")[0].value = true;
					oForm.find("input[name=eboksEnabled]")[0].value = true;					
				}
			});

			// display currently chosen template
			$('#template' + $("#templateDropdown").val()).show();
			$('#child' + $("#templateDropdown").val() + "_" + $("#childDropdown" + $("#templateDropdown").val()).val()).show();
			
		});
	

		// polyfill for IE11 and endsWith() support
		if (!String.prototype.endsWith) {
		    String.prototype.endsWith = function(search, this_len) {
		        if (this_len === undefined || this_len > this.length) {
		            this_len = this.length;
		        }
		        return this.substring(this_len - search.length, this_len) === search;
		    };
		}

		function getFormData(oForm) {
		    var unindexed_array = oForm.serializeArray();
		    var indexed_array = {};

		    $.map(unindexed_array, function(n, i){
		        indexed_array[n['name']] = n['value'];
		    });

		    return indexed_array;
		}
		
		function save(payload, tryEmail) {
			$.ajax({
				method : "POST",
				url: "/admin/rest/mailtemplates?tryEmail=" + tryEmail,
				headers: {
					"content-type": "application/json",
					'X-CSRF-TOKEN': token
				},
				data: JSON.stringify(payload),
				success: function(data, textStatus, jQxhr) {
					if (jQxhr.responseText != "") {
						toastr.success(jQxhr.responseText);
					} else {
						toastr.success("Gemt!");
					}
 			   	},
 			   	error: function(jQxhr, textStatus, errorThrown) {
	 			   	if (jQxhr.responseText != "") {
	 			   		toastr.error("Fejl: " + jQxhr.responseText);
					} else {
						toastr.error("Fejl!");
					}
 			   	}
			});
		}
		
	/*]]>*/
	</script>
</body>
</html>
