<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (datatables = true)}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar (page = 'admin.identity')}"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="col-lg-12">
							<div class="ibox">
								<div class="ibox-title">
									<h5><em class="fa fa-user"></em> &nbsp; Brugerkonto</h5>
								</div>
	
								<div class="ibox-content">
									<form>
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Navn</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" disabled="disabled" th:value="${form.name}"/>
												<span th:if="${form.nameProtected} == true" style="color: red; font-size: smaller;">
													<em class="fa fa-fw fa-info"></em>
													<span>Personen har navnebeskyttelse</span>
												</span>
											</div>
										</div>
										
										<div class="hr-line-dashed"></div>
	
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">Brugernavn</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" disabled="disabled" th:value="${form.userId}"/>
											</div>
										</div>
										
										<div class="hr-line-dashed"></div>
	
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">E-mail</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" disabled="disabled" th:value="${form.email}"/>
											</div>
										</div>
										
										<div class="hr-line-dashed"></div>
										
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">
												Status
											</label>
											<div class="col-sm-10">
												<input type="text" class="form-control" disabled="disabled" th:value="#{__${form.nsisStatus.message}__}"/>
											</div>
										</div>
										
										<div class="hr-line-dashed"></div>
	
										<div class="form-group row">
											<label class="col-sm-2 col-form-label">MitID Erhverv</label>
											<div class="col-sm-10">
												<th:block th:if="${form.nemloginUserUuid != null}">
													<table class="table">
														<tr>
															<td style="width: 200px;">UUID</td>
															<td><span th:text="${form.nemloginUserUuid}"></span></td>
														</tr>
														<tr>
															<td>Status</td>
															<td><span th:text="${form.status == 'Active' ? 'Aktiv' : (form.status == 'Unknown' ? 'Ukendt' : 'Spærret')}"></span></td>
														</tr>
														<tr>
															<td>Personligt MitID tilknyttet</td>
															<td><span th:text="${form.mitidPrivatCredential ? 'Ja' : 'Nej'}"></span></td>
														</tr>
														<tr>
															<td>Kvalificeret signatur</td>
															<td><span th:text="${form.qualifiedSignature ? 'Ja' : 'Nej'}"></span></td>
														</tr>
														<tr>
															<td>RID</td>
															<td><span th:text="${form.mitidErhvervRid}"></span></td>
														</tr>
													</table>
													
													<label class="col-form-label">OBS! Ovenstående status opdateres hver nat - status inde i MitID Erhverv kan være nyere.</label>
												</th:block>
												<th:block th:if="${form.nemloginUserUuid == null}">
													<input type="text" class="form-control" disabled="disabled" value="Ikke overført til MitID Erhverv" />
												</th:block>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
						
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5><em class="fa fa-mobile"></em> &nbsp; 2-faktor enheder</h5>
								</div>
	
								<div class="ibox-content">
									<div id="mfa-devices-holder">
										<div style="text-align: center; padding-top: 20px; padding-bottom: 20px;">
											<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
										</div>
									</div>
									
									<div class="d-none d-lg-block" style="text-align: right; margin-right: 15px">
										<a id="RobotMFABtn" th:if="${form.isRobot}" onclick="roboClientService.register()" class="btn btn-primary btn-lg" style="margin-left:15px; margin-top: 8px; width: 230px; color: white;">
											<em class="fa fa-android"></em> &nbsp; Tilføj Robot MFA
										</a>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-12" th:if="not ${form.attributes.isEmpty()}">
							<div class="ibox ">
								<div class="ibox-title">
									<h5><em class="fa fa-columns"></em> &nbsp; Attributter</h5>
								</div>
	
								<div id="attributes-holder" class="ibox-content">
									<div class="table-responsive">
										<table id="attributes" class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th style="width: 40%;">Attribut</th>
													<th>Værdi</th>
												</tr>
											</thead>
											
											<tbody>
												<tr th:each="instance : ${form.attributes}">
														<td th:text="${instance.key}" />
													<td th:text="${instance.value}" />
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="col-lg-12" th:if="${#lists.size(roles) > 0}">
							<div class="ibox ">
								<div class="ibox-title">
									<h5><em class="fa fa-bars"></em> &nbsp; Jobfunktionsroller</h5>
								</div>

								<div class="ibox-content">
									<div class="table-responsive">
										<table id="roles" class="table table-striped table-bordered table-hover" >
											<thead>
											<tr>
												<th>Teknisk navn</th>
											</tr>
											</thead>

											<tbody>
												<tr th:each="role : ${roles}">
													<td th:text="${role}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-12" th:if="${#lists.size(groups) > 0}">
							<div class="ibox ">
								<div class="ibox-title">
									<h5><em class="fa fa-bars"></em> &nbsp; Grupper</h5>
								</div>

								<div class="ibox-content">
									<div class="table-responsive">
										<table id="groups" class="table table-striped table-bordered table-hover" >
											<thead>
											<tr>
												<th>Gruppenavn</th>
											</tr>
											</thead>

											<tbody>
												<tr th:each="group : ${groups}">
													<td th:text="${group}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-lg-12">
							<div class="ibox ">
								<div class="ibox-title">
									<h5><em class="fa fa-bars"></em> &nbsp; Hændelseslog</h5>
								</div>
	
								<div class="ibox-content">
									<div class="table-responsive">
										<table id="eventlog" class="table table-striped table-bordered table-hover" >
											<thead>
												<tr>
													<th style="width: 180px;">Tidspunkt</th>
													<th>Hændelse</th>
												</tr>
											</thead>
		
											<tbody>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
						
						<div th:replace="~{fragments/school-data :: schoolData (schoolRoles = ${form.schoolRoles})}"></div>
						
					</div>
					
					<div th:replace="~{fragments/rightbar :: admin (page = 'admin.index')}"></div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
	</div>
	<div id="detailsModal"></div>

	<div th:replace="~{fragments/footer :: scripts (datatables = true)}"></div>

	<div th:replace="~{selfservice/fragments/mfa-devices.html :: detailsScript}"></div>
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		var personId = [[${form.personId}]];
		var rootUrl = [[@{/}]];
		var deleteClientButtonConfirm = [[#{shared.button.yes}]];
		var deleteClientButtonCancel = [[#{shared.button.no}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		var clientService;
		var roboClientService;
		$(document).ready(function(){
			clientService = new ClientService();
			roboClientService = new RoboClientService();
			var eventLogTable = $('#eventlog').DataTable({
				"destroy": true,
				"ajax": {
					"contentType": "application/json",
					"url": "/rest/admin/eventlog/" + personId,
					"type": "POST",
					"headers": {
						"X-CSRF-TOKEN": token
					},
					"data": function(d) {
					 	return JSON.stringify(d);
					}
				},
				"serverSide": true,
				"columns": [
					{
						"data": "tts",
						"className": "text-nowrap",
						"render": function (data, type, row, meta) {
							return data.substring(0, 10) + '&nbsp;&nbsp;' + data.substring(11, 19);
						}
					},
					{
						"data": "message",
						"orderable": false
					}
				],
		        "order": [ [ 0, "desc" ] ],
				"ordering":  true,
				"pageLength": 10,
				"bSort": false,
				"dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
				"responsive": true,
				"language": {
					"info":		 "Viser _START_ til _END_ af _TOTAL_ hændelser",
					"zeroRecords":  "Ingen data...",
					"infoEmpty":	"Ingen data...",
					"paginate": {
						"previous": "Forrige",
						"next": "Næste"
					}
				}
			});
			
			$('#eventlog tbody').on('click', 'tr', function () {
				var data = eventLogTable.row(this).data();
				window.location = rootUrl + "admin/logs/" + data.id;
			});
			
			$('#attributes-holder').load('/admin/fragment/user-attributes/' + personId, function() {
				$('#attributes').DataTable({
					"pageLength": 10,
					"bSort": false,
					"dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
					"responsive": true,
					"language": {
						"info":		 "Viser _START_ til _END_ af _TOTAL_ attributter",
						"zeroRecords":  "Ingen attributter...",
						"infoEmpty":	"Ingen attributter...",
						"paginate": {
							"previous": "Forrige",
							"next": "Næste"
						}
					}
				});	
			});
			
			clientService.loadMfaDevicesDataTable();
			
			$('#schoolDataTable').DataTable({
				"bSort": false,
				"paging": true,
				"responsive": true,
				'ordering': true,
		        'order': [
		        	[ 0, 'asc' ]
		        ],
				"language": {
					"search":	   "Søg",
					"lengthMenu":   "_MENU_ rækker per side",
					"info":		 "Viser _START_ til _END_ af _TOTAL_ rækker",
					"zeroRecords":  "Ingen data...",
					"infoEmpty":	"Henter data...",
					"infoFiltered": "(ud af _MAX_ rækker)",
					"paginate": {
						"previous": "Forrige",
						"next": "Næste"
					}
				}
			});

			$('#roles').DataTable({
				"bSort": false,
				"paging": true,
				"responsive": true,
				'ordering': true,
				"language": {
					"search":	   "Søg",
					"lengthMenu":   "_MENU_ rækker per side",
					"info":		 "Viser _START_ til _END_ af _TOTAL_ rækker",
					"zeroRecords":  "Ingen data...",
					"infoEmpty":	"",
					"infoFiltered": "(ud af _MAX_ rækker)",
					"paginate": {
						"previous": "Forrige",
						"next": "Næste"
					}
				}
			});
			
			$('#groups').DataTable({
				"bSort": false,
				"paging": true,
				"responsive": true,
				'ordering': true,
				"language": {
					"search":	   "Søg",
					"lengthMenu":   "_MENU_ rækker per side",
					"info":		 "Viser _START_ til _END_ af _TOTAL_ rækker",
					"zeroRecords":  "Ingen data...",
					"infoEmpty":	"",
					"infoFiltered": "(ud af _MAX_ rækker)",
					"paginate": {
						"previous": "Forrige",
						"next": "Næste"
					}
				}
			});
		});
		
		function ClientService() {
			var deleteClientText = "Er du sikker på at du vil slette denne 2-faktor enhed?";

			this.loadMfaDevicesDataTable = function() {
				$('#mfa-devices-holder').load('/admin/fragment/user-mfa-devices/' + personId, function() {
					$('#mfa-devices').DataTable({
						"pageLength": 10,
						"bSort": false,
						"dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
						"responsive": true,
						"language": {
							"info":		 "Viser _START_ til _END_ af _TOTAL_ klienter",
							"zeroRecords":  "Ingen klienter...",
							"infoEmpty":	"Ingen klienter...",
							"paginate": {
								"previous": "Forrige",
								"next": "Næste"
							}
						}
					});
				});
			}
			
			this.deleteLocalClient = function(element) {
				var deviceId = element.dataset.deviceid;
				swal({
					title: '',
					text: deleteClientText,
					showCancelButton: true,
					confirmButtonColor: "#3085d6",
					confirmButtonText: deleteClientButtonConfirm,
					cancelButtonText: deleteClientButtonCancel,
					closeOnConfirm: true,
					closeOnCancel: true
				},
				function(isConfirm) {
					if (isConfirm) {
						$.ajax({
							method : "POST",
							url: "/rest/admin/deletelocal/" + deviceId,
							headers: {
								"content-type": "application/json",
								'X-CSRF-TOKEN': token
							}
						}).done(function (data) {
							$('#mfa-devices-holder').html('<div style="text-align: center; padding-top: 20px; padding-bottom: 20px;"><i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i></div>');
							clientService.loadMfaDevicesDataTable();
							toastr.success("Enheden er slettet");
						}).fail(function(jqXHR, textStatus, errorThrown) {
							console.log(textStatus);
							toastr.warning("Der opstod en teknisk fejl");
						});
					}
				});
			}
		}

		function RoboClientService () {
			this.register = function() {
				swal({
					title: 'Tilføj MFA?',
					text: 'Ønsker du at tilføje en MFA klient til denne robot?',
					showCancelButton: true,
					confirmButtonColor: "#1ab394",
					confirmButtonText: 'Ja',
					cancelButtonText: 'Nej',
					closeOnConfirm: true,
					closeOnCancel: true
				 },
				 function (isConfirm) {
					if (isConfirm) {
						setTimeout(function() {
							$.ajax({
								method: "POST",
								url: "/admin/robotMFA/register/" + personId,
								headers: {
									"content-type": "application/json",
									'X-CSRF-TOKEN': token
								}
							}).done(function (data) {
								console.log("hey...");
	
								swal({
									title: 'Gem nøgle',
									text: 'Gem den hemmelige nøgle "' + data + '" - den vises ikke igen. Den skal bruges af RPA udvikleren',
									confirmButtonColor: "#1ab394",
									confirmButtonText: 'OK',
									closeOnConfirm: true
								 },
								 function (isConfirm) {
								 	clientService.loadMfaDevicesDataTable();
								 });
							}).fail(function(jqXHR, textStatus, errorThrown) {
								toastr.error(jqXHR.responseText);
							});
						}, 100);
					}
				 });
			}
		}

		/*]]>*/
	</script>
</body>
</html>
