<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true, checkbox = true, select2 = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.issued-identities')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div sec:authorize="hasRole('ROLE_COREDATA_EDITOR')" class="ibox-title">
								<h5><em class="fa fa-users"></em> &nbsp; Erhvervsidentiteter</h5>
								<div class="ibox-tools" style="top: 8px !important;right: 8px !important;">
									<button onclick="modalService.openCreateModal()" class="btn btn-primary">Opret ny person</button>
								</div>
							</div>

							<div class="ibox-content">
								<p>
									Nedenfor listes alle de brugere som er oprettet i OS2faktor Login. Her kan man bl.a. se brugernes
									status, tilgå yderligere detaljer om brugeren (klik på luppen) og spærre brugerens adgang (klik på hængelåsen).
								</p>
								
								<p>
									Man kan anvende søgefelter over hver kolonne for at filtrere listen af brugere, samt
									klikke på den enkelte overskrift for at sortere efter den valgte kolonne.
								</p>
								
								<h4>Brugere</h4>
								<div class="table-responsive">
									<table id="persons" class="table table-striped table-bordered table-hover" >
										<thead>
											<tr>
												<th style="width: 100px;">Brugernavn</th>
												<th style="min-width: 150px;">Person</th>
												<th style="width: 80px;">2-faktor enhed</th>
												<th style="width: 80px;">Vilkår godkendt</th>
												<th style="width: 125px;">Domæne</th>
												<th style="width: 160px;">Status</th>
												<th style="width: 70px;"></th>
											</tr>
										</thead>
										
										<tfoot style="display: table-row-group">
											<tr>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter">
													<select class="form-control" id="statusSelect" style="width: 100%;" multiple>
														<option th:each="status : ${statuses}"
												            th:value="${status.nsisStatus}"
												            th:text="${status.message}">
												    	</option>
													</select>
												</td>
												<td></td>
											</tr>
										</tfoot>

										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.issued-identities')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<!-- CPR Modal -->
	<div class="modal inmodal" id="modalCpr" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
						<span class="sr-only">Luk</span>
					</button>
					<h4 class="modal-title" id="modalCprTitle">Opret person</h4>
				</div>
				<div class="modal-body">
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">CPR-nummer</label>
						<input class="col-sm-10 form-control" placeholder="Indtast CPR" id="modalCprInput">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">Annuller</button>
					<button type="button" class="btn btn-primary" onclick="modalService.editByCpr()">Søg</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End CPR Modal -->

	<!-- Edit Modal -->
	<div class="modal inmodal" id="modalEdit" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">×</span>
						<span class="sr-only">Luk</span>
					</button>
					<h4 class="modal-title" id="modalEditTitle">Opret person</h4>
				</div>
				<div class="modal-body">
					
					<div class="form-group row" style="display:none;" >
						<label class="col-sm-2 col-form-label">UUID</label>
						<input class="col-sm-10 form-control" id="modalEditPersonId">
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">UUID</label>
						<input class="col-sm-10 form-control" id="modalEditUuid">
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Personnummer</label>
						<input class="col-sm-10 form-control" id="modalEditCpr">
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Navn</label>
						<input class="col-sm-10 form-control" id="modalEditName">
					</div>
					<div class="form-group row">
						<label class="col-sm-2 col-form-label">Email</label>
						<input type="email" class="col-sm-10 form-control" id="modalEditEmail">
					</div>
					<div class="form-group row">
						<div class="table-responsive">
							<table id="attributeTable" class="table table-striped listTable">
								<thead>
									<tr>
										<th>Attribut</th>
										<th>Værdi</th>
									</tr>
								</thead>
								<tbody>

								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" data-dismiss="modal">Annuller</button>
					<button type="button" class="btn btn-primary" onclick="modalService.saveEditModal()">Gem</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End Edit Modal -->
	
	<!-- lock Modal -->
	<div class="modal inmodal" id="modalLock" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<h4 class="modal-title" id="modalLockTitle">Spær adgang</h4>
				</div>
				
				<div class="modal-body">
					<div class="form-group col-md-12">
						<span th:text="#{page.admin.issuedidentities.lockText}"/>
					</div>

					<div class="form-group col-md-12 suspendRow">
						<input th:id="suspend" type="checkbox" class="i-checks col-sm-2 form-control">
						<label class="col-sm-10 col-form-label">Suspender også erhvervsidentiteten<span style="vertical-align: super; font-size: smaller;">*</span></label>
					</div>
					
					<div class="form-group col-md-12 suspendRow">
						<span style="vertical-align: super; font-size: smaller;">*</span>
						<span>Hvis erhvervsidentiteten suspenderes, skal brugeren gennemføre en ny aktivering af erhvervsidentiten hvis spærringen af kontoen fjernes.</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" style="width: 80px;" onclick="$(modalLock).hide();">Nej</button>
					<button type="button" class="btn btn-primary" style="width: 80px;" onclick="modalService.saveLockModal()">Ja</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End lock Modal -->
	
	<!-- unlock Modal -->
	<div class="modal inmodal" id="modalUnlock" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content animated fadeIn">
				<div class="modal-header">
					<h4 class="modal-title" id="modalUnlockTitle">Fjern spærring</h4>
				</div>
				
				<div class="modal-body">
					<div class="form-group col-md-12">
						<span>Er du sikker på du vil låse denne konto op?</span>
					</div>

					<div class="form-group col-md-12 suspendRow">
						<input id="suspendUnlock" type="checkbox" class="i-checks col-sm-2 form-control">
						<label class="col-sm-10 col-form-label">Suspender erhvervsidentiteten i forbindelse med at spærringen fjernes<span style="vertical-align: super; font-size: smaller;">*</span></label>
					</div>
					
					<div class="form-group col-md-12 suspendRow">
						<span style="vertical-align: super; font-size: smaller;">*</span>
						<span>Hvis erhvervsidentiteten suspenderes, skal brugeren gennemføre en ny aktivering af erhvervsidentiten hvis spærringen af kontoen fjernes.</span>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-white" style="width: 80px;" onclick="$(modalUnlock).hide();">Nej</button>
					<button type="button" class="btn btn-primary" style="width: 80px;" onclick="modalService.saveUnlockModal()">Ja</button>
				</div>
			</div>
		</div>
	</div>
	<!-- End unlock Modal -->

	<div th:replace="fragments/footer :: scripts (datatables = true, checkbox = true, select2 = true)" />

	<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*[+
		var baseUrl = [[@{/}]];
		var coreDataEditable = [[${coreDataEditable}]];
		var configDomain = [[${configDomain}]]
		var personAttributes = [[${@personAttributeService.getAll()}]]
		+]*/

		var lockText = "Er du sikker på at du vil spærre denne konto?";
		var unlockText = "Er du sikker på at du vil låse denne konto op?";
		var lockFail = "Der opstod en teknisk fejl, handlingen blev ikke udført!";
		
		var token = $("meta[name='_csrf']").attr("content");
	
		function disableDataTablesAlerts() {
			$.fn.dataTable.ext.errMode = 'none';

			$('#persons').on('error.dt', function(e, settings, techNote, message) {
				// it is a bit of a hack, but we assume this means that the user has been logged out
				if (message.indexOf("Ajax error") >= 0) {
					window.location.reload();
				}
			});
		}

		var table;
		var modalService;
		var defaultAttributeSelect;
		$(document).ready(function(){
			modalService = new ModalService();
			modalService.init();

			disableDataTablesAlerts();
			
			table = $('#persons').DataTable({
				"destroy": true,
				"ajax": {
					"contentType": "application/json",
					"url": baseUrl + "rest/admin/persons",
					"type": 'POST',
					"headers": {
						'X-CSRF-TOKEN': token
					},
					"data": function(d) {
					 	return JSON.stringify(d);
					}
				},
				"serverSide" : true,
				"columns": [
					{
						"data": "userId",
						"orderable": false
					},
					{
						"data": "name",
						"orderable": false
					},
					{
						"data": "mfaClients",
						"orderable": false
					},
					{
						"data": "approvedConditions",
						"orderable": false
					},
					{
						"data": "domain",
						"orderable": false
					},
					{
						"data": "nsisAllowed",
						"orderable": false,
						"searchable": false,
						"render": function (data, type, row, meta) {
							var res = "Ukendt";

							if (row.locked) {
								if (row.lockedAdmin || row.lockedDataset) {
									res = "Spærret (af kommunen)";
								}
								else if (row.lockedPerson || row.lockedPassword) {
									res = "Spærret (af brugeren selv)";
								}
								else if (row.lockedExpired) {
									res = "Spærret (udløbet)";
								}
								else {
									res = "Spærret (civilstatus)";
								}
							}
							else if (row.nsisAllowed) {
								if (row.nsisLevel == 'NONE') {
									res = "Erhvervsidentitet ikke aktiveret";
								}
								else {
									res = "Erhvervsidentitet aktiveret";
								}
							}
							else {
								res = "Erhvervsidentitet ikke tildelt";
							}

							return res;
						}
					},
					{
						"data": "id",
						"searchable": false,
						"orderable": false,
						"render": function (data, type, row, meta) {
							var content =  '<a onclick="lock(' + data + ',' + row.lockedAdmin + ')" style="color: black;" title="' + ((row.lockedAdmin) ? 'Fjern spærring' : 'Spær identitet') + '"><em class="fa fa-fw ' + ((row.lockedAdmin) ? 'fa-unlock-alt' : 'fa-lock') + '"></em></a>&nbsp;' +
							'<a href="' + baseUrl + 'admin/identiteter/' + data + '" style="color: black;" title="Vis identitet"><em class="fa fa-fw fa-search"></em></a>';

							if (coreDataEditable) {
								if (configDomain == row.domain){
									content+= '&nbsp;<a onclick="modalService.editById(' + data + ')"><em class="fa fa-fw fa-pencil"></em></a>';
									content+= '&nbsp;<a onclick="modalService.delete(' + data + ')"><em class="fa fa-fw fa-times"></em></a>';
								}
							}
							return content;
						}
					}
				],
				"ordering": true,
				"info": true,
				"pageLength": 10,
				"lengthChange": false,
				"bSort": false,
				"dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
				"responsive": true,
				"drawCallback": function (settings) {
					$("#statusSelect").select2({
						  placeholder: 'Alle'
					});
					$('[data-toggle="popover"]').popover();
				},
				"language": {
					"search":	   "Søg",
					"lengthMenu":   "_MENU_ rækker per side",
					"info":		 "Viser _START_ til _END_ af _TOTAL_ identiteter",
					"zeroRecords":  "Ingen data...",
					"infoEmpty":	"Henter data...",
					"infoFiltered": "(ud af _MAX_ identiteter)",
					"paginate": {
						"previous": "Forrige",
						"next": "Næste"
					}
				}
			});

			$.each($('.input-filter', table.table().footer()), function() {
				var column = table.column($(this).index());
	
				$('input, select', this).on('keyup change', function () {
					if (column.search() !== $(this).val()) {
						column.search($(this).val()).draw();
					}
				});
			});


			
		});

		function lock(id, isLocked) {
			$.ajax({
				method : "GET",
				url: baseUrl + "rest/admin/lock/check/" + id,
				headers: {
					"content-type": "application/json",
					'X-CSRF-TOKEN': token
				}
			}).done(function (data) {
				if (data) {
					$(".suspendRow").show();
					$("#suspend").iCheck('check');
				}
				else {
					$(".suspendRow").hide();
					$("#suspend").iCheck('uncheck');
				}
			}).fail(function (jqXHR, textStatus, errorThrown) {
				$(".suspendRow").hide();
			});
			
			if (isLocked) {
				$("#modalUnlock").show();
				$("#modalUnlock").attr("personid", id);
			} else {
				$("#modalLock").show();
				$("#modalLock").attr("personid", id);
			}
		}

		function ModalService() {

			this.init = function() {
				modalService.generateAttributeKeyDropdown();
			}

			this.openCreateModal = function() {
				$('#modalCprInput').val('');
				$('#modalCpr').modal("show");
				$('#modalCprInput').focus();				
			}

			this.editById = function(id=0) {
				modalService.editModalAjax("rest/admin/coredata/edit/id", JSON.stringify(id));
			}

			this.editByCpr = function() {
				var cpr = $('#modalCprInput').val();
				modalService.editModalAjax("rest/admin/coredata/edit/cpr", cpr);
			}

			this.showEditModal = function(person) {
				if (!person.newPerson) {
					$('#modalEditTitle').text("Rediger person");
					$('#modalEditCpr').attr("disabled", true);
				}
				else {
					$('#modalEditTitle').text("Opret person")
					$('#modalEditCpr').attr("disabled", false);
				}

				$('#modalEditPersonId').val(person.personId);
				$('#modalEditUuid').val(person.uuid);			
				$('#modalEditCpr').val(person.cpr);
				$('#modalEditName').val(person.name);
				$('#modalEditEmail').val(person.email);

				modalService.loadAttributes(person.attributes);

				$('#modalCpr').modal("hide");
				$('#modalEdit').modal("show");
			}

			this.loadAttributes = function(attributes) {
				// Clear table rows here
				$('#attributeTable tbody').empty();

				if (attributes == null) {
					return;
				}

				var entries = Object.entries(attributes);
				for (var i = 0; i < entries.length; i += 1) {
					// Add rows to table here
					var row = '<tr><td>' + defaultAttributeSelect + '</td><td><input onChange="modalService.onChangeAttributeTable()" class="form-control attributeRow" value="' + entries[i][1] + '"></td></tr>';
					$('#attributeTable > tbody:last-child').append(row);
					$('#attributeTable > tbody tr:last').find('td select.attributeTableKey').val(entries[i][0])
				}

				// Add additional blank row here
				$('#attributeTable > tbody:last-child').append('<tr><td>' + defaultAttributeSelect + '</td><td><input onChange="modalService.onChangeAttributeTable()" class="form-control" value=""></td></tr>');
				
				modalService.onChangeAttributeTable();
			}

			this.onChangeAttributeTable = function() {
				// Delete any empty rows except the last one
				var rows = $('#attributeTable tbody tr');
				for (let i = 0; i < (rows.length -1); i += 1) {
					var inputs = $(rows[i]).children().children();
					var empty = true;

					if ($(inputs[0]).find('option:selected').val()) {
						empty = false;
					}
					
					if ($(inputs[1]).val().length > 0) {
						empty = false;
					}

					if (empty) {
						$(rows[i]).remove();
					}
				}

				// Make sure theres an empty last row
				var lastRow = $('#attributeTable tbody tr:last');
				var lastInputs = lastRow.children().children();
				var lastEmpty = true;

				if ($(lastInputs[0]).find('option:selected').val()) {
					lastEmpty = false;
				}
					
				if ($(lastInputs[1]).val().length > 0) {
					lastEmpty = false;
				}

				if (!lastEmpty) {
					$('#attributeTable > tbody:last-child').append('<tr><td>' + defaultAttributeSelect + '</td><td><input onChange="modalService.onChangeAttributeTable()" class="form-control" value=""></td></tr>');
				}

				// Disable already used values
				modalService.disableUsedAttributeKeyInDropdowns();

			}

			this.generateAttributeKeyDropdown = function() {
				defaultAttributeSelect = '<select class="col-sm-12 form-control m-b attributeTableKey" onChange="modalService.onChangeAttributeTable()"><option value="">Vælg attribut</option>'
				personAttributes.forEach(attribute => {
					defaultAttributeSelect += '<option value="' + attribute.name + '">';
					
					if (!attribute.displayName) {
						defaultAttributeSelect += attribute.name;
					}
					else {
						defaultAttributeSelect += attribute.displayName + " (" + attribute.name + ")";
					}
					defaultAttributeSelect += '</option>';
				});
				defaultAttributeSelect += '</select>';
			}

			this.disableUsedAttributeKeyInDropdowns = function() {
				// Find all used values
				var usedValues = [];
				$(".attributeTableKey option:selected").each(function(index, value) {
					if ($(value).val()) {
						usedValues.push($(value).val());
					}
				})

				// Remove disabled flags from all values
				$(".attributeTableKey option").removeAttr('disabled');

				// Add disabled flags to all options that are in usedValues list
				usedValues.forEach(val => {
					$(".attributeTableKey option[value='" + val + "']").each(function(index, value) {
						$(value).attr('disabled','disabled');
					})
				});
			}

			this.editModalAjax = function(endpoint, data) {
				$.ajax({
					method : "POST",
					url: baseUrl + endpoint,
					headers: {
						"content-type": "application/json",
						'X-CSRF-TOKEN': token
					},
					data: data
				}).done(function(data) {
					modalService.showEditModal(data);
				}).fail(function (jqXHR, textStatus, errorThrown) {
					if (jqXHR.status == 409) {
						toastr.warning("Fejl! Personen findes allerede");
					}
					else {
						toastr.warning("Indtast et personnummer");
					}
				});
			}

			this.saveEditModal = function() {
				var endpoint = "rest/admin/coredata/edit/save/" + $('#modalEditUuid').val();

				// Extract attribute key/value pairs
				var rows = $('#attributeTable tbody tr');
				var dict = {};
				for (let i = 0; i < rows.length; i += 1) {
					var inputs = $(rows[i]).children().children();
					var filled = true;
					if (!$(inputs[0]).find('option:selected').val()) {
						filled = false;
					}
						
					if (!$(inputs[1]).val().length > 0) {
						filled = false;
					}

					if (filled) {
						dict[$(inputs[0]).find('option:selected').val()] = $(inputs[1]).val();
					}
				}

				var person = {
					personId: $('#modalEditPersonId').val(),
					uuid: $('#modalEditUuid').val(),
					cpr: $('#modalEditCpr').val(),
					name: $('#modalEditName').val(),
					email: $('#modalEditEmail').val(),
					attributes: dict
				}

				$.ajax({
					method : "POST",
					url: baseUrl + "rest/admin/coredata/edit/save",
					headers: {
						"content-type": "application/json",
						'X-CSRF-TOKEN': token
					},
					data: JSON.stringify(person)
				}).done(function (data) {
					location.reload(true);
				}).fail(function (jqXHR, textStatus, errorThrown) {
					toastr.warning("Fejl! " + jqXHR.responseText);
				});
			}

			this.delete = function(id) {
				//Ask if they really want to delete this person
				swal({
					title: "Slet person?",
					text: "Er du sikker på du vil slette denne person?",
					type: "warning",
					showCancelButton: true,
					confirmButtonColor: "#DD6B55",
					confirmButtonText: "Slet",
					cancelButtonText: "Annuller",
					closeOnConfirm: false
				}, function () {
					$.ajax({
						method : "POST",
						url: baseUrl + "rest/admin/coredata/delete",
						headers: {
							"content-type": "application/json",
							'X-CSRF-TOKEN': token
						},
						data: JSON.stringify(id)
					}).done(function (data) {
						location.reload(true);
					}).fail(function (jqXHR, textStatus, errorThrown) {
						toastr.warning("Fejl! Kunne ikke slette personen");
					});
				});
			}
			
			this.saveLockModal = function() {
				var personId = $("#modalLock").attr("personid");
				var suspend = $("#suspend").is(":checked");
				
				$.ajax({
					method : "POST",
					url: baseUrl + "rest/admin/lock/" + personId + "?lock=true&suspend=" + suspend,
					headers: {
						"content-type": "application/json",
						'X-CSRF-TOKEN': token
					}
				}).done(function (data) {
					$("#modalLock").hide();
					table.ajax.reload();
				}).fail(function (jqXHR, textStatus, errorThrown) {
					toastr.warning(lockFail);
				});
			}
			
			this.saveUnlockModal = function() {
				var personId = $("#modalUnlock").attr("personid");
				var suspend = $("#suspendUnlock").is(":checked");
				
				$.ajax({
					method : "POST",
					url: baseUrl + "rest/admin/lock/" + personId + "?lock=" + false + "&suspend=" + suspend,
					headers: {
						"content-type": "application/json",
						'X-CSRF-TOKEN': token
					}
				}).done(function (data) {
					$("#modalUnlock").hide();
					table.ajax.reload();
				}).fail(function (jqXHR, textStatus, errorThrown) {
					toastr.warning(lockFail);
				});
			}
		}
		/*]]>*/
	</script>
</body>
</html>
