<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true)"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.kodeviser')"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-mobile fa-rotate-90"></em> &nbsp; Administration af kodevisere</h5>
							</div>

							<div class="ibox-content">
								<p>
									Indtast serienummeret på den kodeviser du ønsker at nulstille
								</p>

								<p>
									<a type="button" class="btn btn-primary" th:href="@{/admin/download/kodeviser}" style="width: 235px; margin-bottom: 5px;" title="Download">
										<em class="fa fa-fw fa-file-excel-o"></em> &nbsp; Download
									</a>
								</p>

								<div class="table-responsive">
									<table id="devices" class="table table-striped table-bordered table-hover" >
										<thead>
											<tr>
												<th>Person</th>
												<th style="width: 130px;">Brugerkonto</th>
												<th style="width: 130px;">Status (bruger)</th>
												<th style="width: 200px;">Serienummer</th>
												<th style="width: 100px;">Handlinger</th>
											</tr>
										</thead>
										
										<tfoot style="display: table-row-group">
											<tr>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td></td>
											</tr>
										</tfoot>

										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.kodeviser')"></div>
				</div>
			</div>

			<div th:replace="fragments/footer :: footer"></div>
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (datatables = true)"></div>
	
	<style>
		.container-fluid {
			width: 100%;
			padding-right: 0px !important;
			padding-left: 0px !important;
			margin-right: auto;
			margin-left: auto;
		}
	</style>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
			
		/*[+
			var baseUrl = [[@{/}]];
			var resetButtonConfirm = [[#{shared.button.yes}]];
			var resetButtonCancel = [[#{shared.button.no}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");
		var table;

		$(document).ready(function() {
			table = $('#devices').DataTable({
				"destroy": true,
				"ajax": {
					"contentType": "application/json",
					"url": baseUrl + "rest/admin/kodeviser",
					"type": 'POST',
					"headers": {
						'X-CSRF-TOKEN': token
					},
					"data": function(d) {
					 	return JSON.stringify(d);
					}
				},
				"serverSide" : true,
				"columns": [
					{
						"data": "personName",
						"orderable": true
					},
					{
						"data": "samaccountName",
						"orderable": true
					},
					{
						"data": "locked",
						"orderable": false,
						"render": function (data, type, row, meta) {
							return data ? 'Spærret' : 'Aktiv';
						}
					},
					{
						"data": "serialnumber",
						"orderable": true
					},
					{
						"data": "id",
						"searchable": false,
						"orderable": false,
						"render": function (data, type, row, meta) {
							return '<a href="#" onclick="resetDevice(\''+row.serialnumber+'\')" style="color:black" title="Frigiv kodeviser"><em class="fa fa-fw fa-power-off"></em></a>';
						}
					}
				],
				"ordering": true,
				"info": true,
				"pageLength": 20,
				"lengthChange": false,
				"bSort": false,
				"dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
				"responsive": true,
				"drawCallback": function (settings) {
					$('[data-toggle="popover"]').popover();
				},
				"language": {
					"search":	   "Søg",
					"lengthMenu":   "_MENU_ rækker per side",
					"info":		 "Viser _START_ til _END_ af _TOTAL_ identiteter",
					"zeroRecords":  "Ingen data...",
					"infoEmpty":	"Henter data...",
					"infoFiltered": "(ud af _MAX_ identiteter)",
					"paginate": {
						"previous": "Forrige",
						"next": "Næste"
					}
				}
			});
			
			$.each($('.input-filter', table.table().footer()), function() {
				var column = table.column($(this).index());
	
				$('input', this).on('keyup change', function () {
					if (column.search() !== this.value) {
						column.search(this.value).draw();
					}
				});
			});
			
		});

		function resetDevice(serial) {
			swal({
				title: '',
				text: 'Ønsker du at frigive kodeviseren, så den kan anvendes af en anden bruger?',
				showCancelButton: true,
				confirmButtonColor: "#3085d6",
				confirmButtonText: resetButtonConfirm,
				cancelButtonText: resetButtonCancel,
				closeOnConfirm: true,
				closeOnCancel: true
			},
			function(isConfirm) {
				if (isConfirm) {
					$.ajax({
						method : "GET",
						url: "/rest/admin/kodeviser/deregister?serial=" + serial,
						headers: {
							'X-CSRF-TOKEN': token
						}
					}).done(function (data) {
						table.ajax.reload();
						toastr.success("Kodeviseren er frigivet");
					}).fail(function(jqXHR, textStatus, errorThrown) {
						table.ajax.reload();
						toastr.warning("Der opstod en teknisk fejl");
					});
				}
			});
		}
		
		/*]]>*/
	</script>
</body>
</html>
