<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.log-viewer')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-bars"></em> &nbsp; Hændelseslog</h5>
							</div>

							<div class="ibox-content">
								<p>
									Nedenfor listes alle opsamlede logdata. Man kan anvende søgefelter over hver kolonne for at filtrere loggen, samt
									klikke på den enkelte overskrift for at sortere efter den valgte kolonne.
								</p>
								<p>
									Hvis man klikker på en enkelt loglinje, så får man vist yderligere detaljer om den valgte log, og kan bl.a.
									få vist en liste over alle handlinger foretaget indenfor den samme login-session.
								</p>
								
								<h4>Logdata</h4>

								<div class="table-responsive">
									<table id="eventlog" class="table table-striped table-bordered table-hover" >
										<thead>
											<tr>
												<th style="width: 110px;">Tidspunkt</th>
												<th style="width: 80px;">Brugernavn</th>
												<th style="width: 160px;">Person</th>
												<th style="width: 200px;">Hændelsestype</th>
												<th>Hændelse</th>
											</tr>
										</thead>
										
										<tfoot style="display: table-row-group">
											<tr>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
												<td class="input-filter">
													<select class="form-control" style="width: 100%;">
														<option selected="selected" value="">Alle</option>
														<option th:each="action : ${logActions}"
												            th:value="${action.logAction}"
												            th:text="${action.message}">
												    	</option>
													</select>
												</td>
												<td class="input-filter"><input type="text" class="form-control input-sm" style="width: 100%;" placeholder="Søg" /></td>
											</tr>
										</tfoot>

										<tbody>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.log-viewer')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (datatables = true)" />

	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		var rootUrl = [[@{/}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		function disableDataTablesAlerts() {
			$.fn.dataTable.ext.errMode = 'none';

			$('#persons').on('error.dt', function(e, settings, techNote, message) {
				// it is a bit of a hack, but we assume this means that the user has been logged out
				if (message.indexOf("Ajax error") >= 0) {
					window.location.reload();
				}
			});
		}

		$(document).ready(function() {
			
			disableDataTablesAlerts();
			
			var table = $('#eventlog').DataTable({
				"destroy": true,
				"ajax": {
					"contentType": "application/json",
					"url": "/rest/admin/eventlog",
					"type": "POST",
					"headers": {
						"X-CSRF-TOKEN": token
					},
					"data": function(d) {
					 	return JSON.stringify(d);
					}
				},
				"serverSide": true,
				"columns": [
					{
						"data": "tts",
						"className": "text-nowrap",
						"render": function (data, type, row, meta) {
							return data.substring(0, 10) + '&nbsp;&nbsp;' + data.substring(11, 19);
						}
					},
					{
						"data": "userId",
						"orderable": false
					},
					{
						"data": "personName",
						"orderable": false
					},
					{
						"data": "logAction",
						"orderable": false
					},
					{
						"data": "message",
						"orderable": false
					}
				],
				"ordering": true,
		        "order": [ [ 0, "desc" ] ],
				"info": true,
				"pageLength": 10,
				"lengthChange": false,
				"bSort": false,
				"dom": "<'row'<'col-sm-12'tr>><'row'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7'p>>",
				"responsive": true,
				"language": {
					"search":	   "Søg",
					"lengthMenu":   "_MENU_ hændelser per side",
					"info":		 "Viser _START_ til _END_ af _TOTAL_ hændelser",
					"zeroRecords":  "Ingen data...",
					"infoEmpty":	"Henter data...",
					"infoFiltered": "(ud af _MAX_ hændelser)",
					"paginate": {
						"previous": "Forrige",
						"next": "Næste"
					}
				}
			});
			
			$.each($('.input-filter', table.table().footer()), function() {
				var column = table.column($(this).index());

				$('input, select', this).on('keyup change', function () {
					if (column.search() !== this.value) {
						column.search(this.value).draw();
					}
				});
			});
			
			$('#eventlog tbody').on('click', 'tr', function () {
				var data = table.row(this).data();
				window.location = rootUrl + "admin/logs/" + data.id;
			});
		});
		
		/*]]>*/
	</script>
</body>
</html>
