<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true)" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.password-change-queue')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-stack-overflow"></em> &nbsp; Log over kodeordsskifte</h5>
							</div>

							<div class="ibox-content">
								<p>
									Nedenfor vises en log over de seneste kodeordsskifte som skal replikeres til Active Directory. Her kan man se status på selve
									replikeringen, og om den er slået igennem i Active Directory.
								</p>
								
								<h4>Kodeordsskifte</h4>

								<div class="table-responsive">
									<table id="password-change-queue" class="table table-striped table-bordered table-hover" >
										<thead>
											<tr>
												<th style="width: 110px;">Tidspunkt</th>
												<th style="width: 100px;">Brugernavn</th>
												<th style="width: 130px;">Domæne</th>
												<th style="width: 130px;">Status</th>
												<th>Besked</th>
											</tr>
										</thead>

										<tbody>
											<tr th:each="entry : ${passwordChangeQueue}">
												<td><span th:text="${#temporals.format(entry.tts, 'yyyy-MM-dd  HH:mm:ss')}"></span></td>
												<td><span th:text="${entry.samaccountName}"></span></td>
												<td><span th:text="${entry.domain}"></span></td>
												<td><span th:text="#{__${entry.status.message}__}"></span></td>
												<td><span th:text="${entry.message}"></span></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: admin (page = 'admin.password-change-queue')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts (datatables = true)" />
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		$(document).ready(function(){
			$('#password-change-queue').DataTable({
				"pageLength": 100,
				"lengthChange": false,
				"bSort": false,
				"ordering": true,
				"columnDefs" : [
					{ targets: '_all', orderable: false }
				],
				"order": [ [ 0, 'desc' ] ],
				"responsive": true,
				"dom": "<'row'<'col-sm-12'tr>>",
				"language": {
					"search":	   "Søg",
					"lengthMenu":   "_MENU_ rækker per side",
					"info":		 "Viser _START_ til _END_ af _TOTAL_ rækker",
					"zeroRecords":  "Ingen data...",
					"infoEmpty":	"Henter data...",
					"infoFiltered": "(ud af _MAX_ rækker)",
					"paginate": {
						"previous": "Forrige",
						"next": "Næste"
					}
				}
			});
		});
		/*]]>*/
	</script>
</body>
</html>
