<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header (datatables = true)" />
<body class="top-navigation">
	<div id="wrapper">
	    <div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'admin.reports')" />

	        <div class="wrapper wrapper-content">
	            <div class="row">
                    <div class="col-lg-9">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5><em class="fa fa-stack-overflow"></em> &nbsp; Rapporter</h5>
                            </div>

                            <div class="ibox-content">
		                        <div class="table-responsive">
				                    <table id="reports" class="table table-striped table-bordered table-hover" >
					                    <thead>
						                    <tr>
						                        <th>Rapport</th>
						                        <th>Beskrivelse</th>
						                        <th>Hent</th>
						                    </tr>
					                    </thead>

					                    <tbody>
						                    <tr>
						                        <td>Hændelseslog</td>
						                        <td>Hent et udtræk fra hændelselsloggen for de sidste syv dage.</td>
						                        <td class="text-center">
						                        	<a th:href="@{/ui/report/download/auditLog}" style="color: black;" title="Download"><em class="fa fa-fw fa-file-excel-o"></em></a>
						                        </td>
						                    </tr>
						                    
						                    <tr>
						                        <td>Brugerkonti</td>
						                        <td>Hent en rapport over alle brugerkonti.</td>
						                        <td class="text-center">
						                        	<a th:href="@{/ui/report/download/persons}" style="color: black;" title="Download"><em class="fa fa-fw fa-file-excel-o"></em></a>
						                        </td>
						                    </tr>


											<tr th:if="${@commonConfiguration.getRoleCatalogue().isEnabled() == false}">
												<td>Jobfunktionsroller</td>
												<td>Hent en rapport over alle brugere med jobfunktionsroller.</td>
												<td class="text-center">
													<a th:href="@{/ui/report/download/roles}" style="color: black;" title="Download"><em class="fa fa-fw fa-file-excel-o"></em></a>
												</td>
											</tr>
						                    
						                    <th:block sec:authorize="hasRole('ROLE_ADMINISTRATOR')">
						                    <!-- audit reports - only shown for admins -->
						                     
						                    <tr>
						                        <td>Revisionsrapport (generel)</td>
						                        <td>Hent et udtræk fra hændelselsloggen for de sidste 13 måneder (ekskl logins).</td>
						                        <td class="text-center">
						                        	<a th:href="@{/ui/report/download/auditorReportGenerel}" style="color: black;" title="Download"><em class="fa fa-fw fa-file-excel-o"></em></a>
						                        </td>
						                    </tr>
						                    
						                    <tr>
						                        <td>Revisionsrapport (logins)</td>
						                        <td>Hent et udtræk fra hændelselsloggen over logins for de sidste 3 måneder.</td>
						                        <td class="text-center">
						                        	<a th:href="@{/ui/report/download/auditorReportLogins}" style="color: black;" title="Download"><em class="fa fa-fw fa-file-excel-o"></em></a>
						                        </td>
						                    </tr>

						                    <tr>
						                        <td>Revisionsrapport (administratorhandlinger)</td>
						                        <td>Hent et udtræk fra hændelselsloggen over administratorhandlinger for de sidste 13 måneder.</td>
						                        <td class="text-center">
						                        	<a th:href="@{/ui/report/download/auditorReportAdmins}" style="color: black;" title="Download"><em class="fa fa-fw fa-file-excel-o"></em></a>
						                        </td>
						                    </tr>

						                    <!-- end of audit reports -->
						                    </th:block>
					                    </tbody>
				                    </table>
		                        </div>
                            </div>
                        </div>
                    </div>
                    
					<div th:replace="fragments/rightbar :: admin (page = 'admin.reports')" />
	            </div>
	        </div>

			<div th:replace="fragments/footer :: footer" />
	    </div>
	</div>

	<div th:replace="fragments/footer :: scripts (datatables = true)" />
	
	<script type="text/javascript">
        $(document).ready(function(){
            $('#reports').DataTable({
                "pageLength": 100,
                "lengthChange": false,
                "bSort": false,
                "responsive": true,
                "dom": "<'row'<'col-sm-12'tr>>",
		        "language": {
		            "search":       "Søg",
		            "lengthMenu":   "_MENU_ rækker per side",
		            "info":         "Viser _START_ til _END_ af _TOTAL_ rækker",
		            "zeroRecords":  "Ingen data...",
		            "infoEmpty":    "Henter data...",
		            "infoFiltered": "(ud af _MAX_ rækker)",
		            "paginate": {
		                "previous": "Forrige",
		                "next": "Næste"
		            }
		        }
            });
        });
	</script>
</body>
</html>
