<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (datatables = true, checkbox = true)}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar (page = 'admin.serviceprovider')}"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-gear"></em> &nbsp; Tjenesteudbyder</h5>
								<div class="ibox-tools" style="top: 8px !important;right: 8px !important;">
									<button th:if="${serviceprovider.protocol} == 'SAML20'" onclick="reloadMetadata()" class="btn btn-primary">
										<em class="fa fa-refresh"></em>
										&nbsp;
										Genopfrisk metadata
									</button>
									<a th:if="${serviceprovider.sqlServiceProvider}" th:href="@{/admin/konfiguration/tjenesteudbydere/} + ${serviceprovider.id} + '/edit'" class="btn btn-primary">
										<em class="fa fa-pencil"></em>
										&nbsp;
										Rediger
									</a>
								</div>
							</div>

							<div class="ibox-content">
								<form>
									<input type="text" class="form-control" th:field="${serviceprovider.id}" style="display:none;"/>

									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Navn</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" th:value="${serviceprovider.name}" disabled="disabled"/>
										</div>
									</div>
									
									<div class="form-group row">
										<label th:if="${serviceprovider.protocol} == 'SAML20' or ${serviceprovider.protocol} == 'ENTRAMFA' or ${serviceprovider.protocol} == 'WSFED'" class="col-sm-3 col-form-label">Entity ID</label>
										<label th:if="${serviceprovider.protocol} == 'OIDC10'" class="col-sm-3 col-form-label">Klient ID</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" th:value="${serviceprovider.entityId}" disabled="disabled"/>
										</div>
									</div>

									<div th:unless="${serviceprovider.nemLogInBrokerEnabled}" class="hr-line-dashed"></div>
									<div th:unless="${serviceprovider.nemLogInBrokerEnabled || (serviceprovider.protocol != 'SAML20' && serviceprovider.protocol != 'WSFED')}" class="form-group row">
										<label class="col-sm-3 col-form-label">NameID Format</label>
										<div class="col-sm-9">
											<select class="form-control m-b" disabled="disabled">
												<option th:each="nameIdFormat : ${T(dk.digitalidentity.common.dao.model.enums.NameIdFormat).values()}" th:value="${nameIdFormat}" th:text="${nameIdFormat.value}" th:selected="${nameIdFormat} == ${serviceprovider.nameIdFormat}"></option>
											</select>
										</div>
									</div>

									<div th:unless="${serviceprovider.nemLogInBrokerEnabled}" th:if="${serviceprovider.sqlServiceProvider}" class="form-group row">
										<label th:if="${serviceprovider.protocol} == 'SAML20' or ${serviceprovider.protocol} == 'WSFED'" class="col-sm-3 col-form-label">NameID Værdi</label>
										<label th:if="${serviceprovider.protocol} == 'OIDC10'" class="col-sm-3 col-form-label">Subjekt</label>
										<div class="col-sm-9">
											<select class="form-control m-b" disabled="disabled">
												<option value="userId" th:selected="'userId' == ${serviceprovider.nameIdValue} or 'sAMAccountName' == ${serviceprovider.nameIdValue}">Brugernavn</option>
												<option value="email" th:selected="email == ${serviceprovider.nameIdValue}">E-mail</option>
												<option value="uuid" th:selected="uuid == ${serviceprovider.nameIdValue}">UUID</option>
												<option value="cpr" th:selected="cpr == ${serviceprovider.nameIdValue}">Personnummer</option>
												<option value="name" th:selected="name == ${serviceprovider.nameIdValue}">Navn</option>
												<option value="alias" th:selected="alias == ${serviceprovider.nameIdValue}">Kaldenavn</option>
												<option value="firstname" th:selected="firstname == ${serviceprovider.nameIdValue}">Fornavn</option>
												<option value="lastname" th:selected="lastname == ${serviceprovider.nameIdValue}">Efternavn</option>
												<option th:each="personAttribute : ${@personAttributeService.getAll()}" th:value="${personAttribute.name}" th:selected="${personAttribute.name} == ${serviceprovider.nameIdValue}">
													<th:block th:unless="${#strings.isEmpty(personAttribute.displayName)}" th:text="${personAttribute.displayName + ' (' + personAttribute.name + ')'}"></th:block>
													<th:block th:if="${#strings.isEmpty(personAttribute.displayName)}" th:text="${personAttribute.name}"></th:block>
												</option>
											</select>
										</div>
									</div>

									<div class="form-group row" th:if="${serviceprovider.protocol} == 'OIDC10'">
										<label class="col-sm-3 col-form-label">Klient type</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" th:value="${serviceprovider.publicClient ? 'Public Client' : 'Confidential Client'}" disabled="disabled"/>
										</div>
									</div>

									<div class="form-group row" th:if="${serviceprovider.protocol} == 'OIDC10'">
										<label class="col-sm-3 col-form-label">Kræver PKCE</label>
										<div class="col-sm-9">
											<label>
												<input th:field="${serviceprovider.requirePKCE}" type="checkbox" class="i-checks" disabled="disabled">
											</label>
										</div>
									</div>

									<div class="hr-line-dashed" th:unless="${serviceprovider.nemLogInBrokerEnabled}" th:if="${serviceprovider.sqlServiceProvider}"></div>

									<th:block th:if="${serviceprovider.nsisLevelRequired != null and serviceprovider.nsisLevelRequired.toString() == 'NONE'}">
									<div class="form-group row" th:unless="${serviceprovider.nemLogInBrokerEnabled}" th:if="${serviceprovider.sqlServiceProvider}">
										<label class="col-sm-3 col-form-label">Tvungen to-faktor login</label>
										<div class="col-sm-9">
											<select class="form-control m-b" disabled="disabled">
												<option th:each="forceMfaRequired : ${T(dk.digitalidentity.common.dao.model.enums.ForceMFARequired).values()}" th:value="${forceMfaRequired}" th:text="#{__${forceMfaRequired.message}__}" th:selected="${forceMfaRequired} == ${serviceprovider.forceMfaRequired}"></option>
											</select>
										</div>
									</div>

									<div class="hr-line-dashed" th:unless="${serviceprovider.nemLogInBrokerEnabled}" th:if="${serviceprovider.sqlServiceProvider}"></div>
									</th:block>

									<div class="form-group row" th:unless="${serviceprovider.nemLogInBrokerEnabled}" th:if="${serviceprovider.sqlServiceProvider}">
										<label class="col-sm-3 col-form-label">Minimum krævet NSIS niveau</label>
										<div class="col-sm-9">
											<select class="form-control m-b" disabled="disabled">
												<option th:each="nsisLevel : ${T(dk.digitalidentity.common.dao.model.enums.NSISLevel).values()}" th:value="${nsisLevel}" th:text="#{__${nsisLevel.message}__}" th:selected="${nsisLevel} == ${serviceprovider.nsisLevelRequired}"></option>
											</select>
										</div>
									</div>

									<div class="hr-line-dashed"></div>

									<div class="form-group row" th:if="${serviceprovider.protocol} != 'OIDC10'">
										<label class="col-sm-3 col-form-label">IdP Certifikat</label>
										<div class="col-sm-9">
											<select class="form-control m-b" disabled="disabled">
												<option th:with="cert = ${T(dk.digitalidentity.common.dao.model.enums.KnownCertificateAliases).OCES}" th:value="${cert}" th:text="#{__${cert.message}__}" th:selected="${cert.name} == ${serviceprovider.certificate}"></option>
												<option th:with="cert = ${T(dk.digitalidentity.common.dao.model.enums.KnownCertificateAliases).SELFSIGNED}" th:value="${cert}" th:text="#{__${cert.message}__}" th:selected="${cert.name} == ${serviceprovider.certificate}"></option>
											</select>
										</div>
									</div>

									<th:block th:if="${serviceprovider.passwordExpiry != null && serviceprovider.mfaExpiry != null}">
										<div class="hr-line-dashed"></div>
										
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Sessionsudløb for kodeord</label>
											<div class="col-sm-9">
												<div class="col-sm-9 row">
													<input th:field="${serviceprovider.passwordExpiry}" type="number" class="form-control col-sm-4" min="0" max="840" disabled="disabled"/>
													<label class="col-sm-4 col-form-label">minutter</label>
												</div>
											</div>
										</div>
										
										<div class="form-group row">
											<label class="col-sm-3 col-form-label">Sessionsudløb for 2-faktor</label>
											<div class="col-sm-9">
												<div class="col-sm-9 row">
													<input th:field="${serviceprovider.mfaExpiry}" type="number" class="form-control col-sm-4" disabled="disabled"/>
													<label class="col-sm-4 col-form-label">minutter</label>
												</div>
											</div>
										</div>
									</th:block>

									<div class="hr-line-dashed"></div>

									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Gennemstil logins til NemLog-In</label>
										<div class="col-sm-9">
											<label>
												<input th:field="${serviceprovider.nemLogInBrokerEnabled}" type="checkbox" class="i-checks" disabled="disabled">
											</label>
										</div>
									</div>
									
									<div class="form-group row allowMitidErhvervLogin">
										<label class="col-sm-3 col-form-label">Tillad erhvervsidentiteter</label>
										<div class="col-sm-9">
											<label>
												<input th:field="${serviceprovider.allowMitidErhvervLogin}" type="checkbox" class="i-checks" disabled="disabled">
											</label>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Tillad anonyme bruger</label>
										<div class="col-sm-9">
											<label>
												<input th:field="${serviceprovider.allowAnonymousUsers}" type="checkbox" class="i-checks" disabled="disabled">
											</label>
										</div>
									</div>

									<div class="form-group row" th:unless="${serviceprovider.nemLogInBrokerEnabled}">
										<label class="col-sm-3 col-form-label">Foretræk NemLog-in ved login</label>
										<div class="col-sm-9">
											<label>
												<input th:field="${serviceprovider.preferNemid}" type="checkbox" class="i-checks" disabled="disabled">
											</label>
										</div>
									</div>
									
									<div th:if="${serviceprovider.protocol} == 'SAML20'" class="form-group row">
										<label class="col-sm-3 col-form-label">Krypter Assertion</label>
										<div class="col-sm-9">
											<label>
												<input th:field="${serviceprovider.encryptAssertions}" type="checkbox" class="i-checks" disabled="disabled">
											</label>
										</div>
									</div>

									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Aktiv</label>
										<div class="col-sm-9">
											<label>
												<input th:field="${serviceprovider.enabled}" type="checkbox" class="i-checks" disabled="disabled">
											</label>
										</div>
									</div>
									
									<th:block th:if="${serviceprovider.nsisLevelRequired != null and serviceprovider.nsisLevelRequired.toString() == 'NONE'}">
									<div th:if="${serviceprovider.protocol} == 'SAML20' or ${serviceprovider.protocol} == 'OIDC10'" class="form-group row">
										<label class="col-sm-3 col-form-label">Anvend NIST sikringsniveauer</label>
										<div class="col-sm-9">
											<label>
												<input th:field="${serviceprovider.preferNIST}" type="checkbox" class="i-checks" disabled="disabled">
											</label>
										</div>
									</div>
									</th:block>
									
									<div th:if="${serviceprovider.protocol} == 'SAML20'" class="form-group row">
										<label class="col-sm-3 col-form-label">Anvend OIOSAML3 profilen</label>
										<div class="col-sm-9">
											<label>
												<input th:field="${serviceprovider.requireOiosaml3Profile}" type="checkbox" class="i-checks" disabled="disabled">
											</label>
										</div>
									</div>
								</form>
							</div>
						</div>

						<div th:if="${serviceprovider.exemptedDomains != null and #lists.size(serviceprovider.exemptedDomains) > 0}" class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-columns"></em> &nbsp;Domæner undtaget for 2-faktor login</h5>
							</div>

							<div class="ibox-content">
								<div class="form-group">
									<div class="table-responsive mfaExemptionsDomainTable">
										<table class="table table-striped table-bordered table-hover">
											<thead>
												<tr>
													<th style="width: 60px;">Undtaget</th>
													<th>Navn</th>
												</tr>
											</thead>
											
											<tbody style="display: table-row-group">
												<tr th:each="domain : ${@domainService.getAll()}">
													<td style="text-align: center;">
														<label><input th:attr="data-id=${domain.id}" type="checkbox" class="i-checks exemptedMfaDomainCheckbox" th:checked="${#lists.contains(serviceprovider.exemptedDomains, domain.id)}" disabled="disabled"></label>
													</td>
													<td th:text="${domain.name}"></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

						</div>

						<div th:if="${serviceprovider.protocol} == 'SAML20' or ${serviceprovider.protocol} == 'WSFED'" class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-columns"></em> &nbsp; Metadata konfiguration</h5>
							</div>

							<div class="ibox-content">
								<div class="form-group row" th:if="${!#strings.isEmpty(serviceprovider.metadataUrl)}">
									<label class="col-sm-3 col-form-label">Metadata hentet via den valgte URL</label>
									<div class="col-sm-9">
										<input type="text" class="form-control" th:value="${serviceprovider.metadataUrl}" disabled="disabled"/>
									</div>
								</div>
								
								<div class="form-group row" th:if="${!#strings.isEmpty(serviceprovider.metadataContent)}">
									<label class="col-sm-3 col-form-label">Metadata uploadet via xml fil</label>
								</div>

								<div class="hr-line-dashed"></div>

								<div class="form-group row" th:if="${serviceprovider.protocol == 'SAML20' && #lists.isEmpty(serviceprovider.certificates) && #lists.isEmpty(serviceprovider.endpoints)}">
									<label class="offset-sm-3 col-sm-3 col-form-label"><em class="fa fa-exclamation-circle"></em> Kunne ikke hente Certificater eller Endpoints fra metadata, prøv evt. igen senere</label>
								</div>
									
								<th:block th:unless="${#lists.isEmpty(serviceprovider.certificates) && #lists.isEmpty(serviceprovider.endpoints)}">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Certificater</label>
										<div class="col-sm-9">
											<div class="table-responsive">
												<table id="certTable" class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th style="width: 20%;">Type</th>
															<th style="width: 70%;">Subjekt</th>
															<th style="width: 10%;">Udløbsdato</th>
														</tr>
													</thead>
													
													<tbody>
														<tr th:each="cert : ${serviceprovider.certificates}">
										    				<td th:text="${cert.usageType}" />
										   			 		<td th:text="${cert.subject}" />
										   			 		<td th:text="${cert.expiryDate}" />
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>

									<div class="hr-line-dashed"></div>

									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Endpoints</label>
										<div class="col-sm-9">
											<div class="table-responsive">
												<table id="endpointTable" class="table table-striped table-bordered table-hover">
													<thead>
														<tr>
															<th style="width: 20%;">Type</th>
															<th style="width: 40%;">URL</th>
															<th style="width: 40%;">Binding</th>
														</tr>
													</thead>
													
													<tbody>
														<tr th:each="endpoint : ${serviceprovider.endpoints}">
										    				<td th:text="${endpoint.type}" />
										    				<td th:text="${endpoint.url}" />
										   			 		<td th:text="${endpoint.binding}" />
														</tr>
													</tbody>
												</table>
											</div>
										</div>
									</div>
								</th:block>
							</div>
						</div>

						<div th:if="${serviceprovider.protocol} == 'OIDC10'" class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-columns"></em> &nbsp; Godkendte OIDC webadresser - Redirect URLs</h5>
							</div>

							<div class="ibox-content">
								<div class="form-group row">
									<div class="col-sm-12">
										<table id="redirectUrlTable" class="table table-bordered listTable">
											<thead>
												<tr>
													<th>Godkendte webadresser</th>
												</tr>
											</thead>
											<tbody>
												<tr th:each="redirectURL : ${serviceprovider.redirectURLs}"><td><label class="form-control" th:text="${redirectURL}" disabled="disabled"></label></td></tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>

							<div class="ibox-title">
								<h5><em class="fa fa-columns"></em> &nbsp; Godkendte OIDC webadresser - Logout redirect URLs</h5>
							</div>

							<div class="ibox-content">
								<div class="form-group row">
									<div class="col-sm-12">
										<table id="logoutUrlTable" class="table table-bordered listTable">
											<thead>
											<tr>
												<th>Godkendte webadresser</th>
											</tr>
											</thead>
											<tbody>
											<tr th:each="logoutURL : ${serviceprovider.logoutURLs}"><td><label class="form-control" th:text="${logoutURL}" disabled="disabled"></label></td></tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>

						<div class="ibox" th:if="${serviceprovider.sqlServiceProvider and !#lists.isEmpty(serviceprovider.claims)}">
							<div class="ibox-title">
								<h5><em class="fa fa-columns"></em> &nbsp;Claims</h5>
							</div>

							<div class="ibox-content">
								<div class="table-responsive">
									<table id="claimTable" class="table table-striped table-bordered table-hover">
										<thead>
										<tr>
											<th style="display:none;">Id</th>
											<th style="width: 200px;">Type</th>
											<th>Attribut</th>
											<th style="width: 300px;">Værdi</th>
											<th style="width: 200px;">Parameter</th>
										</tr>
										</thead>

										<tbody>
										<tr th:each="claim : ${serviceprovider.claims}">
											<td th:text="${claim.type.message}" />
											<td th:text="${claim.attribute}" />
											<td th:text="${claim.value}" />
											<td th:text="${claim.parameter}" />
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>

						<th:block th:unless="${serviceprovider.nemLogInBrokerEnabled}">
							<div class="ibox" th:if="${serviceprovider.sqlServiceProvider and (!#lists.isEmpty(serviceprovider.conditionsGroups) || !#lists.isEmpty(serviceprovider.conditionsDomains))}">
								<div class="ibox-title">
									<h5><em class="fa fa-columns"></em> &nbsp;Begrænset adgang</h5>
								</div>
	
								<div class="ibox-content">
									<div class="form-group" th:unless="${#lists.isEmpty(serviceprovider.conditionsDomains)}">
										<div class="table-responsive">
											<table id="conditionDomainTable" class="table table-striped table-bordered table-hover" >
												<thead>
													<tr>
														<th style="width: 100%;">Adgang begrænset til personer fra følgende domæner</th>
													</tr>
												</thead>
												
												<tbody style="display: table-row-group">
													<tr th:each="domain : ${serviceprovider.conditionsDomains}">
														<td th:text="${domain.name}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
	
									<div class="form-group" th:unless="${#lists.isEmpty(serviceprovider.conditionsGroups)}">
										<div class="table-responsive">
											<table id="conditionGroupTable" class="table table-striped table-bordered table-hover" >
												<thead>
													<tr>
														<th style="width: 100%;">Adgang begrænset til personer i følgende grupper</th>
													</tr>
												</thead>
												
												<tbody style="display: table-row-group">
													<tr th:each="group : ${serviceprovider.conditionsGroups}">
														<td th:text="${group.name}"></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</th:block>

						<div class="ibox" th:if="${serviceprovider.kombitServiceProvider}">
							<div class="ibox-title">
								<h5><em class="fa fa-columns"></em> &nbsp;Kombit Brugervendte Systemer</h5>
							</div>

							<div class="ibox-content">
								<div class="form-group row">
									<label class="col-sm-3 col-form-label">2-faktor regel for nye systemer</label>
									<div class="col-sm-9">
										<select class="form-control m-b" id="kombitDefaultMfaRule">
											<option th:each="forceMfaRequired : ${T(dk.digitalidentity.common.dao.model.enums.ForceMFARequired).values()}" th:value="${forceMfaRequired}" th:text="#{__${forceMfaRequired.message}__}" th:selected="${forceMfaRequired.toString()} == ${kombitSubSystemMfa}"></option>
										</select>
									</div>
								</div>
								
								<div class="table-responsive">
									<table id="claimTable" class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th style="width: 400px;">Navn</th>
												<th>EntityId</th>
												<th style="width: 250px;">Kræv 2-faktor login</th>
											</tr>
										</thead>
										
										<tbody>
											<tr th:each="subsystem : ${kombitSubsystems}">
							    				<td>
							    					<em class="fa fa-fw fa-pencil namePencil" th:id="'namePencil-' + ${subsystem.id}" th:data-id="${subsystem.id}"></em>
							    					<em class="fa fa-fw fa-times nameCancel" style="display: none;" th:id="'nameCancel-' + ${subsystem.id}" th:data-id="${subsystem.id}"></em>
							    					<span style="margin-left: 10px;" th:id="'subsystem-name-' + ${subsystem.id}" th:text="${subsystem.name}"></span>
							    				</td>
							   			 		<td th:text="${subsystem.entityId}" />
							    				<td>
													<select class="form-control m-b forceMfaRequiredSelect" th:data-id="${subsystem.id}" style="margin-bottom: 0px;">
														<option th:each="forceMfaRequired : ${T(dk.digitalidentity.common.dao.model.enums.ForceMFARequired).values()}" th:value="${forceMfaRequired}" th:text="#{__${forceMfaRequired.message}__}" th:selected="${forceMfaRequired} == ${subsystem.forceMfaRequired}"></option>
													</select>
							    				</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
					
					<div th:replace="~{fragments/rightbar :: admin (page = 'admin.serviceprovider')}"></div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts (datatables = true, checkbox = true)}"></div>
	
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
		var rootUrl = [[@{/}]];
		var spUrl = [[@{/admin/konfiguration/tjenesteudbydere/}]];
		var attributeValueMap = [[${attributeValueMap}]];
		+]*/

		var token = $("meta[name='_csrf']").attr("content");

		$(document).ready(function() {
			$('#kombitDefaultMfaRule').on('change', function() {
				var rule = $(this).val();

				$.ajax({
					url: rootUrl + 'rest/admin/konfiguration/tjenesteudbydere/kombitMfa/' + rule,
					method: "POST",
					headers: {
     			      'X-CSRF-TOKEN': token
     			   	},
     			   	success: function(data, textStatus, jQxhr) {
						toastr.success('2-faktor regel opdateret')
     			   	},
     			   	error: function(jQxhr, textStatus, errorThrown) {
						toastr.error('Opdateringen af 2-faktor reglen fejlede');
     			   	}
				});
			});

			$('.nameCancel').on('click', function() {
				var id = $(this).data('id');

				$('#namePencil-' + id).removeClass('fa-save');
				$('#namePencil-' + id).addClass('fa-pencil');
				$('#nameCancel-' + id).hide();

				var spanElem = $('#subsystem-name-' + id);
				var inputElem = $('#subsystem-name-input-' + id);
				inputElem.remove();
				spanElem.show();
			});

			// Set displaynames for claims based on data-val attribute
			var dataValueObj = $('#claimTable tbody tr td[data-type="value"]');
			for (var i = 0; i < dataValueObj.length; i++) {
				var obj = $(dataValueObj[i]);
				var actualValue = obj.data('val');
				var displayValue = attributeValueMap[actualValue];

				if (displayValue) {
					obj.text(displayValue);
				}
			}
			
			$('.namePencil').on('click', function() {
				var id = $(this).data('id');

				if ($(this).hasClass('fa-pencil')) {
					$(this).removeClass('fa-pencil');
					$(this).addClass('fa-save');
	
					var spanElem = $('#subsystem-name-' + id);
					$('<input type="text" id="subsystem-name-input-' + id + '" style="display: inline-block; width: 324px; margin-left: 10px;" class="form-control"></input>').insertAfter(spanElem);
					spanElem.hide();
					
					$('#nameCancel-' + id).show();
					
					$('#subsystem-name-input-' + id).focus();
					$('#subsystem-name-input-' + id).val(spanElem.text());
				}
				else {
					$(this).removeClass('fa-save');
					$(this).addClass('fa-pencil');
					$('#nameCancel-' + id).hide();

					var spanElem = $('#subsystem-name-' + id);
					var inputElem = $('#subsystem-name-input-' + id);
					var newValue = inputElem.val();
					inputElem.remove();

					$.ajax({
						url: rootUrl + 'admin/konfiguration/tjenesteudbydere/kombit/subsystem/' + id + '/name',
						method: "POST",
						headers: {
	     			      'X-CSRF-TOKEN': token
	     			   	},
	     			   	contentType: 'application/json',
	     			   	data: JSON.stringify({'name': newValue }),
	     			   	success: function(data, textStatus, jQxhr) {
							toastr.success('Opdateringen gennemført')

							spanElem.text(newValue);
							spanElem.show();
	     			   	},
	     			   	error: function(jQxhr, textStatus, errorThrown) {
							toastr.error('Opdateringen fejlede');
							
							spanElem.show();
	     			   	}
					});
				}
			});
			
			$('.forceMfaRequiredSelect').on('change', function() {
				var id = $(this).data('id');
				var choice = $(this).val();

				$.ajax({
					url: rootUrl + 'admin/konfiguration/tjenesteudbydere/kombit/subsystem/' + id + '/mfa/' + choice,
					method: "POST",
					headers: {
     			      'X-CSRF-TOKEN': token
     			   	},
     			   	success: function(data, textStatus, jQxhr) {
						toastr.success('Opdateringen gennemført')
     			   	},
     			   	error: function(jQxhr, textStatus, errorThrown) {
						toastr.error('Opdateringen fejlede');
     			   	}
				});				
			});
		});
		
		this.reloadMetadata = function () {
			var id = $('#id').val();
			$.ajax({
				url: spUrl + id + "/reload",
				method: "POST",
				headers: {
					'X-CSRF-TOKEN': token
				},
				contentType: 'application/json',
				success: function(data, textStatus, jQxhr) {
					toastr.success("Indlæsning påbegyndt. Der kan gå op til 5 minutter før data er fuldt indlæst.");
				},
				error: function(jQxhr, textStatus, errorThrown) {
					toastr.error("Fejl: " + jQxhr.responseText);
				}
			});
		}
		/*]]>*/
	</script>
</body>
</html>
