<!DOCTYPE html>
<html>

<head th:replace="~{fragments/header :: header}" />

<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar}"></div>

			<div class="loginColumns animated fadeInDown" style="max-width: 1500px;">
				<div class="row">
					<div class="ibox offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-xl-8 offset-xl-2">
						<div class="ibox-title">
							<h5><em class="fa fa-user"></em> &nbsp; Vælg kodeord</h5>
						</div>

						<div class="ibox-content">
							<form id="pwForm" class="m-t" role="form" th:action="@{/change-password-next}" method="post">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" type="password" name="oldPW" id="oldPW" placeholder="Nuværende kodeord">
										<div class="input-group-append" data-id="oldPW">
											<span class="input-group-text form-control" style="background-color: white;"><i id="toggleView_oldPW" class="fa-fw fa fa-eye"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group" id="newPWDiv">
										<input class="form-control" type="password" name="newPW" id="newPW" placeholder="Nyt kodeord">
										<div class="input-group-append" data-id="newPW">
											<span class="input-group-text form-control" style="background-color: white;"><i id="toggleView_newPW" class="fa-fw fa fa-eye"></i></span>
										</div>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group" id="repeatPWDiv">
										<input class="form-control" type="password" name="repeatPW" id="repeatPW" placeholder="Gentag nyt kodeord">
										<div class="input-group-append" data-id="repeatPW">
											<span class="input-group-text form-control" style="background-color: white;"><i id="toggleView_repeatPW" class="fa-fw fa fa-eye"></i></span>
										</div>
									</div>
								</div>
								<ul>
									<li style="display: none; color: #cc0000;" id="errMsg"></li>
									<li style="display: none; color: #cc0000;" id="matchError">De to kodeord er ikke identiske</li>
								</ul>
								
								<th:block th:if="${failureReason != null && !#strings.isEmpty(failureReason)}"  class="form-group">
									<p class="has-error" style="color:  #cc0000;" th:text="${failureReason}"></p>
								</th:block>

								<input type="hidden" id="personId" name="personId" th:value="${personId}"/>
								<input type="hidden" id="redirectUrl" name="redirectUrl" th:value="${redirectUrl}"/>

								<th:block th:if="${settings != null}">
									<th:block th:replace="~{fragments/password-settings :: list(settings = ${settings}, disallowNameAndUsernameContent = ${disallowNameAndUsernameContent}, activation = false)}"></th:block>
								</th:block>

								<button id="submitBtn" type="submit" class="btn btn-primary block full-width m-b">Skift kodeord</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts}" />
	<script th:inline="javascript">
		/*<![CDATA[*/

		/*[+
			var userId = [[${personId}]];
			var baseUrl = [[@{/}]]
			var validPWUrl = [[@{/sso/saml/rest/validpassword/nonflow}]];
		+]*/
		var token = $("meta[name='_csrf']").attr("content");
		var errorMsg = "";

		var passwordService;
		$( document ).ready( function() {
			passwordService = new PasswordService();
			passwordService.init();

		});

		function PasswordService() {
			this.init = function() {
				passwordService.initTogglePasswordVisibility();
				passwordService.initPasswordValidation();
			}
			
			this.initTogglePasswordVisibility = function() {
				$(".input-group-append").click(function() {
					var id = $(this).data("id");
					var switchToText = $("#toggleView_" + id).hasClass("fa-eye");
					if (switchToText) {
						$("#" + id).prop("type", "text");
					} else {
						$("#" + id).prop("type", "password");
					}

					$("#toggleView_" + id).toggleClass("fa-eye");
					$("#toggleView_" + id).toggleClass("fa-eye-slash");
				});
			}

			this.initPasswordValidation = function() {
				// listeners for error message calculation
				$("#newPW").on("keyup", function(){
					$(".has-error").remove();
					
					passwordService.checkForMatchError();
					passwordService.validPassword();
				});
				$("#repeatPW").on("keyup", function(){
					passwordService.checkForMatchError();
				});
			}


			this.checkForMatchError = function() {
				var pw = $("#newPW").val();
				var repeatPW = $("#repeatPW").val();


				if (pw.length > 0 && repeatPW.length > 0 && pw != repeatPW) {
					$("#matchError").show();
				} else {
					$("#matchError").hide();
				}
			}

			this.validPassword = function() {
				var password = $("#newPW").val();
				var body = {
					'userId': userId,
					'password': password
				}
				if (password.length > 0 ) {
					$.ajax({
						method : "POST",
						url: validPWUrl,
						headers: {
							'X-CSRF-TOKEN': token
						},
						contentType: 'application/json',
						data: JSON.stringify(body),
						success: function() {
							$("#errMsg").hide();
						},
						error: function(result) {
							var errLabel = $("#errMsg");
							errLabel.text(result.responseText);
							errLabel.show();
						}
					});
				} else {
					$("#errMsg").hide();
				}
			}
		}
	</script>
</body>

</html>
