<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar (page = 'otherUsers.see-password')}"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5><em class="fa fa-user"></em> &nbsp; Se elevs kodeord</h5>
                            </div>
    
                            <div class="ibox-content">
                                <p>Se kodeord for <span th:text="${person.name}"></span></p>
                                <div class="form-group">
									<div class="input-group">
										<input type="password" id="password" th:value="${decrypted}" class="form-control" style="border-right: none; background-color: #FFFFFF;" readonly="readonly"/>
										<div class="input-group-append" data-id="password">
											<span class="input-group-text form-control" style="background-color: white;"><i id="toggleView_password" class="fa-fw fa fa-eye"></i></span>
										</div>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
					
					<div th:replace="~{fragments/rightbar :: otherUsers (page = 'otherUsers.see-password')}"></div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}" />
		</div>
	</div>

	<style>
		.form-control:focus, .single-line:focus {
    		border-color: #E5E6E7;
		}
	</style>
	
	<div th:replace="~{fragments/footer :: scripts}" />
	<script th:inline="javascript">
            /*<![CDATA[*/

            /*[+
                var redirectUrl = [[${redirectUrl}]];
            +]*/

			var token = $("meta[name='_csrf']").attr("content");
            $(document).ready(function() {

            	// change type of input
				$(".input-group-append").click(function() {
					var id = $(this).data("id");
					var switchToText = $("#toggleView_" + id).hasClass("fa-eye");
					if (switchToText) {
						$("#" + id).prop("type", "text");
					} else {
						$("#" + id).prop("type", "password");
					}

					$("#toggleView_" + id).toggleClass("fa-eye");
					$("#toggleView_" + id).toggleClass("fa-eye-slash");
				});
            });

            /*]]>*/
    </script>
</body>
</html>
