<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar (page = 'otherUsers.index')" />

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-9">
						<div class="ibox">
							<div class="ibox-title">
								<h5><em class="fa fa-info"></em> &nbsp; Administration af brugere</h5>
							</div>

							<div class="ibox-content">
								<p>
                                Her kan man foretage administration af brugere som ikke er tildelt en såkaldt erhvervsidentitet. Det er ikke muligt
                                at anvende disse menupunkter på brugere der er tildelt muligheden for at få en erhvervsidentitet, da disse er underlagt
                                yderligere sikkerhedskrav.
								</p>

								<p>
								Klik på de enkelte menupunkter i højre side for at tilgå den valgte funktion.
								</p>
							</div>
						</div>
					</div>
					
					<div th:replace="fragments/rightbar :: otherUsers (page = 'otherUsers.index')" />
				</div>
			</div>

			<div th:replace="fragments/footer :: footer" />
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts" />
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		
		/*[+
		var flashMessage = [[${flashMessage}]];
		+]*/

		$(document).ready(function() {
			if (flashMessage != undefined) {
				toastr.success(flashMessage);
			}
		});

        /*]]>*/
	</script>
</body>
</html>
