<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}"></head>
<body class="top-navigation">
	<div id="wrapper">
	    <div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar}"></div>

	        <div class="wrapper wrapper-content">
	            <div class="row">
	                <div class="col-lg-12">
                        <div class="ibox">
                            <div class="ibox-title">
                                <h5><em class="fa fa-info"></em> &nbsp; Info</h5>
                            </div>
							
                            <div class="ibox-content" >
								<h4>Information om versionen af OS2faktor Login</h4>
								<p th:text="'Version: ' + ${releaseVersion}"></p>
								<p th:text="'BuildId: ' + ${gitCommitId}"></p>
								<p th:text="'Timestamp: ' + ${gitBuildTime}"></p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>

			<div th:replace="~{fragments/footer :: footer}"></div>
	    </div>
	</div>

	<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>
