<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}"></head>
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar}"></div>

			<div class="wrapper wrapper-content">
				<div class="row">
					<div class="col-lg-12">
						<div class="middle-box text-center animated fadeInDown" style="margin-top: 40px;">
							<h1 style="font-size:150px;"><em class="fa fa-lock"></em></h1>
							<h2 style="font-size:40px;">Du har ikke adgang til denne side.</h2>
					
							<div class="error-desc">
								<h3><a th:href="@{/}" >Gå til forsiden</a></h3>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div th:replace="~{fragments/footer :: footer}"></div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts}"></div>
</body>
</html>
