<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header (checkbox = false)}"></head>
<body class="gray-bg">
	<div th:replace="~{fragments/topbar :: topbar}"></div>

    <div class="loginColumns animated fadeInDown">
        <div class="row">
            <div class="ibox offset-md-2 col-md-8">
                <div class="ibox-title">
                    <h5><em class="fa fa-check "></em> &nbsp; Kodeord skiftet</h5>
                </div>

                <div class="ibox-content">
                    <p>
                        Dit kodeord er nu blevet skiftet.
                        <th:block th:if="${redirectUrl != null && !#strings.isEmpty(redirectUrl)}">
                            Du vil automatisk blive ledt tilbage til den side du kom fra inden for 15 sekunder, hvis dette ikke sker automatisk kan du trykke
                            <a th:href="${redirectUrl}">her</a>
                        </th:block>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="~{fragments/footer :: scripts (checkbox = false)}"></div>

    <script th:inline="javascript">
            /*<![CDATA[*/

            /*[+
                var redirectUrl = [[${redirectUrl}]];
            +]*/

            $(document).ready(function() {
                // If string is not null, empty or whitespace redirect
                if (redirectUrl != null && redirectUrl.match(/^\s*$/) === null) {
                    setTimeout(function() {
                        window.location.href = redirectUrl;
                    }, 15000);
                }
            });

            /*]]>*/
    </script>
</body>
</html>