<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar"></div>
			
			<div class="loginColumns animated fadeInDown" style="max-width: 1500px;">
				<div class="row">
					<div class="ibox offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-xl-8 offset-xl-2">
						<div class="ibox-title">
							<h5><em class="fa fa-user"></em> &nbsp; Antallet af daglige kodeordsskifte overskredet</h5>
						</div>

						<div class="ibox-content">
							<p th:utext="${@cmsMessageBundle.getText('cms.changePassword.too-many-times.error')}"></p>
							<br/>
		                	<th:block th:if="${redirectUrl} != null">
		                		<a th:href="${redirectUrl}">Gå tilbage</a>
	                        </th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="fragments/footer :: scripts" />
</body>
</html>
