<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: header" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="fragments/topbar :: topbar"></div>
			
			<div class="loginColumns animated fadeInDown" style="max-width: 1500px;">
				<div class="row">
					<div class="ibox offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-xl-8 offset-xl-2">
						<div class="ibox-title">
							<h5><em class="fa fa-user"></em> &nbsp; Vælg kodeord</h5>
						</div>

						<div class="ibox-content">
							<div th:if="${@cmsMessageBundle.getText('cms.changePassword.content')} != ''">
		                		<div th:utext="${@cmsMessageBundle.getText('cms.changePassword.content')}"></div>
		                		<br/>
		                	</div>

		                	<p th:if="${samaccountName != null}"><strong>Brugerkonto: </strong><span th:text="${samaccountName}"></span></p>
							<form class="m-t" role="form" action="#" th:action="@{/sso/saml/changepassword}" th:object="${passwordForm}" method="post">
								<div class="form-group">
									<input type="password" th:field="*{password}" class="form-control" placeholder="Nyt kodeord" autofocus="autofocus" />
									<ul th:if="${#fields.hasErrors('password') or technicalError == true}" class="error">
										<li th:if="${technicalError == true}">Det valgte kodeord blev afvist af din organisations Active Directory</li>
										<li th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
									</ul>
								</div>

								<div class="form-group">
									<input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Gentag kodeord" />
									<ul th:if="${#fields.hasErrors('confirmPassword')}" class="error">
										<li th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"/>
									</ul>
								</div>

								<button type="submit" class="btn btn-primary block full-width m-b">Skift kodeord</button>
							</form>
							<th:block th:replace="fragments/password-settings :: list(settings = ${settings}, activation = false)"/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style>
		ul.error li {
			color: red;
		}
	</style>

	<div th:replace="fragments/footer :: scripts" />
</body>
</html>
