<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar}"></div>
			
			<div class="loginColumns animated fadeInDown" style="max-width: 1500px;">
				<div class="row">
					<div class="ibox offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-xl-8 offset-xl-2">
						<div class="ibox-title">
							<h5><em class="fa fa-user"></em> &nbsp; Vælg kodeord</h5>
						</div>

						<div class="ibox-content">
							<div th:if="${@cmsMessageBundle.getText('cms.changePassword.content')} != ''">
		                		<div th:utext="${@cmsMessageBundle.getText('cms.changePassword.content')}"></div>
		                		<br/>
		                	</div>

		                	<p th:if="${samaccountName != null}"><strong>Brugerkonto: </strong><span th:text="${samaccountName}"></span></p>
							<form th:unless="${youngStudent}" class="m-t" role="form" action="#" th:action="@{/sso/saml/changepassword}" th:object="${passwordForm}" method="post">
								<div th:unless="${authenticatedWithNemId}" class="form-group">
									<div class="input-group">
										<input type="password" th:field="*{oldPassword}" class="form-control" placeholder="Gammelt kodeord" autofocus="autofocus" style="border-right: none;"/>
										<div class="input-group-append" data-id="oldPassword">
											<span class="input-group-text form-control" style="background-color: white;"><i id="toggleView_oldPassword" class="fa-fw fa fa-eye"></i></span>
										</div>
									</div>

									<ul th:if="${#fields.hasErrors('oldPassword')}" class="error">
										<li th:each="err : ${#fields.errors('oldPassword')}" th:text="${err}"/>
									</ul>
								</div>

								<div class="form-group">
									<div class="input-group">
										<input type="password" th:field="*{password}" class="form-control" placeholder="Nyt kodeord" autofocus="autofocus" style="border-right: none;" />
										<div class="input-group-append" data-id="password">
											<span class="input-group-text form-control" style="background-color: white;"><i id="toggleView_password" class="fa-fw fa fa-eye"></i></span>
										</div>
									</div>

									<ul class="error">
										<li th:if="${technicalError == true}" th:utext="${@cmsMessageBundle.getText('cms.changePassword.content.error')}"></li>
										<li th:if="${insufficientPermission == true}"><th:block th:text="${@cmsMessageBundle.getText('cms.changePassword.insufficient-permission')}"></th:block></li>
										<li th:if="${#fields.hasErrors('password')}" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
										<li id="invalidError">Kodeordet lever ikke op til kodeordskompleksitetskravene</li>
									</ul>
								</div>

								<div class="form-group">
									<div class="input-group">
										<input type="password" th:field="*{confirmPassword}" class="form-control" placeholder="Gentag kodeord" style="border-right: none;" />
										<div class="input-group-append" data-id="confirmPassword">
											<span class="input-group-text form-control" style="background-color: white;"><i id="toggleView_confirmPassword" class="fa-fw fa fa-eye"></i></span>
										</div>
									</div>

									<ul class="error">
										<li th:if="${#fields.hasErrors('confirmPassword')}" th:each="err : ${#fields.errors('confirmPassword')}" th:text="${err}"/>
										<li id="matchError">De to kodeord er ikke identiske</li>
									</ul>
								</div>

								<button type="submit" class="btn btn-primary block full-width m-b">Skift kodeord</button>
							</form>
							
							<form th:if="${youngStudent}" class="m-t" role="form" action="#" th:action="@{/sso/saml/changepassword}" th:object="${passwordForm}" method="post">
								<input type="password" th:field="*{password}" class="form-control" hidden />
								<input type="password" th:field="*{confirmPassword}" class="form-control" hidden/>
								
								<div th:unless="${authenticatedWithNemId}" class="form-group">
									<div class="input-group">
										<input type="password" th:field="*{oldPassword}" class="form-control" placeholder="Gammelt kodeord" autofocus="autofocus" style="border-right: none; font-size: 20px; height: 50px;"/>
										<div class="input-group-append" data-id="oldPassword">
											<span class="input-group-text form-control" style="background-color: white; font-size: 20px; height: 50px;"><i id="toggleView_oldPassword" class="fa-fw fa fa-eye"></i></span>
										</div>
									</div>

									<ul th:if="${#fields.hasErrors('oldPassword')}" class="error">
										<li th:each="err : ${#fields.errors('oldPassword')}" th:text="${err}"/>
									</ul>
								</div>
								
								<div class="form-group row col-lg-12">
									<select id="word1" class="form-control col-lg-4" style="font-size: 20px; height: 50px; margin-right: 10px;">
										<option th:each="word : ${firstWordList}" th:text="${word}" th:value="${word}"/>
									</select>
									<select id="number" class="form-control col-lg-3" style="font-size: 20px; height: 50px; margin-right: 10px;">
										<option th:each="number : ${numberList}" th:text="${number}" th:value="${number}"/>
									</select>
									<select id="word2" class="form-control col-lg-4" style="font-size: 20px; height: 50px;">
										<option th:each="word : ${secondWordList}" th:text="${word}" th:value="${word}"/>
									</select>

									<ul class="error">
										<li th:if="${technicalError == true}">Det valgte kodeord blev afvist af din organisations Active Directory</li>
										<li th:if="${insufficientPermission == true}"><th:block th:text="${@cmsMessageBundle.getText('cms.changePassword.insufficient-permission')}"></th:block></li>
										<li th:if="${#fields.hasErrors('password')}" th:each="err : ${#fields.errors('password')}" th:text="${err}"/>
										<li id="invalidError">Kodeordet lever ikke op til kodeordskompleksitetskravene</li>
									</ul>
								</div>

								<button type="submit" class="btn btn-primary block full-width m-b" style="font-size: 20px; height: 50px;">Skift kodeord</button>
							</form>
							
							<p th:unless="${youngStudent}" id="rulesToggle">
								<em id="rulesToggleIconDown" class="fa fa-caret-right"></em>
								<em id="rulesToggleIconUp" class="fa fa-caret-down"></em>
								<span>Regler for kodeordskompleksitet</span>
							</p>

							<th:block th:unless="${youngStudent}" th:replace="~{fragments/password-settings :: list(settings = ${settings}, activation = false)}"></th:block>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<style>
		ul.error li {
			color: red;
		}
		
		#rulesToggle {
			cursor: pointer;
		}

		.form-control:focus, .single-line:focus {
    		border-color: #E5E6E7;
		}
	</style>

	<div th:replace="~{fragments/footer :: scripts}" />
	<script th:inline="javascript">
            /*<![CDATA[*/

            /*[+
                var redirectUrl = [[${redirectUrl}]];
            	var youngStudent = [[${youngStudent}]];
            +]*/

			var token = $("meta[name='_csrf']").attr("content");
			var passwordService;
            $(document).ready(function() {
            	passwordService = new PasswordService();
            	
            	if (youngStudent) {
            		passwordService.isYoungStudentInit();
            		
            		// trigger initial update of password :)
            		passwordService.handleYoungPasswordChange();
				}

            	$(".pwSettings").hide();
            	$("#rulesToggleIconUp").hide();
            	
                $("#rulesToggle").click(function() {
					$(".pwSettings").toggle();
					$("#rulesToggleIconUp").toggle();
					$("#rulesToggleIconDown").toggle();
				});

				// change type of input
				$(".input-group-append").click(function() {
					var id = $(this).data("id");
					var switchToText = $("#toggleView_" + id).hasClass("fa-eye");
					if (switchToText) {
						$("#" + id).prop("type", "text");
					} else {
						$("#" + id).prop("type", "password");
					}

					$("#toggleView_" + id).toggleClass("fa-eye");
					$("#toggleView_" + id).toggleClass("fa-eye-slash");
				});

				// initial error message calculation
				passwordService.checkForMatchError();
				passwordService.validPassword();

				// listeners for error message calculation
				$("#password").on("keyup", function(){
					passwordService.checkForMatchError();
					passwordService.validPassword();
				});
				$("#confirmPassword").on("keyup", function(){
					passwordService.checkForMatchError();
				});
            });

            function PasswordService() {
				this.isYoungStudentInit = function() {
            		$("#word1").change(passwordService.handleYoungPasswordChange);
            		$("#number").change(passwordService.handleYoungPasswordChange);
            		$("#word2").change(passwordService.handleYoungPasswordChange);
            	}
            	
            	this.handleYoungPasswordChange = function() {
            		$("#password").val($("#word1").val() + $("#number").val() + $("#word2").val());
            		$("#confirmPassword").val($("#word1").val() + $("#number").val() + $("#word2").val());
            	}
            	
            	this.checkForMatchError = function() {
            		var pw = $("#password").val();
					var repeatPW = $("#confirmPassword").val();

					if (pw != repeatPW) {
						$("#matchError").show();
					} else {
						$("#matchError").hide();
					}
            	}

            	this.validPassword = function() {
            		var password = $("#password").val();

            		if (password.length > 0) {
						$.ajax({
								method : "POST",
								url: "/sso/saml/rest/validpassword",
								headers: {
									'X-CSRF-TOKEN': token
								},
								contentType: 'application/json',
								data: password
							}).done(function (data) {
								$("#invalidError").hide();
							}).fail(function(jqXHR, textStatus, errorThrown) {
								$("#invalidError").show();
							});
					}
					else {
						$("#invalidError").hide();
					}
            	}
            }

            /*]]>*/
    </script>
</body>
</html>
