<!DOCTYPE html>
<html>
<head th:replace="~{fragments/header :: header}" />
<body class="top-navigation">
	<div id="wrapper">
		<div id="page-wrapper" class="gray-bg">
			<div th:replace="~{fragments/topbar :: topbar}"></div>
			
			<div class="loginColumns animated fadeInDown" style="max-width: 1500px;">
				<div class="row">
					<div class="ibox offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-xl-8 offset-xl-2">
						<div class="ibox-title">
							<h5><em class="fa fa-user"></em> &nbsp; <th:block th:text="${@cmsMessageBundle.getText('cms.index.forgotPasswordOrLocked')}"></th:block></h5>
						</div>

						<div class="ibox-content inspinia-timeline">
			                <p th:if="${sAMAccountName != null}">
			                	<strong>Brugerkonto: </strong>
			                	<span th:text="${sAMAccountName}"></span>
			                </p>

							<div class="timeline-item">
								<div class="row">
									<div class="col-lg-4">
										<a class="btn btn-primary col-lg-12" th:href="${'/sso/saml/changepassword?redirectUrl=' + redirectUrl}">Skift kodeord</a>
									</div>
									
									<div class="col-lg-8 mt-2">
										<div th:if="${@cmsMessageBundle.getText('cms.forgotPasswordOrLocked.changePassword')} != ''">
					                		<div th:utext="${@cmsMessageBundle.getText('cms.forgotPasswordOrLocked.changePassword')}"></div>
					                	</div>
									</div>
								</div>
							</div>

							<div class="timeline-item mt-3" th:if="${@commonConfiguration.getCustomer().isEnableUnlockAccount() and sAMAccountName != null}">
								<div class="row">
									<div class="col-lg-4">
										<a class="btn btn-primary col-lg-12" th:href="${@commonConfiguration.getSelfService().getBaseUrl() + '/selvbetjening/unlockAccount'}">Lås windows konto op</a>
									</div>
									<div class="col-lg-8 mt-2">
										<div th:if="${@cmsMessageBundle.getText('cms.forgotPasswordOrLocked.unlockAD')} != ''">
					                		<div th:utext="${@cmsMessageBundle.getText('cms.forgotPasswordOrLocked.unlockAD')}"></div>
					                	</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="~{fragments/footer :: scripts}" />
</body>
</html>
